{layout="_layouts/.default"
	body_class="view--cms-page"
}

	{exp:channel:entries
		channel="tekst"
		disable="pagination|member_data|trackbacks|categories|category_fields"
		require_entry="yes"
		limit="1"
	}
	
	{if no_results}{redirect="/pagina-niet-gevonden"}{/if}
		
	{if tekst_masthead_tonen == '1'}
	
	{layout:set name="body_class"}view--cms-page view--cms-page-masthead{/layout:set}
		
	{layout:set name="extra_css"}
	<style type="text/css">
		@media (max-width: 767px) {
			/* {tekst_masthead_afbeelding_klein} */
			.section--masthead .section--masthead__outer {
				background-image: url({exp:ce_img:single src='{tekst_masthead_afbeelding_klein}' width='480' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
			}
		}
		@media (min-width: 768px) {
			/* {tekst_masthead_afbeelding} */
			.section--masthead .section--masthead__outer {
				background-image: url({exp:ce_img:single src='{tekst_masthead_afbeelding}' width='1920' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
			}
		}
	</style>
	{/layout:set}
	
	<section class="section section--masthead section--masthead-compact">

		<div class="section--masthead__outer">
			
			<div class="section--masthead__inner">
				<div class="container">
					
					<hgroup class="page-title">
						<h1><span>{tekst_masthead_paginatitel}</span></h1>
						{if tekst_masthead_subtitel != ""}<p class="lead"><span>{tekst_masthead_subtitel}</span></p>{/if}
					</hgroup>
					
				</div><!-- /container -->	
				
			</div><!-- /inner -->
			
		</div><!-- /outer -->		
			
	</section><!-- /section -->
	
	{/if}
				
	<section class="section section--cms-page py-3">
		<div class="container">

			<div class="row">
				<div class="col-lg-10 col-lg-offset-1">

					{_partial_breadcrumb}

					<div class="block block--text">

						<hgroup class="block__title">
							<h1><span>{tekst_paginatitel}</span></h1>
						</hgroup>

						{if tekst_afbeelding != ""}
						<figure class="block__figure">
							{exp:ce_img:single
								src="{tekst_afbeelding}"
								width="1170"
								height="600"
								crop="yes|center,center"
								allow_scale_larger="yes"
								title="{tekst_afbeelding:title}"
								alt="{tekst_afbeelding:alt_text}"
								class="img-responsive"
							}
						</figure>
						{/if}

						<div class="block__content">

							{tekst_inhoud}

						</div>
					</div><!-- /block -->

					{tekst_content_blocks}

					{if tekst_content_blocks:first}
					<div class="content-blocks">
					{/if}

						{tekst_content_blocks:content_block_tekst}

						{content}
						<div class="content-block content-block--text">
							<div class="block block--text">

								{if content:titel != ''}
								<header class="block__title mb-1">
									<h2 class="h3 mt-0 mb-0">{content:titel}</h2>
								</header>
								{/if}

								<div class="block__content">

									{content:tekst}

								</div>
							</div><!-- /block -->
						</div>
						{/content}

						{/tekst_content_blocks:content_block_tekst}

						{tekst_content_blocks:content_block_afbeelding_tekst}

						{content}
						<div class="content-block content-block--img-text">
							<div class="block">

								<div class="row">
									<div class="col-lg-4 {if content:positie_afbeelding == 'rechts'}col-lg-push-8{/if}">

										<div class="block block--image">
											<figure class="block__figure mb-0">
												{exp:ce_img:single
													src="{content:afbeelding}"
													width="720"
													crop="yes|center,center"
													allow_scale_larger="yes"
													title="{content:afbeelding:title}"
													alt="{content:afbeelding:alt_text}"
													class="img-responsive"
												}
											</figure>
										</div>

									</div>
									<div class="col-lg-8 {if content:positie_afbeelding == 'rechts'}col-lg-pull-4{/if}">

										<div class="block block--text">

											{if content:titel != ''}
											<header class="block__title mb-1">
												<h2 class="h3 mt-0 mb-0">{content:titel}</h2>
											</header>
											{/if}

											<div class="block__content">

												{content:tekst}

											</div>
										</div><!-- /block -->

									</div>
								</div>

							</div><!-- /block -->
						</div><!-- /content-block -->
						{/content}

						{/tekst_content_blocks:content_block_afbeelding_tekst}

						{tekst_content_blocks:content_block_quote}

						<div class="content-block content-block--quote">
							<div class="block block--quote">
								<div class="block__content">

									<blockquote class="blockquote">
										{content}
									</blockquote>

								</div>
							</div><!-- /block -->
						</div><!-- /content-block -->

						{/tekst_content_blocks:content_block_quote}

						{tekst_content_blocks:content_block_afbeelding}

						{content}

						<div class="content-block content-block--image">
							<div class="block block--image">
								<figure class="block__figure mb-0">
									{exp:ce_img:single
										src="{content:afbeelding}"
										width="920"
										height="518"
										crop="yes|center,center"
										allow_scale_larger="yes"
										title="{content:afbeelding:title}"
										alt="{content:afbeelding:alt_text}"
										class="img-responsive"
									}
								</figure>

								{if content:onderschrift != ''}

								<div class="block__content pt-1">
									<span class="text-muted small">{content:onderschrift}</span>
								</div>

								{/if}
							</div><!-- /block -->
						</div><!-- /content-block -->

						{/content}

						{/tekst_content_blocks:content_block_afbeelding}

						{tekst_content_blocks:content_block_embed}

						<div class="content-block content-block--embed">
							<div class="block block--embed">
								<div class="block__content">

									<div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item" src="{content}"></iframe>
									</div>

								</div>
							</div><!-- /block -->
						</div>

						{/tekst_content_blocks:content_block_embed}

					{if tekst_content_blocks:last}
					</div>
					{/if}

					{/tekst_content_blocks}

				</div>
			</div>

		</div><!-- /container -->			
	</section><!-- / section -->

	{if tekst_sectie:total_rows > 0}
		{tekst_sectie}
		<section class="section section--internship section--contrast section--breakout section--breakout-right">
			<div class="container">
				
				<div class="row">
					<div class="col-md-6">
						
						<div class="block block--text">
							
							<header class="block__title">
								<h2><span>{tekst_sectie:titel}</span></h2>
							</header>
							
							<div class="block__content">
								
								{tekst_sectie:inhoud}
								
							</div>
							
						</div><!-- /block -->
						
					</div><!-- /col -->
					
					<div class="col-md-6">
										
						<figure class="figure">
							{exp:ce_img:single
								src="{tekst_sectie:afbeelding}"
								width="1220"
								height="888"
								crop="yes|center,center"
								allow_scale_larger="yes"
								title="{tekst_sectie:afbeelding:title}"
								alt="{tekst_sectie:afbeelding:alt_text}"
								class="img-responsive"
							}
						</figure>
														
					</div><!-- /col -->
				</div><!-- /row -->
				
			</div><!-- /container -->
		</section><!-- /section -->
		{/tekst_sectie}
	{/if}
	
	
	{/exp:channel:entries}
