@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,400;1,700&family=Material+Icons&display=swap');


/* Frameworks and libraries */
@import "../bootstrap/bootstrap.less";
@import "../fontawesome/font-awesome.less";

@import '../verdelictenmedia/_variables.less';
@import '../verdelictenmedia/_mixins.less';
@import '../verdelictenmedia/_type.less';

.wygwam {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: .96875rem;
	line-height: 1.55;
	color: #333;
	padding: 10px;

	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		margin: 0 !important;
		color: #333333;
		font-family: @headings-font-family;
		line-height: @headings-line-height;
		font-weight: 700;
	}

	h1, .h1 { font-size: @font-size-h1; }
	h2, .h2 { font-size: @font-size-h2; }
	h3, .h3 { font-size: @font-size-h3; }
	h4, .h4 { font-size: @font-size-h4; }
	
	.buttons-set {
		margin-top: 30px;
	}

	.lead {
		font-size: 1.25rem;
		font-weight: 700;
		color: #333;
	}

	.continue {
		margin-top: 1rem;
		line-height: 1.25;
		& + .continue { margin-top: .75rem; }
		> a {
			font-weight: 700;
			text-decoration: none !important;
			color: @theme-purple;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			&:after {
				color: @theme-purple;
				font-family: "Material Icons", sans-serif;
				content: "east";
				margin-left: .25rem;
				transition: margin-left .2s ease-in;
			}
			&:hover, &:focus {
				&:after {
					margin-left: .5rem;
				}
			}
		}
		> a + a { margin-left: 30px; }
	}
}
