{layout="_layouts/.default"
	body_class="view--cms-page"
}

	{exp:channel:entries
		channel="tekst"
		disable="pagination|member_data|trackbacks|categories|category_fields"
		require_entry="yes"
		limit="1"
	}
	
	{if no_results}{redirect="/pagina-niet-gevonden"}{/if}
		
	{if tekst_masthead_tonen == '1'}
	
	{layout:set name="body_class"}view--cms-page view--cms-page-masthead{/layout:set}
		
	{layout:set name="extra_css"}
	<style type="text/css">
		@media (max-width: 767px) {
			/* {tekst_masthead_afbeelding_klein} */
			.section--masthead .section--masthead__outer {
				background-image: url({exp:ce_img:single src='{tekst_masthead_afbeelding_klein}' width='480' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
			}
		}
		@media (min-width: 768px) {
			/* {tekst_masthead_afbeelding} */
			.section--masthead .section--masthead__outer {
				background-image: url({exp:ce_img:single src='{tekst_masthead_afbeelding}' width='1920' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
			}
		}
	</style>
	{/layout:set}
	
	<section class="section section--masthead section--masthead-compact">

		<div class="section--masthead__outer">
			
			{_partial_breadcrumb}
			
			<div class="section--masthead__inner">
				<div class="container">
					
					<hgroup class="page-title">
						<h1><span>{tekst_masthead_paginatitel}</span></h1>
						{if tekst_masthead_subtitel != ""}<p class="lead"><span>{tekst_masthead_subtitel}</span></p>{/if}
					</hgroup>
					
				</div><!-- /container -->	
				
			</div><!-- /inner -->
			
		</div><!-- /outer -->		
			
	</section><!-- /section -->
	
	{/if}
				
	<section class="section section--cms-page">
		<div class="container">

			{if tekst_masthead_tonen != '1'}
				{_partial_breadcrumb}
			{/if}
	
			<div class="block block--text text-center">
			
				<hgroup class="block__title">
					<h1><span>{tekst_paginatitel}</span></h1>
				</hgroup>
				
				{if tekst_afbeelding != ""}
				<figure class="block__figure">
					{exp:ce_img:single
						src="{tekst_afbeelding}"
						width="1170"
						height="600"
						crop="yes|center,center"
						allow_scale_larger="yes"
						title="{tekst_afbeelding:title}"
						alt="{tekst_afbeelding:alt_text}"
						class="img-responsive"
					}					
				</figure>
				{/if}
				
				<div class="block__content">
					
					{tekst_inhoud}
					
				</div>
			</div>

		</div><!-- /container -->			
	</section><!-- / section -->
		
	<section class="section section--form" id="contactform">
		<div class="container">
				
			<div class="block block--form">
				
				<header class="block__title">
					<h2 class="h3"><span>Formulier vragenlijst</span></h2>
				</header>
				
				<div class="block__content">
							
					{if freebie_last == 'verzonden'}
								
						<div class="alert alert-success">
							<strong>Bedankt voor je aanvraag!</strong> 
							Het formulier is succesvol verzonden. 
						</div>
					
					{if:else}
					
						{exp:freeform_next:form
							form="obd_robots_programmeren"
							class="form validate"
							required="name|email|school|question1|question2|question3"
							return="{current_url}/verzonden#contactform"
						}

							{if form:has_errors}
							<div class="alert alert-danger">
								<div>Er heeft zich een technische fout voorgedaan. Het formulier is niet verzonden.</div>
								<ul>
									{form:errors}
									<li>{error}</li>
									{/form:errors}
								</ul>
							</div>
							{/if}
						
							<input type="hidden" name="url" value="{current_url}" />
							<input type="hidden" name="subject" value="{title}" />
														
							<div class="form-group">
								<label for="form-input-name" class="form-label">Namen: <span class="text-danger">*</span></label>
								<input type="text" name="name" id="form-input-name" class="form-control required" placeholder="Vul alle namen van je groep in" />
							</div>
														
							<div class="form-group">
								<label for="form-input-school" class="form-label">School <span class="text-danger">*</span></label>
								<input type="text" name="school" id="form-input-school" class="form-control required" />
							</div>
														
							<div class="form-group">
								<label for="form-input-group" class="form-label">Groep/klas:</label>
								<input type="text" name="group" id="form-input-group" class="form-control" />
							</div>
							
							<div class="form-group">
								<label for="form-input-email" class="form-label">E-mailadres: <span class="text-danger">*</span></label>
								<input type="text" name="email" id="form-input-email" class="form-control required email" />
							</div>
							
							<div class="form-group">
								<label for="form-input-phone" class="form-label">Telefoonnummer:</label>
								<input type="text" name="phone" id="form-input-phone" class="form-control" />
							</div>
							
							<div class="form-group">
								<label for="form-input-q1" class="form-label">Vraag 1: Deze robot is superslim en luistert op meerdere manieren naar je. Op welke manieren kun je de robot aansturen? <span class="text-danger">*</span></label>
								<textarea name="question1" id="form-input-q1" class="form-control required" rows="3" placeholder="Tip: het zijn er drie!"></textarea>
							</div>
							
							<div class="form-group">
								<label for="form-input-q2" class="form-label">Vraag 2: Wat kan de robot nog meer doen? <span class="text-danger">*</span></label>
								<textarea name="question2" id="form-input-q2" class="form-control required" rows="3"></textarea>
							</div>
							
							<div class="form-group">
								<label for="form-input-q3" class="form-label">Vraag 3: Wat denk je dat robots de komende 20 jaar voor jou kunnen betekenen? <span class="text-danger">*</span></label>
								<textarea name="question3" id="form-input-q3" class="form-control required" rows="3"></textarea>
							</div>
							
							<div class="buttons-set">
								<button type="submit" class="btn btn-primary">
									<span>Verzenden</span>
								</button>
							</div>
							
						{/exp:freeform_next:form}
					
					{/if}
					
				</div>
				
			</div><!-- /block -->
			
		</div><!-- /container -->
	</section><!-- /section -->
	
	
	{/exp:channel:entries}
