{layout="_layouts/.default"
	body_class="view--expert-center"
}

	{exp:channel:entries
		channel="expert_center"
		disable="pagination|member_data|trackbacks|categories|category_fields"
		require_entry="yes"
		limit="1"
	}
	
		{if no_results}{redirect="/pagina-niet-gevonden"}{/if}
		
		{layout:set name="extra_css"}
		<style type="text/css">
			@media (max-width: 767px) {
				/* {ec_masthead_afbeelding_klein} */
				.section--masthead .section--masthead__outer {
					background-image: url({exp:ce_img:single src='{ec_masthead_afbeelding_klein}' width='480' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
				}
			}
			@media (min-width: 768px) {
				/* {ec_masthead_afbeelding} */
				.section--masthead .section--masthead__outer {
					background-image: url({exp:ce_img:single src='{ec_masthead_afbeelding}' width='1920' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
				}
			}
		</style>
		{/layout:set}

		<section class="section section--masthead section--masthead-compact mb-3">
	
			<div class="section--masthead__outer">
				
				<div class="section--masthead__inner">
					<div class="container">
						
						<hgroup class="page-title">
							<h1><span>{ec_masthead_paginatitel}</span></h1>
							{if ec_masthead_subtitel != ""}<p class="lead"><span>{ec_masthead_subtitel}</span></p>{/if}
						</hgroup>
						
					</div><!-- /container -->	
					
				</div><!-- /inner -->
				
			</div><!-- /outer -->		
				
		</section><!-- /section -->
	
		<section class="section section--intro mb-3">
			<div class="container">

				<div class="row">
					<div class="col-lg-10">
				
						<div class="block block--text">

							{if ec_intro_titel != ""}
							<header class="block__title">
								<h2><span>{ec_intro_titel}</span></h2>
							</header>
							{/if}

							<div class="block__content">

								{ec_intro_inhoud}

							</div>
						</div><!-- /block -->

					</div>
				</div>
										
			</div><!-- /container -->
		</section><!-- /section -->
	
		{if ec_diensten_grid:total_rows > 0}
		<section class="section section--services mb-3">
			<div class="container">
				
				<div class="block block--services-list">
					<div class="block__content">
				
						{ec_diensten_grid}
						{if ec_diensten_grid:count == 1}<ol>{/if}
							<li>
								<div class="block block--service">
									
									<figure class="block__figure">
										<a href="{ec_diensten_grid:link}">
										{exp:ce_img:single
											src="{ec_diensten_grid:afbeelding}"
											width="700"
											height="400"
											crop="yes|center,center"
											allow_scale_larger="yes"
											title="{ec_diensten_grid:afbeelding:title}"
											alt="{ec_diensten_grid:afbeelding:alt_text}"
											class="img-responsive"
										}</a>
									</figure>
									
									<header class="block__title">
										<h2 class="h4"><span><a href="{ec_diensten_grid:link}">{ec_diensten_grid:titel}</a></span></h2>
									</header>
									
									<div class="block__content">
										
										{ec_diensten_grid:inhoud}
										
										<p class="continue"><a href="{ec_diensten_grid:link_url}">{ec_diensten_grid:link_label}</a></p>
										
									</div>
									
								</div><!-- /block -->
							</li>
						{if ec_diensten_grid:count == ec_diensten_grid:total_rows}</ol>{/if}
						{/ec_diensten_grid}
						
					</div>
				</div><!-- /block -->
				
			</div><!-- /container -->
		</section><!-- /section -->
		{/if}
	
		{ec_sectie_uitgelicht}
		<section class="section section--breakout">
			<div class="container">
				
				<div class="row">
					
					<div class="col-sm-6 col-sm-push-6">		
										
						<figure class="figure">
							{exp:ce_img:single
								src="{ec_sectie_uitgelicht:afbeelding}"
								width="1220"
								height="888"
								crop="yes|center,center"
								allow_scale_larger="yes"
								title="{ec_sectie_uitgelicht:afbeelding:title}"
								alt="{ec_sectie_uitgelicht:afbeelding:alt_text}"
								class="img-responsive"
							}
						</figure>
														
					</div><!-- /col -->
					
					<div class="col-sm-6 col-sm-pull-6">
						
						<div class="block block--text">
							
							<header class="block__title">
								<h2><span>{ec_sectie_uitgelicht:titel}</span></h2>
							</header>
							
							<div class="block__content">
								
								{ec_sectie_uitgelicht:inhoud}
								
								<div class="buttons-set">
									<a href="{ec_sectie_uitgelicht:button_link}" class="btn btn-primary">
										<span>{ec_sectie_uitgelicht:button_label}</span>
									</a>
								</div>
								
							</div>
							
						</div><!-- /block -->
						
					</div><!-- /col -->
					
				</div><!-- /row -->
				
			</div><!-- /container -->
		</section><!-- /section -->
		{/ec_sectie_uitgelicht}
			
		{if ec_gerelateerde_experts:total_results > 0}
		<section class="section section--experts section--contrast py-3 mb-3">
			<div class="container">
				
				<div class="block block--experts">
	
					<header class="block__title mb-2">
						<h2 class="h2"><span>Maak kennis met onze experts</span></h2>
					</header>							
					
					<div class="block__content">							
				
						<ul>
							{ec_gerelateerde_experts
								limit="3"
								orderby="random"
							}
							<li>
								<div class="block block--expert">							
									<figure class="block__figure">
										<a href="#expertModal{ec_gerelateerde_experts:entry_id}" data-toggle="modal" data-target="#expertModal{ec_gerelateerde_experts:entry_id}">
											{exp:ce_img:single
												src="{ec_gerelateerde_experts:expert_afbeelding}"
												width="800"
												height="600"
												crop="yes|center,center"
												allow_scale_larger="yes"
												title="{ec_gerelateerde_experts:expert_afbeelding:title}"
												alt="{ec_gerelateerde_experts:expert_afbeelding:alt_text}"
												class="img-responsive"
											}
										</a>
										<figcaption class="caption">
											<a href="#expertModal{ec_gerelateerde_experts:entry_id}" data-toggle="modal" data-target="#expertModal{ec_gerelateerde_experts:entry_id}">
												<h4>{ec_gerelateerde_experts:title}</h4>
												<strong>{ec_gerelateerde_experts:expert_functie}</strong>
											</a>
										</figcaption>
									</figure>
								</div><!-- /block -->
								
								{embed="experts/.modal"
									entry_id="{ec_gerelateerde_experts:entry_id}"
								}
							</li>
							{/ec_gerelateerde_experts}
						</ul>
								
						<div class="buttons-set">
							<a href="{structure:page_url_for:20}" class="btn btn-primary">
								<span>Ons complete team</span>
							</a>
						</div>
						
					</div>
				</div><!-- /block -->
				
			</div><!-- /container -->
		</section><!-- /section -->
		{/if}
		
		<section class="section section--news mb-3">
			<div class="container">
				
				<div class="block block--article-list">
					
					<header class="block__title mb-2">
						<h3 class="h2"><span>In het nieuws</span></h3>
					</header>
					
					<div class="block__content">
						
						{embed="_embeds/.block_article_list"
							category_id="18"
							limit="3"
						}
			
						<div class="buttons-set">
							<a href="{structure:page_url_for:5}" class="btn btn-primary">
								<span>Meer nieuws</span>
							</a>
						</div>
						
					</div>
					
				</div><!-- /block -->
				
				
			</div><!-- /container -->
		</section><!-- /section -->
	
		{if ec_merken_grid:total_rows > 0}	
		<section class="section section--brand-list pt-3">
			<div class="container">
				
				<div class="block block--brands">
					
					<header class="block__title mb-2">
						<h3 class="h2 text-center"><span>Onze merken</span></h3>
					</header>
					
					<div class="block__content">
						
						{ec_merken_grid}
						{if ec_merken_grid:count == 1}<ul>{/if}
							<li>
								<figure class="brand">
									{if ec_merken_grid:link != ''}<a href="{ec_merken_grid:link}">{/if}
										{exp:ce_img:single
											src="{ec_merken_grid:logo}"
											width="120"
											crop="yes|center,center"
											allow_scale_larger="yes"
											title="{ec_merken_grid:logo:title}"
											alt="{ec_merken_grid:logo:alt_text}"
											class="img-responsive"
										}
									{if ec_merken_grid:link != ''}</a>{/if}
								</figure>
							</li>
						{if ec_merken_grid:count == ec_merken_grid:total_results}</ul>{/if}
						{/ec_merken_grid}
						
					</div>
					
				</div><!-- /block -->
				
			</div><!-- /container -->
		</section><!-- /section -->
		{/if}
		
		<div class="section section--map mt-3">

			<div id="verdel-map" class="replace-map"></div><!-- /ctes-map -->

			<div class="overlay">
				<div class="container">

					<div class="block block--text">

						<header class="block__title">
							<h3 class="h4"><span>{ec_google_maps_titel}</span></h3>
						</header>

						{if ec_google_maps_afbeelding_360 != ''}
						<figure class="block__figure">
							<a href="{ec_google_maps_link_360}" target="_blank">
								{exp:ce_img:single
									src="{ec_google_maps_afbeelding_360}"
									width="480"
									height="216"
									crop="yes|center,center"
									allow_scale_larger="yes"
									title="{ec_google_maps_afbeelding_360:title}"
									alt="{ec_google_maps_afbeelding_360:alt_text}"
									class="img-responsive"
								}
							</a>
							<figure class="caption">
								<a href="{ec_google_maps_link_360}" target="_blank">Binnen kijken</a>
							</figure>
						</figure>
						{/if}

						<div class="block__content">

							{ec_google_maps_inhoud}

							{if ec_google_maps_openingstijden:total_rows > 0}
							<div class="table-responsive">
								<table class="table table-condensed">
									<tbody>
										{ec_google_maps_openingstijden}
										<tr>
											<th>{ec_google_maps_openingstijden:label}</th>
											<td>{ec_google_maps_openingstijden:waarde}</td>
										</tr>
										{/ec_google_maps_openingstijden}
									</tbody>
								</table>
							</div><!-- /table-responsive -->
							{/if}

							<p class="continue"><a href="{structure:page_url_for:16}">Meer contact</a> <a href="https://www.google.com/maps/dir/Current+Location/Verdel+ICT+%26+Media" target="_blank">Plan jouw route</a></p>

						</div>
					</div><!-- /block -->

				</div><!-- /container -->
			</div><!-- /overlay -->
			
		</div><!-- /section -->
		
		{layout:set name="extra_js"}
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD14-Yu5_v01fVEzKtzVAH9EzrNVeXv5hM&callback=initMap"></script>
		<script type="text/javascript">
		    
		    function initialize() {
		        
		        // If viewport is wider than 480px, isDraggable = true, else isDraggable = false
		        var isDraggable     = $(document).width() > 480 ? true : false; 
		        var mapZoom     	= $(document).width() > 480 ? 16 : 16; 
		
		        var mapOptions = {              
		            zoom: mapZoom,
		            disableDefaultUI: false,
		            draggable: isDraggable,
		            scrollwheel: false,
		            styles: verdel_styles
		        };
		        
		        var map    = new google.maps.Map(document.getElementById('verdel-map'), mapOptions);
		        var bounds = new google.maps.LatLngBounds();    
		        var infoWindow;
		        var iconBase = '/assets/dist/img/';    
		
		        var latLng1 = new google.maps.LatLng(52.196942, 4.613463); //Veenderveld 32
		        
		        bounds.extend(latLng1);
		        
				map.fitBounds(bounds); 
				map.panToBounds(bounds);
				map.setZoom(mapZoom);
		            
		        var marker1 = new google.maps.Marker({
		            position: latLng1,
		            map: map,
		            title: "Verdel ICT &amp; Media",
		            icon: {
		                url: iconBase + 'google-maps-pin@2x.png',
		                scaledSize: new google.maps.Size(100, 100)
		            }
		        });
		        
		        google.maps.event.addListenerOnce(map, 'bounds_changed', function(event) {
					if (this.getZoom() > 10) {
						this.setZoom(16);
					}
				});
		    
		        google.maps.event.addListener(map, 'click', function(event){
		            this.setOptions({ scrollwheel: true });
		        });
		    
				google.maps.event.addDomListener(window, "resize", function() {
					var center = map.getCenter();
					google.maps.event.trigger(map, "resize");
					map.setCenter(center);
					map.fitBounds(bounds); 
					map.panToBounds(bounds);
				});
				
		        
		    }
			
		    google.maps.event.addDomListener(window, 'load', initialize);
		    
		</script>
		{/layout:set}
	
	{/exp:channel:entries}
