{layout="_layouts/.default"
	body_class="view--remote-support"
}

	{exp:channel:entries
		channel="hulp_op_afstand"
		disable="pagination|member_data|trackbacks|categories|category_fields"
		limit="1"
	}

	<section class="section section--cms-page py-3">
		<div class="container">
			
			<div class="row">
				<div class="col-md-8">
					
					<div class="block block--text">
					
						<hgroup class="block__title">
							<h1><span>{hoa_paginatitel}</span></h1>
						</hgroup>
						
						<div class="block__content">
							
							{hoa_inhoud}
							
						</div>
					</div>
					
				</div><!-- /col -->
				<div class="col-md-4">
					
					<div class="block block--remote-support">
						<div class="block__content">
							
							<ol>
								<li>
									<strong>Bel met een van onze experts:</strong>
									<a href="{exp:low_variables:single var="telefoonnummer_link"}">
										<i class="material-icons" aria-hidden="true">phone</i> {exp:low_variables:single var="telefoonnummer_label"}
									</a>
								</li>
								<li>
									<strong>Download hulp op afstand:</strong>
									
									<div class="buttons-set">
										
										<a href="{hoa_teamviewer_windows_link}" class="btn btn-light btn-block" target="_blank">
											<span><i class="fa fa-windows" aria-hidden="true"></i> Windows</span>
										</a>
										
										<a href="{hoa_teamviewer_apple_link}" class="btn btn-light btn-block" target="_blank">
											<span><i class="fa fa-apple" aria-hidden="true"></i> Apple</span>
										</a>
										
										{if hoa_teamviewer_overige_link != ''}
										
										<a href="{hoa_teamviewer_overige_link}" class="btn btn-light btn-block" target="_blank">
											<span>Overige</span>
										</a>
										
										{/if}
										
									</div>
									
								</li>
							</ol>
							
						</div>
					</div><!-- /block -->
					
				</div><!-- /col -->
			</div><!-- /row -->
			
		</div><!-- /container -->
	</section><!-- /section -->
	
	{if hoa_veelgestelde_vragen:total_rows > 0}
	<section class="section section--faq mb-3">
		<div class="container">

			<div class="block block--faq">

				<header class="block__title">
					<h2 class="h2"><span>Veelgestelde vragen</span></h2>
				</header>							
				
				<div class="block__content">
					
					<dl>
						{hoa_veelgestelde_vragen}
						<dt>{hoa_veelgestelde_vragen:vraag}</dt>
						<dd>
							{hoa_veelgestelde_vragen:antwoord}
						</dd>
						{/hoa_veelgestelde_vragen}
					</dl>
					
				</div>
				
			</div><!-- /block -->
			
		</div><!-- /container -->
	</section><!-- /section -->
	{/if}

	<section class="section section--news mb-3">
		<div class="section__inner">
			<div class="container">

				<div class="block block--text">

					<header class="block__title">
						<h3 class="h2"><span>Actualiteiten</span></h3>
					</header>

				</div><!-- /block -->

				{embed="_embeds/.block_article_list_home"}

			</div><!-- /container -->
		</div>
	</section><!-- /section -->

	{if hoa_gerelateerde_experts:total_results > 0}
	<section class="section section--experts section--contrast py-3">
		<div class="container">
			
			<div class="block block--experts">

				<header class="block__title">
					<h2 class="h2"><span>Maak kennis met onze experts</span></h2>
				</header>							
				
				<div class="block__content">							
			
					<ul>
						{hoa_gerelateerde_experts
							limit="3"
							orderby="random"
						}
						<li>
							<div class="block block--expert">							
								<figure class="block__figure">
									<a href="#expertModal{hoa_gerelateerde_experts:entry_id}" data-toggle="modal" data-target="#expertModal{hoa_gerelateerde_experts:entry_id}">
										{exp:ce_img:single
											src="{hoa_gerelateerde_experts:expert_afbeelding}"
											width="800"
											height="600"
											crop="yes|center,center"
											allow_scale_larger="yes"
											title="{hoa_gerelateerde_experts:expert_afbeelding:title}"
											alt="{hoa_gerelateerde_experts:expert_afbeelding:alt_text}"
											class="img-responsive"
										}
									</a>
									<figcaption class="caption">
										<a href="#expertModal{hoa_gerelateerde_experts:entry_id}" data-toggle="modal" data-target="#expertModal{hoa_gerelateerde_experts:entry_id}">
											<h4>{hoa_gerelateerde_experts:title}</h4>
											<strong>{hoa_gerelateerde_experts:expert_functie}</strong>
										</a>
									</figcaption>
								</figure>
							</div><!-- /block -->
							
							{embed="experts/.modal"
								entry_id="{hoa_gerelateerde_experts:entry_id}"
							}
						</li>
						{/hoa_gerelateerde_experts}
					</ul>
								
					<div class="buttons-set">
						<a href="{structure:page_url_for:20}" class="btn btn-primary">
							<span>Ons complete team</span>
						</a>
					</div>
					
				</div>
			</div><!-- /block -->
			
		</div><!-- /container -->
	</section><!-- /section -->
	{/if}

	{hoa_sectie_expert_center}
	<section class="section section--expert-center section--breakout section--breakout-left">
		<div class="container">
			
			<div class="row">
				
				<div class="col-sm-6">			
									
					<figure class="figure">
						{exp:ce_img:single
							src="{hoa_sectie_expert_center:afbeelding}"
							width="1220"
							height="888"
							crop="yes|center,center"
							allow_scale_larger="yes"
							title="{hoa_sectie_expert_center:afbeelding:title}"
							alt="{hoa_sectie_expert_center:afbeelding:alt_text}"
							class="img-responsive"
						}
					</figure>
					
				</div><!-- /col -->
				
				<div class="col-sm-6">
					
					<div class="block block--text">
						
						<header class="block__title">
							<h2><span>{hoa_sectie_expert_center:titel}</span></h2>
						</header>
						
						<div class="block__content">
							
							{hoa_sectie_expert_center:inhoud}
							
							{if hoa_sectie_expert_center:button_label != "" && hoa_sectie_expert_center:button_link != ""}
							
							<div class="buttons-set">
								<a href="{hoa_sectie_expert_center:button_link}" class="btn btn-primary">
									<span>{hoa_sectie_expert_center:button_label}</span>
								</a>
							</div>
							
							{/if}
							
						</div>
						
					</div><!-- /block -->
					
				</div><!-- /col -->
			</div><!-- /row -->
			
		</div><!-- /container -->
	</section><!-- /section -->
	{/hoa_sectie_expert_center}
	
	{/exp:channel:entries}
