{layout="_layouts/.default"
	body_class="view--ict"
}

	{exp:channel:entries
		channel="ict"
		disable="pagination|member_data|trackbacks|categories|category_fields"
		require_entry="yes"
		limit="1"
	}

		{if no_results}{redirect="/pagina-niet-gevonden"}{/if}
		
		{!-- set the grid images in a stash list --}
			
		{exp:stash:set_list 
			name="grid_image_list"
		}			
			{ict_thema_grid_afbeeldingen}
				{stash:image_url}{url}{/stash:image_url}
				{stash:image_title}{title}{/stash:image_title}
				{stash:image_alt}{alt_text}{/stash:image_alt}			
			{/ict_thema_grid_afbeeldingen}
		{/exp:stash:set_list}

		{layout:set name="extra_css"}
		<style type="text/css">
			@media (max-width: 767px) {
				/* {ict_masthead_afbeelding_klein} */
				.section--masthead .section--masthead__outer {
					background-image: url({exp:ce_img:single src='{ict_masthead_afbeelding_klein}' width='480' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
				}
			}
			@media (min-width: 768px) {
				/* {ict_masthead_afbeelding} */
				.section--masthead .section--masthead__outer {
					background-image: url({exp:ce_img:single src='{ict_masthead_afbeelding}' width='1920' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
				}
			}
		</style>
		{/layout:set}

		<section class="section section--masthead section--masthead-compact mb-3">
	
			<div class="section--masthead__outer">
				
				<div class="section--masthead__inner">
					<div class="container">
						
						<hgroup class="page-title">
							<h1><span>{ict_masthead_paginatitel}</span></h1>
							{if ict_masthead_subtitel != ""}<p class="lead"><span>{ict_masthead_subtitel}</span></p>{/if}
						</hgroup>
						
					</div><!-- /container -->	
					
				</div><!-- /inner -->
				
			</div><!-- /outer -->		
				
		</section><!-- /section -->
	
		<section class="section section--intro mb-3">
			<div class="container">

				<div class="row">
					<div class="col-lg-10">

						<div class="block block--text">

							{if ict_intro_titel != ""}
							<header class="block__title">
								<h2><span>{ict_intro_titel}</span></h2>
							</header>
							{/if}

							<div class="block__content">

								{ict_intro_inhoud}

							</div>
						</div><!-- /block -->

					</div>
				</div>
										
			</div><!-- /container -->
		</section><!-- /section -->
	
		{embed="_embeds/.sectie_themas"}
		
		{if ict_gerelateerde_referenties:total_results > 0}
		<section class="section section--projects mb-3">
			<div class="container">
					
				<div class="block block--carousel">
					
					<header class="block__title mb-2">
						<h2 class="h2"><span>Projecten waar we trots op zijn</span></h2>
					</header>
				
					<div class="block__content">
						
						<div class="swiper-container swiper-container--projects">
						    <div class="swiper-wrapper">
							    
							    {ict_gerelateerde_referenties}
						        <div class="swiper-slide">
							        
									<div class="block block--project">							
										<figure class="block__figure">
											<a href="{structure:page_url_for:{ict_gerelateerde_referenties:entry_id}}">
												{exp:ce_img:single
													src="{ict_gerelateerde_referenties:project_thumbnail}"
													width="600"
													height="720"
													crop="yes|center,center"
													allow_scale_larger="yes"
													title="{ict_gerelateerde_referenties:project_thumbnail:title}"
													alt="{ict_gerelateerde_referenties:project_thumbnail:alt_text}"
													class="img-responsive"
												}
											</a>
											<figcaption class="caption">
												<a href="{structure:page_url_for:{ict_gerelateerde_referenties:entry_id}}">
													<h4>{ict_gerelateerde_referenties:title}</h4>
													<strong>{ict_gerelateerde_referenties:project_subtitel}</strong>
												</a>
											</figcaption>
										</figure>
									</div><!-- /block -->
							        
						        </div><!-- /swiper-slide-->
							    {/ict_gerelateerde_referenties}
							    
						    </div><!-- /swiper-wrapper -->
					    
						    <div class="swiper-button-prev"></div>
						    <div class="swiper-button-next"></div>
						    
						</div><!-- /swiper-container -->
						
						<div class="buttons-set">
							<a href="{structure:page_url_for:22}" class="btn btn-primary">
								<span>Meer projecten</span>
							</a>
						</div>
						
					</div>
				</div><!-- /block -->
						
			</div><!-- /container -->
		</section><!-- /section -->			
		{/if}
		
		{if ict_gerelateerde_experts:total_results > 0}
		<section class="section section--experts">
			<div class="container">
				
				<div class="block block--experts">
	
					<header class="block__title mb-2">
						<h2 class="h2"><span>Maak kennis met onze experts</span></h2>
					</header>							
					
					<div class="block__content">							
				
						<ul>
							{ict_gerelateerde_experts
								limit="3"
								orderby="random"
							}
							<li>
								<div class="block block--expert">							
									<figure class="block__figure">
										<a href="#expertModal{ict_gerelateerde_experts:entry_id}" data-toggle="modal" data-target="#expertModal{ict_gerelateerde_experts:entry_id}">
											{exp:ce_img:single
												src="{ict_gerelateerde_experts:expert_afbeelding}"
												width="800"
												height="600"
												crop="yes|center,center"
												allow_scale_larger="yes"
												title="{ict_gerelateerde_experts:expert_afbeelding:title}"
												alt="{ict_gerelateerde_experts:expert_afbeelding:alt_text}"
												class="img-responsive"
											}
										</a>
										<figcaption class="caption">
											<a href="#expertModal{ict_gerelateerde_experts:entry_id}" data-toggle="modal" data-target="#expertModal{ict_gerelateerde_experts:entry_id}">
												<h4>{ict_gerelateerde_experts:title}</h4>
												<strong>{ict_gerelateerde_experts:expert_functie}</strong>
											</a>
										</figcaption>
									</figure>
								</div><!-- /block -->
								
								{embed="experts/.modal"
									entry_id="{ict_gerelateerde_experts:entry_id}"
								}
							</li>
							{/ict_gerelateerde_experts}
						</ul>
								
						<div class="buttons-set">
							<a href="{structure:page_url_for:20}" class="btn btn-primary">
								<span>Ons complete team</span>
							</a>
						</div>
						
					</div>
				</div><!-- /block -->
				
			</div><!-- /container -->
		</section><!-- /section -->
		{/if}

		{embed="_embeds/.sectie_call_to_action"}	
	
	{/exp:channel:entries}
