{layout="_layouts/.default"
	body_class="view--vacancy-list"
}
					
	{exp:channel:entries
		channel="tekst"
		disable="pagination|member_data|trackbacks|categories|category_fields"
		limit="1"
		dynamic="no"
		url_title="{segment_2}"
		require_entry="yes"
	}							
	
	{if no_results}{redirect="/pagina-niet-gevonden"}{/if}
		
	{layout:set name="extra_css"}
	<style type="text/css">
		@media (max-width: 767px) {
			/* {tekst_masthead_afbeelding_klein} */
			.section--masthead .section--masthead__outer {
				background-image: url({exp:ce_img:single src='{tekst_masthead_afbeelding_klein}' width='480' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
			}
		}
		@media (min-width: 768px) {
			/* {tekst_masthead_afbeelding} */
			.section--masthead .section--masthead__outer {
				background-image: url({exp:ce_img:single src='{tekst_masthead_afbeelding}' width='1920' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
			}
		}
	</style>
	{/layout:set}

	<section class="section section--masthead section--masthead-compact mb-2">

		<div class="section--masthead__outer">
			
			<div class="section--masthead__inner">
				<div class="container">
					
					<hgroup class="page-title">
						<h1><span>{tekst_masthead_paginatitel}</span></h1>
						<p class="lead"><span>{tekst_masthead_subtitel}</span></p>
					</hgroup>
					
				</div><!-- /container -->	
				
			</div><!-- /inner -->
			
		</div><!-- /outer -->		
			
	</section><!-- /section -->

	<div class="layout-2col">
		<div class="container">

			{_partial_breadcrumb}

			<div class="row">

				<aside class="sidebar visible-lg col-lg-3" role="complementary">
					{embed="_embeds/.block_sidenav"}
				</aside>

				<div class="main col-lg-9" role="main">

					<section class="section section--cms-page">

						<div class="block block--text">
							<div class="block__content">

								{tekst_inhoud}

							</div>
						</div>

					</section><!-- / section -->

					{embed="_embeds/.sectie_vacatures"}

				</div><!-- /main -->
			</div><!-- /row -->
			
		</div><!-- /container -->
	</div><!-- /layout-2col -->

	{embed="_embeds/.sectie_team_carrousel"}

	{if tekst_sectie:total_rows > 0}
		{tekst_sectie}
		<section class="section section--internship section--contrast section--breakout section--breakout-right">
			<div class="container">
				
				<div class="row">
					
					<div class="col-sm-5 col-sm-push-7 col-md-6 col-md-push-6">
										
						<figure class="figure">
							{exp:ce_img:single
								src="{tekst_sectie:afbeelding}"
								width="1220"
								height="888"
								crop="yes|center,center"
								allow_scale_larger="yes"
								title="{tekst_sectie:afbeelding:title}"
								alt="{tekst_sectie:afbeelding:alt_text}"
								class="img-responsive"
							}
						</figure>
														
					</div><!-- /col -->
					
					<div class="col-sm-7 col-sm-pull-5 col-md-6 col-md-pull-6">
						
						<div class="block block--text">
							
							<header class="block__title">
								<h2><span>{tekst_sectie:titel}</span></h2>
							</header>
							
							<div class="block__content">
								
								{tekst_sectie:inhoud}
								
							</div>
							
						</div><!-- /block -->
						
					</div><!-- /col -->
				</div><!-- /row -->
				
			</div><!-- /container -->
		</section><!-- /section -->
		{/tekst_sectie}
	{/if}
	
	{/exp:channel:entries}
