{layout="_layouts/.default"
	body_class="view--vacancy-item"
}

	{exp:channel:entries
		channel="vacatures"
		disable="pagination|member_data|trackbacks|categories|category_fields"
		require_entry="yes"
		status="open|draft"
		limit="1"
	}
	
		{if no_results}{redirect="/pagina-niet-gevonden"}{/if}
	
		<section class="section section--cms-page py-3">
			<div class="container">

				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">

						{_partial_breadcrumb}

						<div class="block block--text">

							<hgroup class="block__title">
								<h1><span>{title}</span></h1>
							</hgroup>

							{if vacature_afbeelding != ""}
							<figure class="block__figure">
								{exp:ce_img:single
									src="{vacature_afbeelding}"
									width="1170"
									crop="yes|center,center"
									allow_scale_larger="yes"
									title="{vacature_afbeelding:title}"
									alt="{vacature_afbeelding:alt_text}"
									class="img-responsive"
								}
							</figure>
							{/if}

							<div class="block__content">

								{vacature_inhoud}

							</div>
						</div>

					</div>
				</div>

			</div><!-- /container -->			
		</section><!-- / section -->
		
		<section class="section section--form mb-3">
			<div class="container">

				<div class="row">
					<div class="col-lg-10 col-lg-offset-1">
					
						<div class="block block--form" id="contactform">

							<header class="block__title">
								<h3 class="h3"><span>Reageer direct op deze vacature</span></h3>
							</header>

							<div class="block__content">

								{if freebie_last == 'verzonden'}

									<div class="alert alert-success">
										<strong>Bedankt voor jouw aanvraag</strong>
										Het formulier is succesvol verzonden.
									</div>

								{if:else}

									{exp:freeform_next:form
										form="sollicitaties"
										class="form validate"
										required="name|email|user_message"
										return="{current_url}/verzonden#contactform"
									}

										{if form:has_errors}
										<div class="alert alert-danger">
											<div>Er heeft zich een technische fout voorgedaan. Het formulier is niet verzonden.</div>
											<ul>
												{form:errors}
												<li>{error}</li>
												{/form:errors}
											</ul>
										</div>
										{/if}

										<input type="hidden" name="subject" value="{title} (ID {entry_id})" />
										<input type="hidden" name="url" value="{current_url}" />

										<div class="form-group">
											<label for="form-input-name" class="form-label">Voor- en achternaam: <span class="text-danger">*</span></label>
											<input type="text" name="name" id="form-input-name" class="form-control required" />
										</div>

										<div class="form-group">
											<label for="form-input-email" class="form-label">E-mailadres: <span class="text-danger">*</span></label>
											<input type="text" name="email" id="form-input-email" class="form-control required email" />
										</div>

										<div class="form-group">
											<label for="form-input-phone" class="form-label">Telefoonnummer:</label>
											<input type="text" name="phone" id="form-input-phone" class="form-control" />
										</div>

										<div class="form-group">
											<label for="form-input-message" class="form-label">Motivatie: <span class="text-danger">*</span></label>
											<textarea name="user_message" id="form-input-message" class="form-control required" rows="5"></textarea>
										</div>

										<div class="form-group">
											<label for="form-attachment" class="control-label">Bijlage / CV:</label>
											<input type="file" name="attachment[]" id="form-attachment" accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
											<span class="help-block small">Upload een pdf of Word document (doc/docx), maximale grootte: 3MB</span>
										</div><!-- /form-group -->

										<div class="buttons-set">
											<button type="submit" class="btn btn-primary">
												<span>Verzenden</span>
											</button>
										</div>

									{/exp:freeform_next:form}

								{/if}

							</div>

						</div><!-- /block -->

					</div>
				</div>
				
			</div><!-- /container -->
		</section><!-- /section -->

		{embed="_embeds/.sectie_team_carrousel"}
	
	
	{/exp:channel:entries}
