{layout="_layouts/.default"
	body_class="view--over-verdel"
}

	{exp:channel:entries
		channel="over_verdel"
		disable="pagination|member_data|trackbacks|categories|category_fields"
		require_entry="yes"
		limit="1"
	}
	
	{if no_results}{redirect="/pagina-niet-gevonden"}{/if}
	
	{if ov_masthead_tonen == '1'}
		
		{layout:set name="extra_css"}
		<style type="text/css">
			@media (max-width: 767px) {
				/* {ov_masthead_afbeelding_klein} */
				.section--masthead .section--masthead__outer {
					background-image: url({exp:ce_img:single src='{ov_masthead_afbeelding_klein}' width='480' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
				}
			}
			@media (min-width: 768px) {
				/* {ov_masthead_afbeelding} */
				.section--masthead .section--masthead__outer {
					background-image: url({exp:ce_img:single src='{ov_masthead_afbeelding}' width='1920' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
				}
			}
		</style>
		{/layout:set}

		<section class="section section--masthead section--masthead-compact mb-2">
	
			<div class="section--masthead__outer">
				
				<div class="section--masthead__inner">
					<div class="container">
						
						<hgroup class="page-title">
							<h1><span>{ov_masthead_paginatitel}</span></h1>
							{if ov_masthead_subtitel != ""}<p class="lead"><span>{ov_masthead_subtitel}</span></p>{/if}
						</hgroup>
						
					</div><!-- /container -->	
					
				</div><!-- /inner -->
				
			</div><!-- /outer -->		
				
		</section><!-- /section -->
		
	{/if}

	<div class="layout-2col">
		<div class="container">

			{_partial_breadcrumb}

			<div class="row">

				<aside class="sidebar visible-lg col-lg-3" role="complementary">
					{embed="_embeds/.block_sidenav}
				</aside>

				<div class="main col-lg-9" role="main">
				
					<section class="section section--cms-page">

						<div class="block block--text">

							<hgroup class="block__title">
								<h1><span>{ov_paginatitel}</span></h1>
								{if ov_subtitel != ''}<h2><span>{ov_subtitel}</span></h2>{/if}
							</hgroup>

							<div class="block__content">

								{ov_inhoud}

							</div>
						</div>

						<div class="block block--video">
							<div class="block__content">

								<div class="embed-responsive embed-responsive-16by9">
								  <iframe class="embed-responsive-item" src="{ov_video_embed_url}"></iframe>
								</div>

							</div>
						</div>

					</section><!-- / section -->
				
				</div><!-- /main -->
			</div><!-- /row -->
			
		</div><!-- /container -->
	</div><!-- /layout-2col -->
	
	{if ov_sectie_kom_binnen:total_rows > 0}
	<section class="section section--contrast section--services py-3 mt-3">
		<div class="container">
			
			<div class="block block--services-list">
				
				<header class="block__title">
					<h3 class="h2"><span>Kom bij ons binnen</span></h3>
				</header>
				
				<div class="block__content">
			
					<ol>
						{ov_sectie_kom_binnen}
						<li>
							<div class="block block--service">
								
								<figure class="block__figure">
									<a href="{ov_sectie_kom_binnen:button_link}">
										{exp:ce_img:single
											src="{ov_sectie_kom_binnen:afbeelding}"
											width="700"
											height="400"
											crop="yes|center,center"
											allow_scale_larger="yes"
											title="{ov_sectie_kom_binnen:afbeelding:title}"
											alt="{ov_sectie_kom_binnen:afbeelding:alt_text}"
											class="img-responsive"
										}
									</a>
								</figure>
								
								<header class="block__title">
									<h2 class="h4"><span><a href="{ov_sectie_kom_binnen:button_link}">{ov_sectie_kom_binnen:titel}</a></span></h2>
								</header>
								
								<div class="block__content">
									
									{ov_sectie_kom_binnen:inhoud}
									
									<div class="buttons-set">
										<a href="{ov_sectie_kom_binnen:button_link}" class="btn btn-primary">
											<span>{ov_sectie_kom_binnen:button_label}</span>
										</a>
									</div>
									
								</div>
								
							</div><!-- /block -->
						</li>
						{/ov_sectie_kom_binnen}
					</ol>
					
				</div>
			</div><!-- /block -->
			
		</div><!-- /container -->
	</section><!-- /section -->				
	{/if}
	
	{ov_sectie_werken_bij}
	<section class="section section--work section--breakout section--breakout-right">
		<div class="container">
			
			<div class="row">
				
				<div class="col-sm-5 col-sm-push-7 col-md-6 col-md-push-6">
					
					<figure class="figure">
						{exp:ce_img:single
							src="{ov_sectie_werken_bij:afbeelding}"
							width="1220"
							height="880"
							crop="yes|center,center"
							allow_scale_larger="yes"
							title="{ov_sectie_werken_bij:afbeelding:title}"
							alt="{ov_sectie_werken_bij:afbeelding:alt_text}"
							class="img-responsive"
						}
					</figure>
													
				</div><!-- /col -->
				
				<div class="col-sm-7 col-sm-pull-5 col-md-6 col-md-pull-6">
					
					<div class="block block--text">
						
						<header class="block__title">
							<h2><span>{ov_sectie_werken_bij:titel}</span></h2>
						</header>
						
						<div class="block__content">
							
							{ov_sectie_werken_bij:inhoud}
							
						</div>
						
					</div><!-- /block -->
					
				</div><!-- /col -->
			</div><!-- /row -->
			
		</div><!-- /container -->
	</section><!-- /section -->
	{/ov_sectie_werken_bij}
	
	{/exp:channel:entries}
