{layout="_layouts/.default"
	body_class="view--solution"
}

	{exp:channel:entries
		channel="oplossing"
		disable="pagination|member_data|trackbacks|categories|category_fields"
		require_entry="yes"
		status="open|draft"
		limit="1"
	}
		{if no_results}{redirect="/pagina-niet-gevonden"}{/if}
	
		{if oplossing_masthead_tonen == '1'}
		
		{layout:set name="body_class"}view--solution view--solution-masthead{/layout:set}
		
		{layout:set name="extra_css"}
		<style type="text/css">
			@media (max-width: 767px) {
				/* {oplossing_masthead_afbeelding_kl} */
				.section--masthead .section--masthead__outer {
					background-image: url({exp:ce_img:single src='{oplossing_masthead_afbeelding_kl}' width='480' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
				}
			}
			@media (min-width: 768px) {
				/* {oplossing_masthead_afbeelding} */
				.section--masthead .section--masthead__outer {
					background-image: url({exp:ce_img:single src='{oplossing_masthead_afbeelding}' width='1920' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
				}
			}
		</style>
		{/layout:set}
		
		<section class="section section--masthead section--masthead-compact mb-2">
	
			<div class="section--masthead__outer">
				
				<div class="section--masthead__inner">
					<div class="container">
						
						<hgroup class="page-title">
							<h1><span>{oplossing_masthead_paginatitel}</span></h1>
							{if oplossing_masthead_subtitel != ""}<p class="lead"><span>{oplossing_masthead_subtitel}</span></p>{/if}
						</hgroup>
						
					</div><!-- /container -->	
					
				</div><!-- /inner -->
				
			</div><!-- /outer -->		
				
		</section><!-- /section -->
		
		{/if}

		<div class="layout-2col mb-5">
			<div class="container">

				<div class="row">

					<div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-12 col-lg-offset-0">
						{_partial_breadcrumb}
					</div>

					<aside class="sidebar visible-lg col-lg-3" role="complementary">
						{embed="_embeds/.block_sidenav"}
					</aside>

					<div class="main col-md-10 col-md-offset-1 col-lg-9 col-lg-offset-0" role="main">

						<section class="section section--cms-page">

							{if oplossing_masthead_tonen != '1'}

								<div class="block block--text">

									<hgroup class="block__title">
										<h1><span>{oplossing_masthead_paginatitel}</span></h1>
										{if oplossing_masthead_subtitel != ""}<h2><span>{oplossing_masthead_subtitel}</span></h2>{/if}
									</hgroup>

									<div class="block__content">

										{oplossing_volledige_inhoud}

									</div>
								</div>

							{if:else}

								<div class="block block--text">
									<div class="block__content">

										{oplossing_volledige_inhoud}

									</div>
								</div>

							{/if}

						</section><!-- / section -->

					</div><!-- /main -->

				</div><!-- /row -->
				
			</div><!-- /container -->
		</div><!-- /layout-2col -->
		
		{if media_gerelateerde_referenties:total_results > 0}
		<section class="section section--projects">
			<div class="container">
					
				<div class="block block--carousel">

					<header class="block__title mb-2">
						<h2 class="h2"><span>Projecten waar we trots op zijn</span></h2>
					</header>
				
					<div class="block__content">
						
						<div class="swiper-container swiper-container--projects">
						    <div class="swiper-wrapper">
							    
							    {media_gerelateerde_referenties}
						        <div class="swiper-slide">
							        
									<div class="block block--project">							
										<figure class="block__figure">
											<a href="{structure:page_url_for:{media_gerelateerde_referenties:entry_id}}">
												{exp:ce_img:single
													src="{media_gerelateerde_referenties:project_thumbnail}"
													width="600"
													height="720"
													crop="yes|center,center"
													allow_scale_larger="yes"
													title="{media_gerelateerde_referenties:project_thumbnail:title}"
													alt="{media_gerelateerde_referenties:project_thumbnail:alt_text}"
													class="img-responsive"
												}
											</a>
											<figcaption class="caption">
												<a href="{structure:page_url_for:{media_gerelateerde_referenties:entry_id}}">
													<h4>{media_gerelateerde_referenties:title}</h4>
													<strong>{media_gerelateerde_referenties:project_subtitel}</strong>
												</a>
											</figcaption>
										</figure>
									</div><!-- /block -->
							        
						        </div><!-- /swiper-slide-->
							    {/media_gerelateerde_referenties}
							    
						    </div><!-- /swiper-wrapper -->
					    
						    <div class="swiper-button-prev"></div>
						    <div class="swiper-button-next"></div>
						    
						</div><!-- /swiper-container -->
						
						<div class="buttons-set">
							<a href="{structure:page_url_for:22}" class="btn btn-primary">
								<span>Meer projecten</span>
							</a>
						</div>
						
					</div>
				</div><!-- /block -->
						
			</div><!-- /container -->
		</section><!-- /section -->	
		{/if}
		
		{/exp:channel:entries}
