{layout="_layouts/.default"
	body_class="view--cms-page view--sitemap"
}

	{exp:channel:entries
		channel="tekst"
		disable="pagination|member_data|trackbacks|categories|category_fields"
		limit="1"
	}
	
	<section class="section section--cms-page">
		<div class="container">
	
			<div class="block block--text">
			
				<hgroup class="block__title">
					<h1><span>{tekst_paginatitel}</span></h1>
				</hgroup>
				
				{if tekst_afbeelding != ""}
				<figure class="block__figure">
					{exp:ce_img:single
						src="{tekst_afbeelding}"
						width="1170"
						height="600"
						crop="yes|center,center"
						allow_scale_larger="yes"
						title="{tekst_afbeelding:title}"
						alt="{tekst_afbeelding:alt_text}"
						class="img-responsive"
					}					
				</figure>
				{/if}
				
				<div class="block__content">
					
					{tekst_inhoud}
					
					{exp:structure:sitemap}
					
				</div>
			</div>

		</div><!-- /container -->			
	</section><!-- / section -->
	
	
	{/exp:channel:entries}