{exp:channel:entries
	channel="experts"
	dynamic="yes"
	limit="1"
	disable="categories|category_fields|pagination|trackbacks|member_data"
	entry_id="{embed:entry_id}"
}

<div class="modal fade" id="expertModal{entry_id}" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="material-icons" aria-hidden="true">close</i>
				</button>
			</div>
			
			<div class="modal-body">
				
				<div class="block block--modal-expert">
					
					<div class="block__figure">
						{exp:ce_img:single
							src="{expert_afbeelding}"
							width="400"
							height="300"
							crop="yes|center,center"
							allow_scale_larger="yes"
							title="{expert_afbeelding:title}"
							alt="{expert_afbeelding:alt_text}"
							class="img-responsive"
						}
					</div>
					
					<div class="block__content">
						
						<h3>{title}</h3>
						<h4>{expert_functie}</h4>
						
						{expert_omschrijving}
						
						<dl>
							<dt><i class="material-icons" aria-hidden="true">send</i></dt>
							<dd><a href="mailto:{expert_email}">{expert_email}</a></dd>
							<dt><i class="material-icons" aria-hidden="true">phone</i></dt>
							<dd><a href="{exp:low_variables:single var="telefoonnummer_link"}">{expert_telefoon}</a></dd>
						</dl>
						
					</div>
				</div><!-- /block -->
				
			</div>
		</div>
	</div>
</div><!-- /modal -->

{/exp:channel:entries}