.block--modal-expert {
	
	.block__figure {
		margin-bottom: 30px;
	}
	
	.block__content {
		
		h3 { 
			color: @theme-purple; 
			margin: 1rem 0 0 0;
		}
		
		h4 {
			font-size: 1rem;
			margin: .5rem 0 .75rem 0;
		}
		
		dl {
			margin-top: 1.25rem;
			dt, dd {
				font-size: 1rem;
				display: block; 
				color: #000; 
				margin-bottom: .5rem;
				a { color: #000; text-decoration: none; }
			}
			dt { 
				float: left;
				clear: left;
				width: 2rem;
			}
			dd { 
				margin-left: 2rem;
			}
		}
		
	}

	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) { 	
		
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		align-content: space-between;
		
		.block__figure {
			width: 100%/12*5;
			padding: 0 @grid-gutter-width;
		}
		
		.block__content {
			width: 100%/12*7;
			padding: 0 @grid-gutter-width;
		}
	}
}
