.block--upcoming {
  background: #F0F0F0;
  border-radius: 1rem;
  padding: 1.5rem;
  .block__title {
    margin-bottom: .5rem;
    strong {
      display: block;
      font-weight: 700;
      color: @theme-purple;
    }
  }
  .block__content {

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        font-size: .875rem;

        a {
          color: @theme-gray;
          text-decoration: none;
          &:hover, &:focus {
            strong {
              color: @theme-purple;
              &:after {
                margin-left: .5rem;
              }
            }
          }
        }

        strong {
          font-size: 1rem;
          font-weight: 700;
          line-height: @headings-line-height;
          color: #000000;
          margin-bottom: .25rem;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          transition: color .2s ease-in;
          &:after {
            transition: margin .2s ease-in;
            color: @theme-purple;
            font-family: "Material Icons", sans-serif;
            content: "east";
            margin-left: .25rem;
          }
        }
        &:not(:first-child) {
          margin-top: .75rem;
        }
      }
    }

  }
}
