
	
	.block--sidenav {
		.block__title {
			a { color: @headings-color; text-decoration: none; }
		}
		> .block__content {
			
			a { text-decoration: none; }
			
			> ul {
				.list-unstyled();
				margin: 0;
				padding: 0;
				> li {
					position: relative;	
					padding-left: 18px;
					margin: 0;					
					&:before {
						.material-icons;
						.translate(0, -50%);
						content: "chevron_right";
						font-size: 20px;
						display: block;
						position: absolute;
						left: -4px;
						top: 12px;
						color: #999;
					}
					> ul {
						.list-unstyled();
						margin: 18px 0 20px 10px;
						padding: 0;
						> li {
							+ li { margin-top: 8px; }
							a {
								color: #666;
								font-weight: 500;
								text-decoration: none;
								&:hover, &:focus {
									color: @theme-purple;
								}
							}
						}						
						> li.active > a {
							color: @theme-purple;
						}
					}
				}
				> li + li { margin-top: 15px; }
				> li > a {
					.transition(color 0.25s);
					font-weight: 700;
					color: #000;
					text-decoration: none;
					&:hover, &:focus {
						color: @theme-purple;
					}
				}
				> li.active > a {
					color: @theme-purple;
				}
			}
		}
	}
