.block--remote-support {
	background: @theme-green;
	color: #fff;
	padding: 40px 50px 50px;
	.block__content {
		ol {
			list-style-position: inside;
			margin: 0;
			padding: 0;
			> li {
				font-weight: 700;
				text-transform: uppercase;
				text-align: center;
				font-size: 16px;
				+ li { margin-top: 20px; }
				.buttons-set {
					margin: 10px 0 0 0;
					.btn-ghost {
						.button-variant(@btn-ghost-color; @theme-green; @btn-ghost-border);
						&:focus, &.focus, &:hover {
							border-color: @theme-darker-green;
						}						
					}
				}
				a:not(.btn) { 
					display: block;
					text-align: center;
					font-size: 30px;
					color: #fff;
					margin: 4px 0 0 0;
					text-decoration: none;
					i { color: @theme-darker-green; }
				}
			}
		}
	}
}
