.block--related {
  padding: 1rem;
  border: 4px solid @theme-green;

  @media (min-width: @screen-lg-min) {
    padding: 2rem;
    margin-left: 2rem;
  }

  .block__content {

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        font-size: 1.125rem;

        &:not(:first-child) {
          margin-top: .75rem;
        }

        a {
          color: @theme-darker-green;
          font-weight: 700;
          text-decoration: none;
          line-height: @headings-line-height;
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          transition: color .2s ease-in;

          &:after {
            transition: margin .2s ease-in;
            color: @theme-darker-green;
            font-family: "Material Icons", sans-serif;
            content: "east";
            margin-left: .25rem;
          }

          &:hover, &:focus {
            color: @theme-darker-green;
            &:after {
              margin-left: .5rem;
            }
          }
        }

      }
    }

  }
}
