.block--category-nav {
	margin: 1.25rem 0;
	.block__content {
		.nav-pills {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			> li {
				float: none;
				+ li { margin-left: 10px; }
				> a { 
					padding: 2px 10px; 
					border: 2px solid @nav-pills-link-border-color;
					background: @nav-pills-link-bg;
					color: @nav-pills-link-color;
					text-decoration: none;
					font-weight: 700;
				}
				
				> a:hover,
				&.active > a {
					border-color: @nav-pills-active-link-hover-border-color;
					background: @nav-pills-active-link-hover-bg;
					color: @nav-pills-active-link-hover-color;
				}
				
				&.category--11.active > a, &.category--11 > a:hover  {
					background: @theme-label-blog-bg;
					color: #fff;
					border-color: @theme-label-blog-bg;
				}
				
				&.category--12.active > a, &.category--12 > a:hover {
					background: @theme-label-news-bg;
					color: #fff;
					border-color: @theme-label-news-bg;
				}
				
				&.category--17.active > a, &.category--17 > a:hover {
					background: @theme-label-events-bg;
					color: #fff;
					border-color: @theme-label-events-bg;
				}
				&.category--21.active > a, &.category--21 > a:hover {
					background: @theme-label-webinar-bg;
					color: #fff;
					border-color: @theme-label-webinar-bg;
				}
				&.category--22.active > a, &.category--22 > a:hover {
					background: @theme-label-whitepaper-bg;
					color: #fff;
					border-color: @theme-label-whitepaper-bg;
				}
			}
		}
	}
}
