.content-blocks {

  margin-top: 1.5rem;
  @media (min-width: @screen-md-min) {
    margin-top: 3rem;
  }

  > .content-block:not(:last-child) {
    margin-bottom: 1.5rem;
    @media (min-width: @screen-md-min) {
      margin-bottom: 3rem;
    }
  }

  .content-block--img-text {
    .block--image {
      margin-bottom: 1rem;
      max-width: 24rem;
      @media (min-width: @screen-md-min) {
        max-width: 100%;
        margin-bottom: 0;
      }
    }
  }
}
