{embed="demo/inc_header" title="Bootstrap" page="bootstrap"}

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{path='demo/bootstrap'}">Freeform Demo</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{if segment_2 == 'bootstrap'}active{/if}"><a href="{path='demo/bootstrap'}">Bootstrap</a></li>
                <li><a href="{path='demo/foundation'}">Foundation</a></li>
                <li><a href="{path='demo/materialize'}">Materialize</a></li>
                <li class="{if segment_2 == 'bootstrap_ajax'}active{/if}"><a href="{path='demo/bootstrap_ajax'}">AJAX</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="https://solspace.com">Solspace.com</a></li>
                        <li><a href="https://docs.solspace.com/expressionengine/freeform/v2/">Documentation</a></li>
                        <li><a href="https://docs.solspace.com/expressionengine/freeform/v2/support.html">Support</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

{if segment_4 == "submissions"}
    {if segment_5 ^= "P" OR segment_5 == ""}
        {embed="demo/bootstrap_submissions_list" form="{segment_3}"}
    {if:else}
        {embed="demo/bootstrap_submission" submission_id="{segment_5}" form="{segment_3}"}
    {/if}
{if:else}
    {if segment_3}
        {embed="demo/bootstrap_form" form="{segment_3}"}
    {if:else}
        {embed="demo/bootstrap_index"}
    {/if}
{/if}

{embed="demo/inc_footer" page="bootstrap"}
