{layout="_layouts/.blank"
	body_class="view--email-signatures"
	meta_title="E-mailhandtekeningen"
}

{if logged_out}{redirect="/"}{/if}

<section class="section section--table-listing">
	<div class="container">
		
		<div class="block block--email-signatures">
			
			<header class="block__title">
				<h1 class="h2"><span>E-mailhandtekeningen</span></h1>
			</header>
			
			<div class="block__content">
				
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th>ID</th>
								<th>Naam</th>
								<th>Functie</th>
								<th>E-mail</th>
								<th>Telefoon</th>
								<th>E-mailhandtekening</th>
							</tr>
						</thead>
						<tbody>
						{exp:channel:entries
							channel="experts"
							dynamic="no"
							orderby="title"
							sort="asc"
							limit="120"
							status="open|draft"
							disable="categories|category_fields|pagination|trackbacks|member_data"
						}
							<tr>
								<td>{entry_id}</td>
								<td>{title}</td>
								<td>{expert_functie}</td>
								<td>{expert_telefoon}</td>
								<td>{expert_email}</td>
								<td>
									<a href="{path="email/item/{url_title}"}" target="_blank">
										<i class="fa fa-address-card-o" aria-hidden="true"></i> Opslaan als..
									</a>
								</td>
							</tr>
							{if no_results}
							<tr>
								<td colspan="6" class="text-muted">Geen experts aangemaakt</td>
							</tr>
							{/if}
						{/exp:channel:entries}
						</tbody>
					</table><!--/table -->
				</div><!--/table-responsive -->
								
			</div>
		</div><!-- /block -->
		
	</div><!-- /container -->
</section><!-- /section -->