{layout="_layouts/.default"
    body_class="view--cms-page"
}

{exp:channel:entries
    channel="tekst"
    disable="pagination|member_data|trackbacks|categories|category_fields"
    require_entry="yes"
    limit="1"
}

    {if no_results}{redirect="/pagina-niet-gevonden"}{/if}

    {if tekst_masthead_tonen == '1'}

        {layout:set name="body_class"}view--cms-page view--cms-page-masthead{/layout:set}

        {layout:set name="extra_css"}
            <style type="text/css">
                @media (max-width: 767px) {
                    /* {tekst_masthead_afbeelding_klein} */
                    .section--masthead .section--masthead__outer {
                        background-image: url({exp:ce_img:single src='{tekst_masthead_afbeelding_klein}' width='480' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
                    }
                }
                @media (min-width: 768px) {
                    /* {tekst_masthead_afbeelding} */
                    .section--masthead .section--masthead__outer {
                        background-image: url({exp:ce_img:single src='{tekst_masthead_afbeelding}' width='1920' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
                    }
                }
            </style>
        {/layout:set}

        <section class="section section--masthead section--masthead-compact mb-3">

            <div class="section--masthead__outer">

                {_partial_breadcrumb}

                <div class="section--masthead__inner">
                    <div class="container">

                        <hgroup class="page-title">
                            <h1><span>{tekst_masthead_paginatitel}</span></h1>
                            {if tekst_masthead_subtitel != ""}<p class="lead"><span>{tekst_masthead_subtitel}</span></p>{/if}
                        </hgroup>

                    </div><!-- /container -->

                </div><!-- /inner -->

            </div><!-- /outer -->

        </section><!-- /section -->

    {/if}

    <section class="section section--cms-page">
        <div class="container">

            {if tekst_masthead_tonen != '1'}
            {_partial_breadcrumb}
            {/if}

            <div class="block block--text">

                <hgroup class="block__title">
                    <h1><span>{tekst_paginatitel}</span></h1>
                </hgroup>

                {if tekst_afbeelding != ""}
                <figure class="block__figure">
                    {exp:ce_img:single
                        src="{tekst_afbeelding}"
                        width="1170"
                        height="600"
                        crop="yes|center,center"
                        allow_scale_larger="yes"
                        title="{tekst_afbeelding:title}"
                        alt="{tekst_afbeelding:alt_text}"
                        class="img-responsive"
                    }
                </figure>
                {/if}

                <div class="block__content">

                    {tekst_inhoud}

                </div>
            </div>

        </div><!-- /container -->
    </section><!-- / section -->

    <section class="section section--form" id="contactform">
        <div class="container">

            <div class="block block--form">

                <header class="block__title">
                    <h2 class="h3"><span>Download de gratis whitepaper</span></h2>
                </header>

                <div class="block__content">

                    {if freebie_last == 'verzonden'}

                    <div class="alert alert-success">
                        <strong>Bedankt voor je aanvraag!</strong>
                        Het formulier is succesvol verzonden.
                    </div>

                    {if:else}

                    <p class="text-center">Laat je gegevens achter en ontvang de whitepaper binnen 15 minuten.</p>

                    <form
                            class="form validate js-cm-form"
                            action="https://www.createsend.com/t/subscribeerror?description="
                            method="post"
                            data-id="A61C50BEC994754B1D79C5819EC1255C20456DC54A59B3C2B28E6AEDE717ABECFAA6BBBF9B26FCB39A683D72931C3D92623C4B489FCADF4309582E384D54858B"
                    >

                        <div class="form-group">
                            <label for="fieldtklijkj" class="form-label">Voornaam: <span class="text-danger">*</span></label>
                            <input type="text" name="cm-f-tklijkj" id="fieldtklijkj" class="form-control required" placeholder="" maxlength="200" />
                        </div>

                        <div class="form-group">
                            <label for="fieldtklijkt" class="form-label">Achternaam: <span class="text-danger">*</span></label>
                            <input type="text" name="cm-f-tklijkt" id="fieldtklijkt" class="form-control required" placeholder="" maxlength="200" />
                        </div>

                        <div class="form-group">
                            <label for="fieldEmail" class="form-label">E-mailadres: <span class="text-danger">*</span></label>
                            <input type="email" name="cm-jykkbh-jykkbh" id="fieldEmail" class="form-control required email js-cm-email-input qa-input-email" placeholder="E-mailadres" maxlength="200" />
                        </div>

                        <div class="form-group">
                            <label for="fieldtklijky" class="form-label">Telefoonnummer:</label>
                            <input type="tel" name="cm-f-tklijky" id="fieldtklijky" class="form-control" placeholder="" maxlength="200" />
                        </div>

                        <div class="form-group">
                            <label for="fieldtklijki" class="form-label">Bedrijfsnaam:</label>
                            <input type="text" name="cm-f-tklijki" id="fieldtklijki" class="form-control" placeholder="" maxlength="200" />
                        </div>

                        <div class="form-group">
                            <label for="fieldtklijkd" class="form-label">Functie:</label>
                            <input type="text" name="cm-f-tklijkd" id="fieldtklijkd" class="form-control" placeholder="" maxlength="200" />
                        </div>

                        <div class="buttons-set">
                            <button type="submit" class="btn btn-primary">
                                <span>Verzenden</span>
                            </button>
                        </div>

                    </form>

                    <script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>

                    {/if}

                </div>

            </div><!-- /block -->

        </div><!-- /container -->
    </section><!-- /section -->

{/exp:channel:entries}
