{layout="_layouts/.default"
	body_class="view--actueel view--actueel-category"
}
					
	{exp:channel:categories
		channel="actualiteiten"
		show="{segment_3_category_id}"
		style="linear"
		limit="1"
		show_empty="yes"
	}
		
		{if no_results}{redirect="{structure:page_uri_for:5}"}{/if}
			
		<section class="section section--news py-3">
			<div class="container">
				
				<div class="block block--text mb-3">
					
					<header class="block__title">
						<h1 class="h2"><span>{structure:page_title_for:5} / {category_name}</span></h1>
					</header>
					
					{if category_description != ""}
					<div class="block__content">
						<p>{category_description}</p>
					</div>
					{/if}
	
				</div>
				
				{embed="_embeds/.block_actueel_category_nav"}
				{embed="actueel/.block_article_list"
					category_id="{category_id}"
					limit="30"
				}
				
				
			</div><!-- /container -->
		</section><!-- /section -->	
		
	{/exp:channel:categories}
