{layout="_layouts/.default"
	body_class="view--actueel-list"
}
					
	{exp:channel:entries
		channel="tekst"
		disable="pagination|member_data|trackbacks|categories|category_fields"
		require_entry="yes"
		limit="1"
	}
	
		{if no_results}{redirect="/pagina-niet-gevonden"}{/if}
		
		<section class="section section--news py-3">
			<div class="container">
				
				<div class="block block--text mb-3">
					
					<header class="block__title">
						<h1 class="h1"><span>{tekst_paginatitel}</span></h1>
					</header>

					<div class="block__content">
						{tekst_inhoud}
					</div>
	
				</div>
				
				{embed="_embeds/.block_actueel_category_nav"}
				{embed="actueel/.block_article_list"
					category_id="11|12|17|21|22"
					limit="30"
				}
				
				
			</div><!-- /container -->
		</section><!-- /section -->	
		
	{/exp:channel:entries}
