{layout="_layouts/.default"
	body_class="view--cms-page view--actueel-item"
}

	{exp:channel:entries
		channel="actualiteiten"
		disable="pagination|member_data|trackbacks|categories|category_fields"
		status="open|draft"
		require_entry="yes"
		limit="1"
	}
		
		{if no_results}{redirect="/pagina-niet-gevonden"}{/if}
		
		<section class="section section--cms-page py-3">
			<div class="container">

				<div class="col-lg-10 col-lg-offset-1">

					{_partial_breadcrumb}

					<div class="block block--text">

						<hgroup class="block__title">
							<h1><span>{title}</span></h1>
						</hgroup>

						{if actualiteit_afbeelding != ""}
						<figure class="block__figure">
							{exp:ce_img:single
								src="{actualiteit_afbeelding}"
								width="1140"
								height="600"
								crop="yes|center,center"
								allow_scale_larger="yes"
								title="{actualiteit_afbeelding:title}"
								alt="{actualiteit_afbeelding:alt_text}"
								class="img-responsive"
							}
						</figure>
						{/if}


						<div class="block__content">

							{acualiteit_volledige_inhoud}

						</div>
					</div><!-- /block -->

					{actualiteit_content_blocks}

					{if actualiteit_content_blocks:first}
					<div class="content-blocks">
					{/if}

						{actualiteit_content_blocks:content_block_tekst}

						{content}
						<div class="content-block content-block--text">
							<div class="block block--text">

								{if content:titel != ''}
								<header class="block__title mb-1">
									<h2 class="h3 mt-0 mb-0">{content:titel}</h2>
								</header>
								{/if}

								<div class="block__content">

									{content:tekst}

								</div>
							</div><!-- /block -->
						</div>
						{/content}

						{/actualiteit_content_blocks:content_block_tekst}

						{actualiteit_content_blocks:content_block_afbeelding_tekst}

						{content}
						<div class="content-block content-block--img-text">
							<div class="block">

								<div class="row">
									<div class="col-lg-4 {if content:positie_afbeelding == 'rechts'}col-lg-push-8{/if}">

										<div class="block block--image">
											<figure class="block__figure mb-0">
												{exp:ce_img:single
													src="{content:afbeelding}"
													width="720"
													crop="yes|center,center"
													allow_scale_larger="yes"
													title="{content:afbeelding:title}"
													alt="{content:afbeelding:alt_text}"
													class="img-responsive"
												}
											</figure>
										</div>

									</div>
									<div class="col-lg-8 {if content:positie_afbeelding == 'rechts'}col-lg-pull-4{/if}">

										<div class="block block--text">

											{if content:titel != ''}
											<header class="block__title mb-1">
												<h2 class="h3 mt-0 mb-0">{content:titel}</h2>
											</header>
											{/if}

											<div class="block__content">

												{content:tekst}

											</div>
										</div><!-- /block -->

									</div>
								</div>

							</div><!-- /block -->
						</div><!-- /content-block -->
						{/content}

						{/actualiteit_content_blocks:content_block_afbeelding_tekst}

						{actualiteit_content_blocks:content_block_quote}

						<div class="content-block content-block--quote">
							<div class="block block--quote">
								<div class="block__content">

									<blockquote class="blockquote">
										{content}
									</blockquote>

								</div>
							</div><!-- /block -->
						</div><!-- /content-block -->

						{/actualiteit_content_blocks:content_block_quote}

						{actualiteit_content_blocks:content_block_afbeelding}

						{content}

						<div class="content-block content-block--image">
							<div class="block block--image">
								<figure class="block__figure mb-0">
									{exp:ce_img:single
										src="{content:afbeelding}"
										width="920"
										height="518"
										crop="yes|center,center"
										allow_scale_larger="yes"
										title="{content:afbeelding:title}"
										alt="{content:afbeelding:alt_text}"
										class="img-responsive"
									}
								</figure>

								{if content:onderschrift != ''}

								<div class="block__content pt-1">
									<span class="text-muted small">{content:onderschrift}</span>
								</div>

								{/if}
							</div><!-- /block -->
						</div><!-- /content-block -->

						{/content}

						{/actualiteit_content_blocks:content_block_afbeelding}

						{actualiteit_content_blocks:content_block_embed}

						<div class="content-block content-block--embed">
							<div class="block block--embed">
								<div class="block__content">

									<div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item" src="{content}"></iframe>
									</div>

								</div>
							</div><!-- /block -->
						</div>

						{/actualiteit_content_blocks:content_block_embed}

						{if actualiteit_content_blocks:last}
					</div>
					{/if}

					{/actualiteit_content_blocks}

					<br />

					<p class="m-0"><strong>Geplaatst op {entry_date format="%j-%m-%Y"} door {author}</strong></p>

				</div>
				
			</div><!-- /container -->			
		</section><!-- / section -->
			
		<section class="section section--news py-3">
			<div class="container">

				<hr class="mt-0 mb-3">

				<div class="block block--article-list">
					
					<header class="block__title mb-2">
						<h3 class="h2"><span>Overige actualiteiten</span></h3>
					</header>
					
					<div class="block__content">
						
						{embed="_embeds/.block_article_list"
							category_id="11|12|17|21|22"
							limit="3"
						}
			
						<div class="buttons-set">
							<a href="{structure:page_url_for:5}" class="btn btn-primary">
								<span>Meer nieuws</span>
							</a>
						</div>
						
					</div>
					
				</div><!-- /block -->
				
				
			</div><!-- /container -->
		</section><!-- /section -->
		
	{/exp:channel:entries}
