.section--project-list {
	
	> .container {
		width: 100%;
		max-width: 1440px;
	}
	
	.block--list {
		.block__content {
			
			ul {
				.list-unstyled(); 
				margin: 0;
				padding: 0;
			}
			
			.block--project {
				margin-bottom: 8px;
				.block__figure {
					position: relative;
					> a { 
						display: block;
						position: relative; 
						&:hover:before {
							.opacity(.5);
						}
					}
					> a:before {
						.opacity(1);
						.transition(opacity, .25s;);
						content: "";
						display: block;
						position: absolute;
						left: 0; right: 0;
						top: 0; bottom: 0;
						background: rgba(0,0,0, .25);
						z-index: 110;
					}
					.caption {
						display: block;
						position: absolute;
						left: 25px;
						bottom: 25px;
						z-index: 120;
						a { text-decoration: none; display: block; }
						h4, .h4 {
							font-weight: 700;
							color: #fff;
							text-transform: uppercase;
							margin: 0 0 4px 0;
						}
						strong {
							display: block;
							font-weight: 600;
							font-size: 16px;
							color: @theme-green;
						}
					}
				}
			}
			
		}
	}
}

@media (min-width: @screen-sm-min) {

	.section--project-list {
		.block--list {
			.block__content {
				
				> ul { 
					margin: 0 -4px;
					padding: 0;
					display: flex;
					flex-flow: row;
					flex-wrap: wrap;
					align-content: flex-start;
					> li {
						padding: 0 4px;
						display: flex;
						flex-direction: column;
						width: 100%/2;
					}
				}
				
			}
		}
	}

}
@media (min-width: @screen-md-min) {

	.section--project-list {
		.block--list {
			.block__content {
				> ul > li { width: 100%/3; }
			}
		}
	}
}
@media (min-width: @screen-lg-min) {

	.section--project-list {
		.block--list {
			.block__content {
				> ul > li { width: 100%/4; }
			}
		}
	}
}
