.page-main  .section--faq {
	background: @theme-purple;
	color: #fff;
	padding: 80px 0;
	.block--faq {
		.block__title {
			margin-bottom: 50px;
			.h2 { color: #fff; }
		}
		.block__content {
			
			a:not(.btn) { color: #fff; text-decoration: underline; }
			
			dl {
				margin-bottom: 0;
				dt {
					font-size: 16px;
					font-weight: 700;
					text-align: left;
				}
				dd {
					margin-bottom: 30px;
				}
			}
		}
	}
}


@media (min-width: @screen-md-min) {
	.page-main  .section--faq {
		
		.block--faq {
			.block__content {
				dt {
					clear: left;
					float: left;
					width: 100%/3;
				}
				dd {
					margin-left: 100%/3;
					padding: 0 0 0 @grid-gutter-width;
				}
			}
		}
		
	}
}
