.page-main .section--ict-waarborg {

	.section__inner {
		background: @theme-purple url(../img/section-bg-rick-vd-zwet.png) bottom left/contain no-repeat;
		max-width: 1440px;
		position: relative;
		overflow: hidden;
		padding: 5rem 0;
		margin: 0 auto;
		text-align: center;
	}
	
	.block--text {
		position: relative;
		
		> .block__title {
			h3 {
				color: #fff;
			}
		}
		.block__content {
			
			p { 
				color: lighten(@theme-purple, 35%); 
				max-width: @container-lg /2;
				margin: 0 auto 20px auto;
			}
			
			a:not(.btn) { color: lighten(@theme-purple, 35%); text-decoration: underline; }
			
			blockquote {
				display: block;
				padding: 0;
				margin: 0;
				border: none;
				.quote {
					color: #ffffff;
					max-width: @container-lg /2;
					margin: 0 auto;
					line-height: @headings-line-height;
					font-weight: 300;
					padding: 1rem 2rem;

					@media (min-width: @screen-md-min) {
						font-size: 1.375rem;
						padding: 1rem;
					}

					border: none;
					position: relative;
					&:before {
						content: "";
						position: absolute;
						left: 0;
						top: 0;
						background: transparent url("data:image/svg+xml,%0A%3Csvg width='124px' height='99px' viewBox='0 0 124 99' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' fill-opacity='0.1'%3E%3Cg id='Homepage-v2' transform='translate(-508.000000, -3150.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cg id='Group-20' transform='translate(120.000000, 3017.250000)'%3E%3Cpath d='M416.145078,231 C424.26943,231 430.943005,228.453922 436.165803,223.361765 C441.388601,218.269608 444,211.592157 444,203.329412 C444,197.564706 442.645941,192.568627 439.937824,188.341176 C437.229706,184.113725 433.457686,180.943137 428.621762,178.829412 L428.621762,178.829412 L441.388601,133 L412.663212,133 L395.834197,174.505882 C392.545769,182.192157 390.417962,187.956863 389.450777,191.8 C388.483592,195.643137 388,199.486275 388,203.329412 C388,211.4 390.659758,218.029412 395.979275,223.217647 C401.298791,228.405882 408.020725,231 416.145078,231 Z M484.145078,231 C492.26943,231 498.943005,228.453922 504.165803,223.361765 C509.388601,218.269608 512,211.592157 512,203.329412 C512,197.564706 510.645941,192.568627 507.937824,188.341176 C505.229706,184.113725 501.457686,180.943137 496.621762,178.829412 L496.621762,178.829412 L509.388601,133 L480.663212,133 L463.834197,174.505882 C460.545769,182.192157 458.417962,187.956863 457.450777,191.8 C456.483592,195.643137 456,199.486275 456,203.329412 C456,211.4 458.659758,218.029412 463.979275,223.217647 C469.298791,228.405882 476.020725,231 484.145078,231 Z' id='“'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center center/contain no-repeat;
						width: 7.75rem;
						height: 6.125rem;
						z-index: -1;
					}
				}
				footer {
					font-weight: 700;
					display: block;
					margin-top: 10px;
					font-size: 14px;
					text-transform: uppercase;
					color: #CA9DD1;
					&:before { display: none; }
				}
			}
						
			.swiper-button-prev,
			.swiper-button-next {
				position: absolute;
				top: 50%; 
				width: 3.5rem;
				height: 3.5rem;
				background: transparent;
				border-radius: 50%;
				border: 2px solid @theme-green;
				display: flex;
				align-items: center;
				justify-content: center;
				margin: 0;
				.translate(0, -50%);
				.material-icons {
					color: @theme-green;
					font-size: 1.25rem;
				}
			}

			.swiper-button-prev { left: 0; }
			.swiper-button-next { right: 0; }
			
		}
	}
}
@media (min-width: @screen-md-min) {
	.no-touchevents .page-main .section--ict-waarborg {
		.section__inner {
			background: @theme-purple url(../img/section-bg-rick-vd-zwet.png) bottom left no-repeat fixed;
			background-position: bottom 0 left 31%;
		}
	}
}
