.page-main .section--brand-list {
	.block--brands {
		.block__content {
			
			ul { 
				.list-unstyled();
				overflow: hidden;
				margin: 0 -(@grid-gutter-width/2);
				padding: 0;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: flex-start;
				align-items: center;
				> li {
					margin: 0;
					margin-bottom: 10px;
					display: block;
					padding: 0 (@grid-gutter-width/2);
					width: 50%;
					text-align: center;
					.brand img { 
						display: inline-block;
					}
				}
			}
			
		}
	}
	
	@media (min-width: @screen-sm-min) {
		.block--brands {
			.block__content {
				ul {
					> li { width: 25%; }
				}
			}
		}
	}
	
	@media (min-width: @screen-lg-min) {
		.block--brands {
			.block__content {
				ul {
					> li { width: 100%/6; }
				}
			}
		}
	}
}