.page-main .section--call-to-action {
	padding: 0;
	.section__inner {
		background: #f2f2f2;
		padding: 5rem 0;
		margin: 0 auto;
		text-align: center;
		position: relative;
		z-index: 1;
		&:before {
			height: 100%;
			width: 100%;
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background: transparent url("data:image/svg+xml,%0A%3Csvg width='440px' height='374px' viewBox='0 0 440 374' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' opacity='0.75'%3E%3Cg id='Homepage-v2' transform='translate(-612.000000, -3548.000000)' fill='%23FFFFFF' fill-rule='nonzero'%3E%3Cg id='Group-26' transform='translate(270.000000, 3548.000000)'%3E%3Cpath d='M597.77,-14.75 L770.167652,157.646674 C777.740892,165.166643 782,175.397936 782,186.070513 C782,196.555852 777.889023,206.615254 770.563178,214.096073 L770.167652,214.494352 L596.642,388.019 L527.357,388.019 L353.832348,214.494352 C346.259108,206.974382 342,196.74309 342,186.070513 C342,175.585174 346.110977,165.525772 353.436822,158.044953 L353.832348,157.646674 L526.229,-14.75 L597.77,-14.75 Z M561.8357,35.8187343 C554.543879,35.8187343 547.557974,38.7491731 542.448342,43.9513187 L419.544763,166.854736 C414.552635,171.932366 411.748221,178.77291 411.748221,185.906213 C411.748221,193.039516 414.552635,199.88006 419.544763,204.957691 L542.448342,327.861108 C547.557974,333.063253 554.543879,335.993692 561.8357,335.993692 C569.127521,335.993692 576.113427,333.063253 581.223059,327.861108 L704.126638,204.957691 C709.118766,199.88006 711.923179,193.039516 711.923179,185.906213 C711.923179,178.77291 709.118766,171.932366 704.126638,166.854736 L581.223059,43.9513187 C576.113427,38.7491731 569.127521,35.8187343 561.8357,35.8187343 Z M636.461538,131.916667 L576.418217,271.814103 L576.275,271.813513 L576.666667,272.942308 L545.53733,272.942308 L487.538462,133.044872 L525.221342,133.044872 L553.401584,205.462368 C553.871729,207.115376 555.522349,211.309499 557.14364,215.735637 L557.437828,216.542432 C557.486716,216.677152 557.535509,216.811957 557.584175,216.946783 L557.874363,217.755465 C558.258516,218.832661 558.630172,219.902932 558.972097,220.933379 C559.781217,223.642738 560.368346,225.237078 561.09892,227.735467 C561.989784,224.342422 562.646876,222.915763 563.8817,218.613669 C565.107073,215.259321 566.119101,212.683661 567.11589,210.196488 L567.805974,208.480253 C568.729333,206.188171 569.678661,203.835771 570.809775,200.880191 L600.171619,132.245064 L636.461538,131.916667 Z' id='Combined-Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center center no-repeat;
			background-size: auto 120%;
		}
	}

	.block--text {
		position: relative;
		z-index: 10;
		.block__content {
			
			p { 
				max-width: @container-lg/2;
				margin: 0 auto 20px auto;
				font-weight: 700;
				a { color: @text-color; text-decoration: none; }
			}
			
			ul {
				.list-unstyled();
				margin: 20px 0;
				text-align: center;
				li + li { margin-top: 14px; }
				.telephone {
					display: block;
					font-size: 1rem;
					font-weight: 700;
					margin-bottom: 14px;
					a { color: @theme-purple; text-decoration: none; }
				}
			}
			.buttons-set {
				display: flex;
				flex-direction: column;
				align-items: center;
				.btn {
					width: 100%;
					max-width: 10rem;
				}
				.btn:not(:last-child) {
					margin-bottom: .25rem;
				}
				@media (min-width: @screen-md-min) {
					flex-direction: row;
					justify-content: center;
					.btn:not(:last-child) {
						margin-bottom: 0;
						margin-right: .25rem;
					}
				}
			}
		}
	}
}
