.page-main .section--map {	
	padding: 0;
	position: relative;
	background: @theme-purple;
	> .replace-map {
		width: 100%;
		min-height: 0;
		padding: 0;	
		height: 0;
		padding-bottom: 100%;
		background: #ccc;
		position: relative;
		z-index: 900;
	}
	> .overlay {
		.container { 
			position: static;
			.block--text {
				background: @theme-purple;
				color: #fff;
				padding: 30px 15px;
				margin: 0 -15px;
				.block__figure {
					position: relative;
					max-width: 310px;
					margin-bottom: 15px;
					.caption {
						position: absolute;
						bottom: 0;
						right: 0;
						a {
							font-size: @font-size-small;
							display: block; 
							padding: 4px 6px; 
							color: #fff; 
							background: rgba(0,0,0,.5); 
							text-decoration: none;
						}
					}
				}
				
				.block__title {
					margin-bottom: 20px;
					h3 { 
						color: #fff;
						margin: 0 0 10px 0; 
						padding: 0;
				 	}
				}
				.block__content {
					
					.table-responsive {
						border: none;
						margin: 15px 0 0 0;
						
						.table { margin: 0; }
						
						.table > thead > tr > th, 
						.table > tbody > tr > th, 
						.table > tfoot > tr > th, 
						.table > thead > tr > td, 
						.table > tbody > tr > td, 
						.table > tfoot > tr > td { 
							padding: 4px 0; 
							border: 0;
						}
						
						.table > thead > th,
						.table > tbody > th,
						.table > tfoot > th {
							font-weight: 600;
						}
						
						.table > thead > tr:not(:last-child),
						.table > tbody > tr:not(:last-child),
						.table > tfoot > tr:not(:last-child) {
							> td, > th { border-bottom: 1px solid darken(@theme-purple, 10%); }
						}
					}
					
					a:not(.btn) { color: #fff; text-decoration: underline; }

					.buttons-set {
						display: flex;
						flex-direction: column;
						flex-wrap: wrap;
						.btn {
							width: 100%;
							max-width: 10rem;
						}
						.btn:not(:last-child) {
							margin-bottom: .25rem;
						}
					}
				}
			}
		}
	}	
}

@media (min-width: @screen-sm-min) {
	.page-main .section--map {	
		> .replace-map {
			padding-bottom: 80%;
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) { 
	
	.page-main .section--map {	
		background: none;
		> .replace-map {
			padding-bottom: 60%;
		}
		> .overlay {
			position: absolute;
			top: 50px;
			width: 100%;
			height: 1px;
			z-index: 999;
			.container { 
				.clearfix();
				height: 1px;
				width: 100%;
				max-width: 1440px;
				.block--text {
					.pull-left();
					.img-shadow;
					width: 100%;
					max-width: @container-md/3;
					padding: 40px;
					margin: 0;
				}
			}
		}
	}
	
}

@media (min-width: @screen-lg-min) { 

	.page-main .section--map {
		> .replace-map {
			padding-bottom: 45%;
		}
		> .overlay {
			.container {
				.block--text {
					max-width: @container-lg/3;
				}
			}
		}
	}

}
