.page-main .section--projects {
	
	> .container {
		max-width: 1440px;
		width: 100%;
	}
	
	.block--carousel {
		.block__content {

			.swiper-button-prev,
			.swiper-button-next {
				position: absolute;
				top: 50%;
				width: 2.5rem;
				height: 2.5rem;
				background: transparent;
				border: 2px solid @theme-green;
				border-radius: 50%;
				line-height: 46px;
				margin: 0;
				display: flex;
				align-items: center;
				justify-content: center;
				.translate(0, -50%);
				&:before {
					.material-icons;
					color: @theme-green;
					display: inline-block;
				}
			}
			
			.swiper-botton-next { right: 0; }
			.swiper-button-next:before {
				content: "arrow_forward";
			}
			
			.swiper-botton-prev { left: 0; }
			.swiper-button-prev:before {
				content: "arrow_back";
			}
			
			.block--project {
				.block__figure {
					position: relative;
					> a { 
						display: block;
						position: relative; 
						&:hover:before {
							.opacity(.5);
						}
					}
					> a:before {
						.opacity(1);
						.transition(opacity, .25s;);
						content: "";
						display: block;
						position: absolute;
						left: 0; right: 0;
						top: 0; bottom: 0;
						background: rgba(0,0,0, .25);
						z-index: 110;
					}
					.caption {
						display: block;
						position: absolute;
						left: 25px;
						bottom: 25px;
						z-index: 120;
						a { text-decoration: none; display: block; }
						h4, .h4 {
							font-weight: 700;
							color: #fff;
							text-transform: uppercase;
							margin: 0 0 4px 0;
						}
						strong {
							display: block;
							font-weight: 600;
							font-size: 16px;
							color: @theme-green;
						}
					}
				}
			}
				
			.buttons-set {
				.hidden-xs;
				text-align: center;
			}
			
		}
	}
	@media (min-width: @screen-sm-min) {
		.block--carousel {
			.block__title { text-align: center; }
		}
	}
}
