.page-main {
	.section--block-grid {
		
		padding-bottom: 10px;
		
		ol { 
			.list-unstyled(); 
			margin: 0 -(@grid-gutter-width/2);
			padding: 0;
			> li { 
				padding: 0 @grid-gutter-width/2;
				margin-bottom: 15px; 
				&.complementary {
					.hidden-xs;
					.hidden-sm;					
				}
			}
		}
		
		.block--grid-item {
			.transition(border, .35s;);
			display: block;
			width: 100%;
			border: 4px solid #eee;
			padding: 15px;
			&:hover {
				border-color: @theme-green;
			}
			.block__title {
				margin-bottom: 0;
				.h3 { font-size: @font-size-base; }
				.h3 a { color: @headings-color; text-decoration: none; }
			}
			.block__content {
				.hidden-xs;
			}
		}
		
	}
}

@media (min-width: @screen-sm-min) {

	.page-main {
		.section--block-grid {
			
			ol { 
				display: flex;
				align-items: stretch;
				flex-wrap: wrap;
				flex-direction: row;
				justify-content: flex-start;
				> li {
				    width: 100%/2;
					margin-bottom: @grid-gutter-width;
					.block--grid-item {
						padding: 25px;
						.block__title {
							margin-bottom: 10px;
							.h3 { font-size: @font-size-h3 * .85; }
						}
					}
				}
			}
			
		}
	}
}

@media (min-width: @screen-md-min) {
	
	.page-main {
		.section--block-grid {
			
			ol > li { 
			    width: 100%/3;
			}
					
		}
	}
}
