.page-main .section--services {
	.block--services-list {
		.block__content {
			
			ol {
				.list-unstyled();
				padding: 0;
				margin: 0;
			}
			
		}
	}
	
	.block--service {
		margin-bottom: 30px;
		.block__figure {
			position: relative;
			margin-bottom: 20px;
		}
		.block__title {
			h4 a, .h4 a {
				color: @headings-color;
				text-decoration: none;
			}
		}
		.block__content {
			color: @theme-gray;
		}
	}
	
	@media (min-width: @screen-sm-min) {
		.block--services-list {
			.block__content {
				
				ol {
					display: flex;
					flex-flow: row;
					flex-wrap: wrap;
					justify-content: flex-start;
					margin: 0 -15px;
					> li {
						padding: 0 15px;
						display: flex;
						flex-direction: column;
						width: 50%;
					}
				}
			}
		}
	}
	
	@media (min-width: @screen-md-min) {
		.block--services-list {
			.block__content {
				
				ol {
					> li { width: 100%/3; }
				}
				
			}
		}
		
	}
	@media (min-width: @screen-lg-min) {
	}
	
}