.page-main .section--news {
	.block--article-list {
		
		> .block__title {
			text-align: center;
		}
		
		.block__content {
			
			ul:not(.pagination) {
				.list-unstyled();
				> li {
					margin-bottom: @grid-gutter-width;
				}
			}
			
			.buttons-set {
				margin-top: 0;
				text-align: center;
			}
			
		}
	}
	
	.block--article {
		background: #fff;
		border-radius: .5rem;
		overflow: hidden;
		box-shadow: 0 0 1.5rem rgba(0,0,0,.1);
		.block__figure {
			position: relative;
			margin-bottom: 0;
			.caption {
				position: absolute;
				top: 1rem;
				left: 1rem;
				.label {
					line-height: @line-height-computed;
					padding-left: 1rem;
					position: relative;
					border-radius: 5px;
					&:before {
						content: "";
						display: block;
						width: 5px; height: 5px;
						border-radius: 50%;
						background: lighten(@theme-green, 5%);	
						position: absolute;
						left: 6px;
						top: 50%;
						.translate(0, -3px);
					}
					&.label--12 {
						background: @theme-label-news-bg;
						&:before { background: lighten(@theme-label-news-bg, 25%); }
					}
					&.label--11 {
						background: @theme-label-blog-bg;
						&:before { background: lighten(@theme-label-blog-bg, 25%); }
					}
					&.label--17 {
						background: @theme-label-events-bg;
						&:before { background: lighten(@theme-label-events-bg, 25%); }
					}
					&.label--21 {
						background: @theme-label-webinar-bg;
						&:before { background: lighten(@theme-label-webinar-bg, 25%); }
					}
					&.label--22 {
						background: @theme-label-whitepaper-bg;
						&:before { background: lighten(@theme-label-whitepaper-bg, 25%); }
					}
				}
			}
		}
		.block__title {
			padding: 1rem 1.25rem 0 1.25rem;
			h4 a {
				color: @headings-color;
				text-decoration: none;
			}
		}
		.block__content {
			padding: 0 1.25rem 1rem 1.25rem;
			color: @theme-gray;
		}

		.continue {
			margin: 0;
			padding: 0 1.25rem 2rem 1.25rem;
			.hidden-xs;
		}
	}
}

@media (min-width: @screen-sm-min) {
	
	.page-main .section--news {
		.block--article-list {
			.block__content {
							
				ul:not(.pagination) {
					margin: 0 -15px;
					padding: 0;
					display: flex;
					flex-flow: row;
					flex-wrap: wrap;
					align-content: flex-start;
					> li {
						padding: 0 15px;
						display: flex;
						flex-direction: column;
						width: 100%/2;
					}
				}
				
			}
		}
	}
	
}
@media (min-width: @screen-md-min) {
	
	.page-main .section--news {
		.block--article-list {
			.block__content {
				ul:not(.pagination) > li { width: 100%/3; }
			}
		}
	}
	
}
@media (min-width: @screen-lg-min) {}
