.page-main .section--contact {	
	background: #fff;
	padding: 0;
	overflow: hidden;
	
	.block--text {
		padding: 40px @grid-gutter-width 40px 0;
		.block__content {
			
			> h3:first-child { margin-top: 0; }
			
			.table-responsive { 
				margin: 15px 0; 
				border: none;
			}
			
			.table > thead > tr > th, 
			.table > tbody > tr > th, 
			.table > tfoot > tr > th, 
			.table > thead > tr > td, 
			.table > tbody > tr > td, 
			.table > tfoot > tr > td { 
				padding: 6px 0; 
				border: 0;
			}
									
			.table > thead > th,
			.table > tbody > th,
			.table > tfoot > th {
				font-weight: 600;
			}
			
			.table > thead > tr:not(:last-child),
			.table > tbody > tr:not(:last-child),
			.table > tfoot > tr:not(:last-child) {
				> td, > th { border-bottom: 1px solid #ddd; }
			}
			
			.social-links { margin-top: 40px; }
		}
	}

	.block--form {
		padding: 40px 0;
		.block__title {
			margin-bottom: (@line-height-computed / 2);
			h3 { margin: 0; color: @theme-purple; }
		}
	}
	@media (min-width: @screen-sm-min) {
		
		.block--text {
			align-items: stretch;
			display: flex;
			position: relative;
			background: none;
			&:before {
				top: 0;
				bottom: 0;
				content: "";
				position: absolute;
				left: auto;
				right: 0;
				width: 100vw;
				background: #f2f2f2;
				display: flex;
				z-index: 0;
			}
			.block__title,
			.block__content {
				width: 100%;
				position: relative;
				z-index: 1;
			}
			.block__content {
				.table-responsive {
					max-width: 450px; 
					padding: 0;
					background: none;
				}
			}
		}
		
	}
}