.page-main .section--contrast {
	
	background: #f2f2f2;
	
	&.section--intro {
		> .container > .block--text {
			max-width: @container-lg / 12 * 9;
		}
	}
	
	&.section--contrast-left {
		background: #fff;
		padding: 0;
		overflow: hidden;
		.block--text {
			padding: 40px 0;
			align-items: stretch;
			display: flex;
			position: relative;
			&:before {
				top: 0;
				bottom: 0;
				content: "";
				position: absolute;
				left: auto;
				right: 0;
				width: 100vw;
				background: #f2f2f2;
				display: flex;
				z-index: 0;
			}
			.block__content {
				position: relative;
				z-index: 1;
				max-width: (@container-lg /3 * 2) - @grid-gutter-width;
			}
		}
	}
}