.section--team-carrousel {

  .container-fluid {
    max-width: 1440px;
  }

  .swiper-container {
    position: relative;

    .swiper-wrapper {
      height: auto;
    }

    .swiper-slide {
      width: 24rem;

      @media (min-width: @screen-sm-min) {
        width: 32rem;
      }
      @media (min-width: @screen-lg-min) {
        width: 40rem;
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      top: 50%;
      width: 2.5rem;
      height: 2.5rem;
      background: transparent;
      border: 2px solid @theme-green;
      border-radius: 50%;
      line-height: 46px;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      .translate(0, -50%);
      &:before {
        .material-icons;
        color: @theme-green;
        display: inline-block;
      }
    }

    .swiper-botton-next { right: 0; }
    .swiper-button-next:before {
      content: "arrow_forward";
    }

    .swiper-botton-prev { left: 0; }
    .swiper-button-prev:before {
      content: "arrow_back";
    }

  }
}
