.page-main .section--experts {
	
	padding-bottom: 10px;
	
	.block--experts {
		> .block__title {
			text-align: center;
		}
	}
	
	ul { 
		.list-unstyled(); 
		padding: 0;
		margin: 0 -(@grid-gutter-width/4);
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		justify-content: flex-start;
		> li {
			align-items: stretch;
			flex-direction: column;
		    width: 100%/2;
			padding: 0 (@grid-gutter-width/4);
			margin-bottom: @grid-gutter-width/2;
		}
	}

	.block--expert {
		.block__figure {
			position: relative;
			> a { 
				display: block;
				position: relative; 
				&:hover:before {
					.opacity(0);
				}
			}
			> a:before {
				.opacity(1);
				.transition(opacity, .25s;);
				content: "";
				display: block;
				position: absolute;
				left: 0; right: 0;
				top: 0; bottom: 0;
				background: rgba(0,0,0, .15);
				z-index: 110;
			}
			> a:after {
				content: "";
				display: block;
				position: absolute;
				left: 0; right: 0;
				top: 0; bottom: 0;
				z-index: 111;
				background: rgba(0,0,0,.2);
			}
			.caption {
				display: block;
				position: absolute;
				left: 15px;
				right: 15px;
				bottom: 15px;
				z-index: 120;
				a { text-decoration: none; display: block; }
				h4, .h4 {
					font-weight: 700;
					color: @theme-green;
					margin: 0 0 4px 0;
				}
				strong {
					.hidden-xs;
					display: block;
					font-weight: 700;
					font-size: 16px;
					color: #fff;
				}
			}
		}
	}
	
	.buttons-set {
		text-align: center;
		margin: 0 0 30px 0;
	}
}
@media (min-width: @screen-sm-min) {

	.page-main .section--experts {
		
		.block--expert {
			.block__figure {
				.caption {
					left: 25px;
					right: 25px;
					border: 25px;
				}
			}
		}
	}
	
}

@media (min-width: @screen-md-min) { 

	.page-main .section--experts {	
		ul > li { width: 100%/3; }
	}
	
}

@media (min-width: @screen-lg-min) { }
