.section--masthead {
  padding: 0;
  width: 100%;
  position: relative;

  &.section--masthead-compact {
    .section--masthead__outer {
      &:before {
        padding-top: 56.25%;
        @media (min-width: @screen-md-min) {
          padding-top: 0;
          height: 24rem;
        }
      }
      &:after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0,0,0,.25);
      }
    }
  }

  .section--masthead__outer {
    background-size: cover;
    max-width: 1440px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;

    &:before {
      content: "";
      display: block;
      padding-top: 120%;
      @media (min-width: @screen-sm-min) {
        padding-top: 56.25%;
      }
      @media (min-width: @screen-lg-min) {
        padding-top: 0;
        height: 38rem;
      }
    }
  }
  .section--masthead__swiper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 110;
    .swiper-container {
      width: 100%;
      height: 100%;
      .swiper-button-disabled {
        display: none;
      }
    }
  }

  .section--masthead__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 110;

    > video {
      object-fit: cover;
      object-position: center center;
    }

    &:before {
      z-index: 120;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      content: "";
      display: block;
      background: rgba(0,0,0,.3);
    }
  }

  .section--masthead__inner {
    padding: 0;
    padding-top: 2rem;
    @media (min-width: @screen-lg-min) {
      padding-top: 4rem;
    }
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 110;
    color: #fff;
    .page-title {
      h1 {
        font-size: 1.5rem;
        color: #fff;
        margin: 0;

        @media (min-width: @screen-xs-min) {
          font-size: 2.75rem;
        }

        @media (min-width: @screen-lg-min) {
          font-size: 3.5rem;
        }
        span > span {
          color: @theme-green;
        }
      }
    }
    .lead {
      margin: .5rem 0 0 0;
    }
    .buttons-set {
      max-width: 13rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .btn:not(:last-child) {
        margin-bottom: .25rem;
      }
    }
  }

  .scroll-hint {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 30px;
    margin-left: -16px;
    width: 32px;
    text-align: center;
    color: #fff;
    background-size: contain;
    z-index: 140;
    .scroll-hint__icon {
      display: block;
      width: 21px;
      height: 30px;
      border: 2px solid #fff;
      border-radius: 10.5px;
      background: transparent;
      position: relative;
      .wheel {
        animation-duration: 1.25s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        animation-name: scroll;
        position: absolute;
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: #fff;
        top: 6px;
        left: 6px;
      }
    }
  }
}
