.page-main .section--cms-page {
	
	.breadcrumb {
		.hidden-xs;
	}
	
	.block--text {
		.block__figure {
			margin-top: 30px;
			margin-bottom: 30px;	
		}
		.block__title {		
			margin-bottom: 20px;	
			h1 {
				display: block;
				font-weight: 700;
				line-height: @headings-line-height;
				margin: 0;
				padding: 0;
			}
			h2 {
				display: block;
				font-weight: 700;
				line-height: @headings-line-height;							
				color: @headings-color;
			}
		}
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-lg-min) { 
	.page-main .section--cms-page {
		
	}
}
