.page-main .section--breakout {
	padding-top: 50px;
	padding-bottom: 50px;
	> .container {
		.figure {
			margin-bottom: 30px;
		}
	}
}

@media (min-width: @screen-md-min) {
	.page-main .section--breakout {
	
		> .container {
			width: 100%;
			max-width: 1440px;
			.block--text {
				width: 100%;
				max-width: (@container-lg - (@grid-gutter-width * 2)) /2;
				.block__title {
					margin-top: 10%;
				}
				.block__content {
					.buttons-set {
						margin-top: 30px;
					}
				}
			}
			.figure {
				margin-bottom: 0;
			}
		}
			
		&.section--breakout-left {
			> .container .block--text {
				margin-right: auto;
				margin-left: 0;
				padding-left: 40px;
			}
		}
		
		&.section--breakout-right {
			> .container .block--text {
				margin-left: auto;
				margin-right: 0;
				padding-right: 40px;
			}
		}
		
	}
}
