.btn {
	.transition(all 0.25s);
	font-weight: 700;
	text-decoration: none;
	padding: .625rem 1rem;
	border: 2px solid transparent;
}

.btn-ghost {
	.button-variant(@btn-ghost-color; @btn-ghost-bg; @btn-ghost-border);
	&:focus, &.focus, &:hover {
		background-color: @theme-purple;
		color: #fff;
	}
}

.btn-secondary {
	.button-variant(@btn-secondary-color; @btn-secondary-bg; @btn-secondary-border);
}

.btn-light {
	.button-variant(@btn-light-color; @btn-light-bg; @btn-light-border);
}

.btn-primary.btn-feedback {
	.transition(all 0.25s);
	box-shadow: 0px 4px 0px 0px darken(@btn-primary-bg, 10%);
	&:active {
		.translate(0, 2px);
		box-shadow: 0px 2px 0px 0px darken(@btn-primary-bg, 10%);	
	}
}

.btn-secondary.btn-feedback {
	.transition(all 0.25s);
	box-shadow: 0px 4px 0px 0px darken(@btn-secondary-bg, 10%);
	&:active {
		.translate(0, 2px);
		box-shadow: 0px 2px 0px 0px darken(@btn-secondary-bg, 10%);	
	}
}

.buttons-set .btn {
	min-width: 190px;
}
