/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.page {
	background: #fff;
	
	.rating {
		display: inline-block;
		width: 100px;
		height: 16px;
		margin: 20px 0;
		text-align: center;
		background: transparent url(../img/rating@2x.png) 0 0 repeat-x;
		background-size: 100px;
		> span {
			display: block;
			width: 91%;
			height: 100%;
			background: transparent url(../img/rating@2x.png) 0 -16px repeat-x;
			background-size: 100px;
		}
	}	
}

.block--social,
.block--footer-social,
.section--contact .block--text {
	.block__content {
		
		.social-links { 
			.list-unstyled(); 
			.clearfix();
			margin: 0; 
			padding: 0;
			> li { float: left; }
			> li + li { margin: 0 0 .25rem 1rem; }
			> li > a {
				display: flex;
				align-items: center;
				justify-content: center;
				color: #fff;
				text-decoration: none;
				font-size: 1.25rem;
				.fa {
					transition: color .2s ease-in;
				}
				&:hover, &:focus {
					.fa { color: @theme-green; }
				}
			}
		}
	}
}
