#verdel .page {
	
	.page-footer {
		background: #333;
		color: #fff;
		padding: 20px 0 0 0;
		
		.block--footer {
			margin-bottom: 30px;
			.block__title {
				margin: 0 0 20px 0;
				strong {
					font-size: 1.25rem;
					display: block;
				}
			}
			.block__content {
				
				a { color: #fff; text-decoration: none; }
				
				ul:not(.social-links) {
					.list-unstyled;
					margin: 0;
					padding: 0;
					> li {
						position: relative;
						margin: 0;
					}
					> li + li { margin-top: 10px; }
					> li a {
						.transition(color 0.25s);
						color: #fff;
						text-decoration: none;
						&:hover, &:focus {
							color: @theme-dark-green;
						}
					}
				}
				
				.rating {
					margin-top: 15px;
				}
			}
		}
		
		.block--footer-theme-links {
			.hidden-xs;
		}
		
		.block--footer-quick-links {
			.hidden-xs;
			.block__content {
				ul > li:first-child > a { color: @theme-dark-green; }
			}
		}
		
		.block--footer-address {
			.block__content {
				.figure,
				.rating { .hidden-xs; }
			}
		}
		
		.block--footer-newsletter {
			.hidden-xs;
			.hidden-sm;
			.block__content {
				.form {
					margin: 20px 0;
					.form-label {
						color: #ccc
					}
					.form-control { border-color: transparent; }
					.help-block { color: #fff; }
				}
			}
		}
		
		.block--footer-social {
			.hidden-xs;
			margin-bottom: 0;
		}
		
	}
	
	.footer-collateral {
		background: #fff;
		color: @text-color;
		padding: 20px 0 0 0;
		margin: 20px 0 0 0;
		
		p { display: inline-block; margin: 0 0 15px 0; }
		ul { 
			.hidden-xs;
			.hidden-sm;
			.list-unstyled;
			display: inline;
			margin: 0 0 15px 15px;
			> li { display: inline-block; }
			> li + li { margin-left: 15px; }
			> li a { color: @text-color; text-decoration: none; }
		}
		
	}
	
	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) { 
		
		.page-footer {
			padding-top: 30px;
		}
		
	}
	
	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-md-min) {  
	
		.page-footer {
		}
			
	}
	
	/* Large devices (large desktops, 1200px and up) */
	@media (min-width: @screen-lg-min) { 

		.page-footer {
			padding-top: 40px;
			
		}

	}
}
