.form {
	
	.form-control {
		.transition(background, .25s;);
		box-shadow: none !important;
		&:focus {
			border-color: #ccc;
			background: #fff;
		}
	}
	
	.form-label {
		font-weight: 700;
	}
	
	.buttons-set { margin-top: 10px; }
	
	.radio-container {
		margin-bottom: @form-group-margin-bottom;
	}
}
