#verdel {
	&.blank { padding-top: 0; }
	padding-top: 9.25rem;
	
	.page .page-header {		
		position: fixed;
		top: 0; left: 0; right: 0;
		z-index: @zindex-navbar;
		background: #fff;
		margin: 0; 
		padding: 0;
		border: none;
	}
	
	.navbar--collateral {
		background: #F2F2F2;
		color: @theme-gray;
		min-height: 36px;
		margin-bottom: 0;
		border: none;
		border-radius: 0;
		display: flex;
		align-items: center;

		.navbar-nav {
			margin: 0;
			margin-left: auto;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			> li > a {
				.transition(color 0.5s, margin 0.25s;);
				font-size: .84375rem;
				color: @theme-gray;
				padding: .25rem .5rem;
		        background: none;
		        text-decoration: none;
				&:hover, &:focus {
					color: #333;
				}
			}
			> li:last-child a {
				font-weight: 700;
				color: #714300;
			}
		}
	}
	
	.navbar-default {
		border-top: none;
		margin-bottom: 0;
		display: flex;
		align-items: center;
		background: #fff;
		@media (min-width: @grid-float-breakpoint) {
			min-height: 7rem;
		}

		> .container-fluid {
			width: 100%;
			max-width: 1440px;
		}

		.navbar-header {
			display: flex;
			align-items: center;
			min-height: 7rem;
			@media (min-width: @grid-float-breakpoint) {
				min-height: 0;
			}
			.navbar-brand {
				display: block;
				margin: .5rem 0;
				padding: 1rem;
				width: 96px;
				height: 96px;

				img {
					width: 100%;
					height: auto;
				}

				@media (min-width: @screen-lg-min) {
					width: 220px;
					height: auto;
				}
			}

			.navbar-phone {
				margin-left: auto;
				float: none;
				margin-right: .5rem;
			}

			.navbar-toggle {
				.btn;
				.btn-primary;
				float: none;
				margin-top: 0;
				@media (min-width: @screen-sm-min) {
					margin-left: auto;
				}
				@media (min-width: @grid-float-breakpoint) {
					display: none !important;
				}
			}
		}
		
		.navbar-collapse {
			background: none;
			max-height: @navbar-collapse-max-height;
		}

		.navbar-btn {
			float: right;
			display: none;
			margin-left: .5rem;
			margin-top: 2rem;
			margin-bottom: 2rem;
			@media (min-width: @grid-float-breakpoint) {
				display: inline-block;
			}
		}

		.navbar-nav {
			margin: 2rem 0;

			> li {

				&.active,
				&.parent-active {
					> a {
						color: @theme-purple;
						background: none !important;
					}
				}

				@media (min-width: @screen-lg-min) {
					&:not(:last-child) {
						margin-left: .5rem;
					}
				}

				&.has-children {

					> ul {
						list-style-type: none;
						margin: 0;
						padding: .5rem 0 0 .5rem;
						> li {
							font-size: .875rem;
							margin: 0 0 .5rem 0;

							a {
								transition: all .2s ease-in;
								display: block;
								padding: .25rem .75rem;
								text-decoration: none;

								&:hover, &:focus {
									color: @theme-purple;
									background: #eee;
								}
							}

							&.active > a {
								color: @theme-purple;
							}
						}
					}

					@media (min-width: @grid-float-breakpoint) {

						&:hover, &:focus {

							> ul {
								display: block;
							}

							> a:after {
								transform: rotate(180deg);
							}
						}

						> a:after {
							content: "expand_more";
							display: inline-block;
							font-family: "Material Icons", sans-serif;
							color: @text-muted;
							margin-left: .125rem;
							transition: transform .2s ease-in;
						}

						> ul {
							display: none;
							position: absolute;
							top: 100%;
							left: 0;
							padding: 0;
							padding-inline-start: 0;
							background: #ffffff;
							width: 100%;
							min-width: 15.25rem;
							max-width: 15.25rem;
							box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15);
							> li {
								margin: 0;
								> a {
									padding: .5rem .75rem;
									font-weight: 600;
								}
							}

						}
					}
				}
			}

			> li > a {
				transition: all .2s ease-in;
				font-size: 1rem;
				font-weight: 700;
				text-decoration: none;
				padding: 1rem .4375rem;
				@media (min-width: @screen-lg-min) {
					padding: 1rem .5rem;
				}
				@media (min-width: 1240px) {
					padding: 1rem .75rem;
				}
				position: relative;
				display: flex;
				align-items: center;
				color: #000000;
			}
		}
	}
}
