.SignikaNegative {
	font-family: "Signika Negative",sans-serif;
	line-height: @line-height-computed;
}

.Montserrat {
	font-family: "Montserrat",sans-serif;
	line-height: @line-height-computed;
}

.FFMetaPro {
	font-family: "ff-meta-web-pro",sans-serif;
	line-height: @line-height-computed;
}

.img-shadow {
	box-shadow: 8px 8px 0 rgba(0,0,0,.05);
}

.text-shadow {
	text-shadow: 4px 4px 8px rgba(0,0,0,.2);
}

.gradient {
	position: relative;
	&:after {
		content: "";
		display: block;
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
		#gradient > .horizontal(rgba(0,0,0,.25); rgba(0,0,0,0); 25%; 100%);
	}
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	
	/* Support for IE. */
	font-feature-settings: 'liga';
	
	display: inline-flex;
	vertical-align: middle;
}