.modal-content {
	border-radius: 0;
	border: none;
}

.modal-dialog {
	margin-top: 150px;
}

.modal-header {
	.close {
		display: block;
		width: 50px;
		height: 50px;
		background: @theme-dark-green;
		color: #fff;
		opacity: 1;
		margin-top:  -(@modal-title-padding);
		margin-right: -(@modal-title-padding);
	}
}

.modal-body {
	padding-top: 0;
}