.toolbar {
	.pagination {
		.list-unstyled;
		border-radius: 0;
		display: flex;
		justify-content: center;
		> li { 
			> a, 
			> span,
			&:last-child > a,
			&:first-child > a,
			&:last-child > span,
			&:first-child > span {
				font-weight: 700;
				border-radius: @border-radius-base;
			}
			display: block;
			+ li { margin-left: 8px; }
		}
	}
}
