html {
	font-size: 16px;
}

#verdel {
	/* Extra small devices (phones, less than 768px) */
	/* No media query since this is the default in Bootstrap */
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: .96875rem;
	line-height: 1.55;
	color: #333;
}
	
a { text-decoration: underline; }

.block  > .block__title {
	margin: 0 0 1rem 0;
	
	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		margin: 0 !important;
		color: #333333;
		line-height: @headings-line-height;
		font-weight: 700;
		a { text-decoration: none !important; }
	}
	
	h1, .h1 { font-size: @font-size-h1 * .75; }
	h2, .h2 { font-size: @font-size-h2 * .75; }
	h3, .h3 { font-size: @font-size-h3 * .85; }
	h4, .h4 { font-size: @font-size-h4 * .85; }
	
	&.block__title-muted {
		
		h1, h2, h3, h4, h5, h6,
		.h1, .h2, .h3, .h4, .h5, .h6 {
			text-align: center;
			color: #999;
		}
	}
}

.block	> .block__content,
.wygwam {
		
	h1, h2, h3, h4, h5, h6,
	.h1, .h2, .h3, .h4, .h5, .h6 {
		color: #000;
		line-height: @headings-line-height;
		font-weight: 700;
		margin-top: 2.5rem;
		margin-bottom: .5rem;
		a { text-decoration: none !important; }
	}
	
	h1, .h1 { font-size: @block-content-font-size-h1 * .75; }
	h2, .h2 { font-size: @block-content-font-size-h2 * .75; }
	h3, .h3 { font-size: @block-content-font-size-h3 * .85; }
	h4, .h4 { font-size: @block-content-font-size-h4 * .85; }
	
	.buttons-set {
		margin-top: 30px;
	}
	
	.lead {
		font-size: 1.25rem;
		font-weight: 700;
		color: #333;
	}

	.blockquote {
		display: block;
		margin: 2rem 0;
	}

	.continue { 
		margin-top: 1rem;
		line-height: 1.25;
		& + .continue { margin-top: .75rem; }
		> a {
			font-weight: 700;
			text-decoration: none !important;
			color: @theme-purple;
			display: flex;
			align-items: center;
			flex-wrap: wrap;
			&:after {
				color: @theme-purple;
				font-family: "Material Icons", sans-serif;
				content: "east";
				margin-left: .25rem;
				transition: margin-left .2s ease-in;
			}
			&:hover, &:focus {
				&:after {
					margin-left: .5rem;
				}
			}
		}
		> a + a { margin-left: 30px; }
	}
	
	> img,
	p > img {
		max-width: 100%;
		height: auto !important;
	}
	
	.blockquote {;
		font-size: 1.125rem;
		font-weight: 700;
		color: @theme-green;
		border: none;
		padding: 0 1rem;
		@media (min-width: @screen-md-min) {
			font-size: 1.5rem;
			padding: 0 2rem;
		}
	}

	.table {
		margin: 20px 0;
	}
	
}
			
/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) { 
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {  
	.block  > .block__title {

		h1, .h1 { font-size: @font-size-h1; }
		h2, .h2 { font-size: @font-size-h2; }
		h3, .h3 { font-size: @font-size-h3; }
		h4, .h4 { font-size: @font-size-h4; }
	}

	.block	> .block__content,
	.wygwam {
		
		h1, .h1 { font-size: @block-content-font-size-h1; }
		h2, .h2 { font-size: @block-content-font-size-h2; }
		h3, .h3 { font-size: @block-content-font-size-h3; }
		h4, .h4 { font-size: @block-content-font-size-h4; }
		
	}
		
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { 

}
