@theme-green: 			#90d133;
@theme-dark-green: 		#80C123;
@theme-darker-green: 	darken(#90d133, 10%);

@theme-purple: 			#763c7f;
@theme-dark-purple:		darken(#763c7f, 5%);
@theme-darker-purple:	darken(#763c7f, 10%);

@theme-gray:			#4c565c;

@theme-label-news-bg: 	    #0095fe;
@theme-label-blog-bg: 	    #ffb400;
@theme-label-events-bg:     #fe002a;
@theme-label-webinar-bg:    #ff884b;
@theme-label-whitepaper-bg: #763c7f;

@fa-font-path:        "../fonts/fontawesome/";

@font-size-base: .96875rem;

@font-size-h1: 2.5rem;
@font-size-h2: 2rem;
@font-size-h3: 1.75rem;
@font-size-h4: 1.25rem;

@block-content-font-size-h1: 2rem;
@block-content-font-size-h2: 1.75rem;
@block-content-font-size-h3: 1.5rem;
@block-content-font-size-h4: 1.25rem;

@link-color: @text-color;

@btn-primary-color: #fff;
@btn-primary-bg: @theme-dark-green;
@btn-primary-border: transparent;

@btn-secondary-color: #fff;
@btn-secondary-bg: @theme-purple;
@btn-secondary-border: @theme-purple;

@btn-ghost-color: @theme-purple;
@btn-ghost-bg: transparent;
@btn-ghost-border: @theme-purple;

@btn-light-color: @theme-gray;
@btn-light-bg: #fff;
@btn-light-border: transparent;

@input-bg: #f2f2f2;
@input-border: #eee;
@input-height-base: 2.5rem;

@padding-base-vertical: 7px;

@modal-inner-padding: 30px;
@modal-backdrop-opacity: 0;
@modal-header-border-color: transparent;

@breadcrumb-bg: none;
@breadcrumb-color: #999;

@nav-pills-link-border-color: transparent;
@nav-pills-link-bg: transparent;
@nav-pills-link-color: #333;

@nav-pills-active-link-hover-border-color: @theme-green;
@nav-pills-active-link-hover-bg: @theme-green;
@nav-pills-active-link-hover-color: #fff;

@pagination-active-color:              #fff;
@pagination-active-bg:                 @theme-green;
@pagination-active-border:             @theme-green;

@alert-border-radius: 0;

@headings-line-height:        1.2;
@headings-font-weight:        700;

@grid-float-breakpoint:       992px;
