#verdel.view--actueel-list {

	.page-main {
	
		.section--news {
			.block--text {
				margin-bottom: 30px;
				max-width: (@container-lg /3 * 2) - @grid-gutter-width;
			}
			.block--article {
				.block__figure {
					display: block !important;
				}
			}
		}
		
	}

}
