#verdel.view--theme {

	.page-main {
		
		.section--block-grid {
			padding-top: 0;
		}
		
		.section--news {
			.block--article-list {
				.block__content {
					
					ul > li:nth-child(3) { .hidden-sm; }
					
				}
			}
		}
		
		.section--experts {
			.hidden-xs;
			.block--experts {
				.block__content {
					
					ul > li:nth-child(3) { .hidden-sm; }
					
				}
			}
		}

		
	}

}