#verdel.view--over-verdel:not(.view--cms-page-masthead) {

	.page-main {
		
		.section--cms-page {
			padding-top: 0;
		}
		
	}
}

#verdel.view--over-verdel {
	
	.page-main  {
		
		.section--cms-page {
			.block + .block {
				margin-top: 40px;
			}
		}
		
		.block--video {
			.block__content {
				video {
					max-width: 100%;
				}
			}
		}
	}
	
}