#verdel.view--vacancy-list {
	
	.section--cms-page {
		.block--text {
			.block__content {
				> .row > div[class*='col'] {
					margin-bottom: 30px;
					h2, .h2,
					h3, .h3,
					h4, .h4 { 
						&:first-child{
							margin-top: 0; 
						}
					}
				}
			}
		}
	}
	
	.section--block-grid {
		padding-top: 0;
	}
}