#verdel.view--contact {

	.social-links {
		a { color: @text-color; }
	}

	@media (min-width: @screen-sm-min) {
		
		.page-main .section--map {	
			> .replace-map {
				padding-bottom: 80%;
			}
		}
		
	}
	@media (min-width: @screen-md-min) {
		
		.page-main .section--map {	
			> .replace-map {
				padding-bottom: 60%;
			}
		}
		
	}
	@media (min-width: @screen-lg-min) {
		
		.page-main .section--map {	
			> .replace-map {
				padding-bottom: 40%;
			}
		}
		
	}
}
