#verdel.view--media {

	.page-main {
		
		.section--projects {
			.hidden-xs;
			padding-top: 0;
		}
		
		.section--experts {
			.hidden-xs;
			.block--experts {
				.block__content {
					
					ul > li:nth-child(3) { .hidden-sm; }
					
				}
			}
		}
		
	}

}
