
/* Homepage specific styling */
#verdel.view--index {

	.section--intro {
		.block--text {
			margin-bottom: 3rem;

			@media (min-width: @screen-md-min) {
				margin-bottom: 0;
			}

			@media (min-width: @screen-lg-min) {
				padding-top: 1rem;
			}

			@media (min-width: @screen-lg-min) {
				padding-right: 3rem;
			}
		}
	}
	
	.section--solutions {

		.section__inner {
			background: @theme-dark-green;
			max-width: 1440px;
			position: relative;
			overflow: hidden;
			padding: 5rem 0;
			margin: 0 auto;

			@media (min-width: @screen-md-min) {
				&:before {
					content: "";
					background: @theme-green;
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					width: 33%;
					display: block;
				}

				&:after {
					content: "";
					position: absolute;
					top: 0;
					left: 32.9%;
					bottom: 0;
					width: 5.5rem;
					display: block;
					background: transparent url("data:image/svg+xml,%3Csvg height='497' viewBox='0 0 85 497' width='85' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m497.442095 0 79.604626 227.225197c4.823616 13.768634 4.798315 28.77206-.071711 42.524348l-80.47501 227.250455' fill='%2390d133' fill-rule='evenodd' transform='translate(-496)'/%3E%3C/svg%3E") 0 0/contain no-repeat;
				}
			}
		}

		.block {
			height: 100%;
			margin-bottom: 3rem;
			@media (min-width: @screen-md-min) {
				margin-bottom: 0;
			}
		}

		.block--text {
			@media (min-width: @screen-md-min) {
				max-width: 20rem;
			}

			.block__title {
				h3, .h3 { color: #fff; }
			}
			.block__content {
				p:not(.continue){
					margin-bottom: 1.5rem;
				}

				.continue a {
					color: #333;
					&:after {
						color: #333;
					}
				}
			}
		}

		.block--solutions {
			.block__title {
				h3, .h3 { color: #fff; }
			}
			.block__content {
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
					li {
						&:not(:first-child) {
							margin-top: .75rem;
						}
						a {
							font-weight: 700;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
		
	.section--news {

		.section__inner {
			background: #f2f2f2;
			max-width: 1440px;
			position: relative;
			overflow: hidden;
			padding: 5rem 0;
			margin: 0 auto;
		}

		.block--article-list {
			.block__content {
				
				ul > li:nth-child(3) { .hidden-sm; }
				
			}
		}
	}

	.section--work {
		.block--text {
			@media (min-width: @screen-lg-min) {
				padding-left: 2rem;
			}
			.block__title {
				margin-top: 2rem;
			}
		}
	}


}
