#verdel.view--expert-center {

	.page-main {
	
		.section--breakout {
			background: @theme-purple;
			color: #fff;
			.block--text {
				.block__title {
					h2 { color: #fff; }
				}
				.block__content {
					a:not(.btn) { color: #fff; text-decoration: underline; }
				}
			}
		}
		
		.section--news {
			.block--article-list {
				.block__content {
					
					ul > li:nth-child(3) { .hidden-sm; }
					
				}
			}
		}
		
		.section--experts {
			.hidden-xs;
			.block--experts {
				.block__content {
					
					ul > li:nth-child(3) { .hidden-sm; }
					
				}
			}
		}
		
	}

}
