#verdel.view--vacancy-item {
	
	@media (min-width: @screen-sm-min) { 
		.page-main .section--form {
			.block--form {
				padding: 20px;
				border: 4px solid #eee;
				.block__title {
					margin: 0 0 2rem 0;
				}
			}
		}
	}

	/* Medium devices (desktops, 992px and up) */
	@media (min-width: @screen-lg-min) { 
		.page-main .section--form {
			
			padding-top: 0;
			
			.block--form {
				padding: 40px;
			}
		}
	}
	
}
