#verdel.view--remote-support {
	.page-main {

		.section--cms-page {

			> .container {
				max-width: @container-lg;
			}
			
			.block--text {
				margin-bottom: 30px;
				.block__title {
					margin-bottom: 30px;
					h1 { color: @headings-color; }
				}
			}
		}
		
	}
}