#verdel.view--project-item {
	
	.page-main  {

		.sidebar {
			margin-top: 2.5rem;
			@media (min-width: @screen-lg-min) {
				margin-top: 0;
				position: sticky;
				top: 12rem;
			}
		}

		.section--cms-page {
			padding-bottom: 0px;
		}

		.section--cms-page-block:last-child {
			margin-bottom: 40px;
		}

		.section--cms-page-block-text {
			.block--text > .block__content {
				> h2, > .h2, 
				> h3, > .h3 {
					&:first-child {
						margin-top: 0;
					}
				}
			}
		}

	}
	
}
