#verdel.view--cms-page.view--cms-page-sidenav:not(.view--cms-page-masthead) {

	.page-main {
		
		.section--cms-page {
			padding-top: 0;
		}
		
	}
}

#verdel.view--cms-page {
	
	@media (min-width: @screen-sm-min) { 
		.page-main .section--form {
			.block--form {
				padding: 20px;
				border: 4px solid #eee;
				.block__title { 
					text-align: center;
					margin: 0 0 30px 0;
				}
				.block__content {
					.buttons-set { text-align: center; }
				}
			}
		}
	}
	
	@media (min-width: @screen-lg-min) { 
		.page-main .section--form {
			
			padding-top: 0;
			
			> .container {
				width: 100%;
				max-width: @container-lg / 12 * 9;
				margin: 0 auto;
			}
			
			.block--form {
				padding: 40px;
				.form {
					margin: 0 auto;
					max-width: 75%;
				}
			}
		}
	}
	
}
