/*!
 * Freeform for ExpressionEngine
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2020, Solspace, Inc.
 * @link          https://docs.solspace.com/expressionengine/freeform/v2/
 * @license       https://docs.solspace.com/license-agreement/
 *//*!
 * Freeform for ExpressionEngine
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2020, Solspace, Inc.
 * @link          https://docs.solspace.com/expressionengine/freeform/v2/
 * @license       https://docs.solspace.com/license-agreement/
 */#components-wrapper{margin:25px -10px 0}#components-wrapper:after{content:'';display:table;clear:both}#components-wrapper>div{position:relative;box-sizing:border-box;float:left;width:50%;padding:0 10px;margin:0 0 25px}#components-wrapper>div:last-child{width:100%}@media only screen and (max-width: 1430px){#components-wrapper>div{width:100%}}ul.directory-structure ul{margin-left:20px}ul.directory-structure li:before{font-family:'sans-serif';font-size:16px}ul.directory-structure li.dir{font-weight:bold}ul.directory-structure li.dir:before{font-weight:normal;content:"\e604"}ul.directory-structure li.file{font-weight:normal}ul.directory-structure li.file:before{content:"\7d"}ul.directory-structure.routes>li:after{content:'';display:table;clear:both}ul.directory-structure.routes>li .route{float:left;font-weight:normal}ul.directory-structure.routes>li .route:before{position:relative;top:1px;padding:0 5px 0 0;font-weight:normal;font-family:'sans-serif';font-size:10px;content:'\79'}ul.directory-structure.routes>li .template{float:right;color:#CCC;font-size:12px}ul.section-structure>li{padding-left:10px}ul.section-structure>li:after{content:'';display:table;clear:both}ul.section-structure>li>div{float:left;margin:0 10px 0 0}ul.section-structure>li>div:last-child{margin-right:0}ul.section-structure>li>div>table tr:last-child td{border-bottom:none}ul.section-structure>li,ul.directory-structure,ul.section-structure>li>div{padding:8px;border:1px solid rgba(115,127,140,0.15);border-radius:2px}ul.directory-structure,ul.section-structure>li>div{background-image:linear-gradient(#f7f7f8, #f4f5f6)}#add-demo-template{position:absolute;right:20px;top:10px}
