/*!
 * Freeform for ExpressionEngine
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2020, Solspace, Inc.
 * @link          https://docs.solspace.com/expressionengine/freeform/v2/
 * @license       https://docs.solspace.com/license-agreement/
 *//*!
 * Freeform for ExpressionEngine
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2020, Solspace, Inc.
 * @link          https://docs.solspace.com/expressionengine/freeform/v2/
 * @license       https://docs.solspace.com/license-agreement/
 */.value-toggler:after{content:'';display:table;clear:both}.option-editor-wrapper ul{display:block;padding:0;margin:0;width:100%;list-style:none}.option-editor-wrapper .option-editor .items>ul,.option-editor-wrapper .option-editor ul.headers{display:flex;margin:0 -5px}.option-editor-wrapper .option-editor .items>ul>li,.option-editor-wrapper .option-editor ul.headers>li{flex:1 0 auto;padding:0 5px;box-sizing:border-box}.option-editor-wrapper .option-editor .items>ul>li[data-action],.option-editor-wrapper .option-editor ul.headers>li[data-action]{flex:0 0 22px}.option-editor-wrapper .option-editor .items>ul>li[data-checked],.option-editor-wrapper .option-editor ul.headers>li[data-checked]{flex:0 0 30px;text-align:center}.option-editor-wrapper .option-editor .items>ul>li[data-checked] input,.option-editor-wrapper .option-editor ul.headers>li[data-checked] input{margin-top:7px;margin-right:0;margin-bottom:0;padding-right:0}.option-editor-wrapper .option-editor ul.headers>li{font-size:12px;font-weight:700;padding:0 5px 3px}.option-editor-wrapper .option-editor .items>ul>li{padding-bottom:8px;margin-bottom:8px;border-bottom:1px solid #f1f1f1}.option-editor-wrapper .option-editor .items>ul>li input{margin-bottom:0}.option-editor-wrapper .option-editor .items>ul:last-child>li{border-bottom:none}.option-editor-wrapper .option-editor li[data-action]{padding:3px 5px 0 !important}.option-editor-wrapper .option-editor li[data-action]>a{font-family:'Font Awesome 5 Free';font-weight:400;-webkit-font-smoothing:antialiased;text-decoration:none}.option-editor-wrapper .option-editor li[data-action][data-action=reorder]>a{cursor:move}.option-editor-wrapper .option-editor li[data-action][data-action=reorder]>a:before{content:'\f0c9'}.option-editor-wrapper .option-editor li[data-action][data-action=remove]>a:before{content:'\f1f8';color:#bc4848}.option-editor-wrapper .button-row:after{content:'';display:table;clear:both}.option-editor-wrapper .button-row>a{display:block;float:left;box-sizing:border-box;padding:4px 8px;background:#f9f9f9;border:1px solid #cfcfcf;border-radius:5px;text-decoration:none}.option-editor-wrapper .button-row>a:hover{background:#FFFFFF}.option-editor-wrapper .button-row>a:before{font-family:'Font Awesome 5 Free'}.option-editor-wrapper .button-row>a[data-add-row]:before{content:'\f067';color:#7baf55}.option-editor-wrapper .no-values{background:#fffcee;border:1px solid #ffd30e;color:#745f00;margin-top:10px;margin-bottom:10px;padding:10px;text-align:center}.option-editor-wrapper *[data-value]{display:none}.option-editor-wrapper.show-values *[data-value]{display:block}.option-editor-wrapper.always-show-values *[data-value]{display:block !important}
