/*!
 * Freeform for ExpressionEngine
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2020, Solspace, Inc.
 * @link          https://docs.solspace.com/expressionengine/freeform/v2/
 * @license       https://docs.solspace.com/license-agreement/
 *//*!
 * Freeform for ExpressionEngine
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2020, Solspace, Inc.
 * @link          https://docs.solspace.com/expressionengine/freeform/v2/
 * @license       https://docs.solspace.com/license-agreement/
 */.update-list{list-style:none;margin:0;padding:0}.update-list>li{margin:0;padding:2px 0}.update-list>li:before{font-family:'Font Awesome 5 Free', sans-serif;margin-right:5px}.update-list>li.feature:before{content:'\f005';color:#54A261}.update-list>li.note:before{content:'\f1fc';color:#4486C1}.update-list>li.bugfix:before{content:'\f0ad';color:#CB3131}
