{layout="_layouts/.default"
	body_class="view--team"
}

	{exp:channel:entries
		channel="tekst"
		disable="pagination|member_data|trackbacks|categories|category_fields"
		require_entry="yes"
		limit="1"
	}
	
	{if no_results}{redirect="/pagina-niet-gevonden"}{/if}
			
	<section class="section section--masthead section--masthead-compact">

		<div class="section--masthead__outer">

			<div class="section--masthead__swiper">
				<div class="swiper-container">
					<div class="swiper-wrapper">

						{tekst_masthead_afbeelding}
						<div class="swiper-slide">
							{exp:ce_img:single
								src="{tekst_masthead_afbeelding:url}"
								width="1920"
								height="600"
								crop="yes|center,center"
								allow_scale_larger="yes"
								title="{tekst_masthead_afbeelding:title}"
								alt="{tekst_masthead_afbeelding:alt_text}"
								class="img-responsive"
							}
						</div>
						{/tekst_masthead_afbeelding}

					</div><!-- /swiper-wrapper -->

					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>

				</div><!-- /swiper-container -->
			</div>

			<div class="section--masthead__inner">
				<div class="container">

					<hgroup class="page-title">
						<h1><span>{tekst_masthead_paginatitel}</span></h1>
						{if tekst_masthead_subtitel != ""}<p class="lead"><span>{tekst_masthead_subtitel}</span></p>{/if}
					</hgroup>

				</div><!-- /container -->

			</div><!-- /inner -->

		</div><!-- /outer -->
			
	</section><!-- /section -->

	<div class="layout-2col">
		<div class="container">

			{_partial_breadcrumb}

			<div class="row">

				<aside class="sidebar visible-lg col-lg-3" role="complementary">
					{embed="_embeds/.block_sidenav}
				</aside>

				<div class="main col-lg-9" role="main">

					<div class="row">
						<div class="col-md-10 col-lg-11">

							<section class="section section--cms-page mb-3">

								<div class="block block--text">
									<div class="block__content">

										{tekst_inhoud}

									</div>
								</div>

							</section><!-- / section -->

						</div>
					</div>

					{embed="_embeds/.sectie_experts"}
				
				</div><!-- /main -->

			</div><!-- /row -->
			
		</div><!-- /container -->
	</div><!-- /layout-2col -->
	
	{/exp:channel:entries}
