{layout="_layouts/.default"
	body_class="view--index"
}

	{exp:channel:entries
		channel="homepage"
		disable="pagination|member_data|trackbacks|categories|category_fields"
		limit="1"
	}
	
	{layout:set name="meta_entry_id" value="{entry_id}"}

	{if home_masthead_video_tonen != '1'}
	
		{layout:set name="extra_css"}
		<style type="text/css">
			@media (max-width: 767px) {
				/* {home_masthead_afbeelding_klein} */
				.section--masthead .section--masthead__outer {
					background-image: url({exp:ce_img:single src='{home_masthead_afbeelding_klein}' width='480' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
				}
			}
			@media (min-width: 768px) {
				/* {home_masthead_afbeelding} */
				.section--masthead .section--masthead__outer {
					background-image: url({exp:ce_img:single src='{home_masthead_afbeelding}' width='1920' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
				}
			}
		</style>
		{/layout:set}
		
	{if:else}
	
		{layout:set name="extra_css"}
		<style type="text/css">
			@media (max-width: 767px) {
				/* {home_masthead_afbeelding_klein} */
				.section--masthead .section--masthead__outer {
					background-image: url({exp:ce_img:single src='{home_masthead_afbeelding_klein}' width='480' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
				}
			}
		</style>
		{/layout:set}
	
	{/if}

	<section class="section section--masthead mb-3">

		<div class="section--masthead__outer">
			
			{if home_masthead_video_tonen == '1'}
				<div class="section--masthead__video">
					<!-- Video embed -->
			        <video loop autoplay muted playsinline width="100%" height="100%" id="masthead-video" poster="/assets/dist/img/video/homepage-video-poster.jpg" class="video">
			            <source src="https://player.vimeo.com/external/662557566.hd.mp4?s=891bd363b37297ae1f7d2dad4d20671c2a68bb81&profile_id=175" type="video/mp4">
			        </video>
				</div>
			{/if}
			
			<div class="section--masthead__inner">
				<div class="container">
					
					<header class="page-title">
						<h1><span>{home_masthead_paginatitel}</span></h1>
					</header>
					
					<p class="mb-1">{home_masthead_intro}</p>
							
					<div class="buttons-set">
						
						{home_masthead_buttons}
						<a href="{home_masthead_buttons:link}" class="btn {home_masthead_buttons:stijl}">
							<span>{home_masthead_buttons:label}</span>
						</a>
						{/home_masthead_buttons}
						
					</div>
					
				</div><!-- /container -->	
				
			</div><!-- /inner -->
			
			<div class="scroll-hint">
				<i class="scroll-hint__icon">
					<span class="wheel"></span>
				</i>
			</div>
			
		</div><!-- /outer -->		
			
	</section><!-- /section -->

	<section class="section section--intro mb-3">
		<div class="container">
			
			<div class="row">
				<div class="col-md-8">
					
					<div class="block block--text">
						
						{if home_intro_titel != ""}
						<header class="block__title">
							<h2 class="h3"><span>{home_intro_titel}</span></h2>
						</header>
						{/if}
						
						<div class="block__content">
							
							{home_intro_inhoud}
							
						</div>
						
					</div><!-- /block -->
					
				</div><!-- /col -->



				<div class="col-md-4">
					{if home_upcoming:total_rows > 0}
					<div class="block block--upcoming">

						<header class="block__title">
							<strong>Binnenkort:</strong>
						</header>

						<div class="block__content">

							<ul>
								{home_upcoming}
								<li>
									<a href="{home_upcoming:link_entry status="open" limit="1"}{home_upcoming:link_entry:page_url} {/home_upcoming:link_entry}">
										<strong>{home_upcoming:link_name}</strong>
										{home_upcoming:link_date_time}
									</a>
								</li>
								{/home_upcoming}
							</ul>

						</div>
					</div>
					{/if}
				</div><!-- /col -->



			</div><!-- /row -->
			
		</div><!-- /container -->
	</section><!-- /section -->

	<section class="section section--solutions mb-3">
		<div class="section__inner">

			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-4">

						<div class="block block--text">

							<header class="block__title">
								<h2 class="h3"><span>{home_oplossingen_titel}</span></h2>
							</header>

							<div class="block__content">

								{home_oplossingen_inhoud}

							</div>

						</div><!-- /block -->

					</div><!-- /col -->

					<div class="col-xs-12 col-md-3 col-md-offset-1">

						<div class="block block--solutions">

							<header class="block__title">
								<h3 class="h3"><span>ICT</span></h3>
							</header>

							<div class="block__content">

								{exp:structure:nav
									start_from="/ict/"
									show_depth="1"
									inlucde_ul="yes"
								}

							</div>

						</div><!-- /block -->

					</div><!-- /col -->

					<div class="col-xs-12 col-md-3 col-md-offset-1">

						<div class="block block--solutions">

							<header class="block__title">
								<h3 class="h3"><span>Media</span></h3>
							</header>

							<div class="block__content">

								{exp:structure:nav
									start_from="/media/"
									show_depth="1"
									inlucde_ul="yes"
								}

							</div>

						</div><!-- /block -->

					</div><!-- /col -->

				</div><!-- /row -->
			</div><!-- /container -->

		</div>
	</section><!-- /section -->

	{home_sectie_werken_bij}
	<section class="section section--work mb-3">
		<div class="container">

			<div class="row">

				<div class="col-sm-5 col-md-6">

					<figure class="figure">
						{exp:ce_img:single
							src="{home_sectie_werken_bij:afbeelding}"
							width="1220"
							height="888"
							crop="yes|center,center"
							allow_scale_larger="yes"
							title="{home_sectie_werken_bij:afbeelding:title}"
							alt="{home_sectie_werken_bij:afbeelding:alt_text}"
							class="img-responsive"
						}
					</figure>

				</div><!-- /col -->

				<div class="col-sm-7 col-md-6">

					<div class="block block--text">

						<header class="block__title">
							<h2 class="h1"><span>{home_sectie_werken_bij:titel}</span></h2>
						</header>

						<div class="block__content">

							{home_sectie_werken_bij:inhoud}

						</div>

					</div><!-- /block -->

				</div><!-- /col -->

			</div><!-- /row -->

		</div><!-- /container -->
	</section><!-- /section -->
	{/home_sectie_werken_bij}

	<section class="section section--news mb-3">
		<div class="section__inner">
			<div class="container">

				<div class="block block--text">

					<header class="block__title">
						<h3 class="h2"><span>Actualiteiten</span></h3>
					</header>

				</div><!-- /block -->

				{embed="_embeds/.block_article_list_home"}

			</div><!-- /container -->
		</div>
	</section><!-- /section -->

	<section class="section section--ict-waarborg mb-3">
		<div class="section__inner">
			<div class="container">

				<div class="block block--text">

					<header class="block__title">
						<h3 class="h2"><span>{home_ict_waarborg_titel}</span></h3>
					</header>

					<div class="block__content">

						{home_ict_waarborg_inhoud}

						<div class="swiper-container swiper-container--ictw">

							<div class="swiper-wrapper">
								{home_ict_waarborg_quotes}
								<div class="swiper-slide">
									<blockquote>
										<div class="quote">{home_ict_waarborg_quotes:quote}</div>
										{if home_ict_waarborg_quotes:auteur != ""}<footer class="footer">{home_ict_waarborg_quotes:auteur}</footer>{/if}
									</blockquote>
								</div>
								{/home_ict_waarborg_quotes}

							</div><!-- /swiper-wrapper -->

							<div class="swiper-button-prev">
								<i class="material-icons" aria-hidden="true">west</i>
							</div>
							<div class="swiper-button-next">
								<i class="material-icons" aria-hidden="true">east</i>
							</div>

						</div><!-- /swiper-container -->

						<div class="rating">
							<span><span class="sr-only">9.1</span></span>
						</div>


					</div>

				</div><!-- /block -->

			</div><!-- /container -->
		</div>
	</section><!-- /section -->

	{embed="_embeds/.sectie_call_to_action"}
	
	{/exp:channel:entries}
