<div class="block block--sidenav">
	
	<header class="block__title">
		<strong class="h4"><a href="{structure:top:url}">{structure:top:title}</a></strong>
	</header>
	
	<div class="block__content">
		
		{exp:structure:nav
			start_from="/{segment_1}"
			show_depth="1"
			max_depth="2"
			current_class="active"
			has_children_class="yes"
			include_ul="yes"
		}
		
	</div>	
</div>