<div class="block block--category-nav">
	<div class="block__content">
		
		<ol class="nav nav-pills">
			<li{if segment_2 == ""} class="active"{/if}><a href="{structure:page_uri_for:5}">Toon alles</a>
			{exp:channel:categories
				channel="actualiteiten"
				parent_only="yes"
				show_empty="false"
				show="not 18|19|20"
				style="linear"
			}
				<li class="category--{category_id} {if last_segment == category_url_title} active{/if}">
					<a href="{path="actueel/categorie/{category_url_title}"}"><span>{category_name}</span></a>
				</li>
			{/exp:channel:categories}
		</ol>
		
	</div>
</div>