<div class="block block--article-list">
	
	<div class="block__content">
		
		{exp:channel:entries
			channel="actualiteiten"
			dynamic="no"
			limit="3"
			disable="member_data|trackbacks|pagination"
		}
			{if count == 1}<ul>{/if}
			<li>
				<div class="block block--article">
					
					<figure class="block__figure">
						<a href="{page_url}">
							{exp:ce_img:single
								src="{actualiteit_thumbnail}"
								width="700"
								height="400"
								crop="yes|center,center"
								allow_scale_larger="yes"
								title="{actualiteit_thumbnail:title}"
								alt="{actualiteit_thumbnail:alt_text}"
								class="img-responsive"
							}
						</a>
						<figcaption class="caption">
							{categories show="11|12|17|21|22"}<div class="label label--{category_id}"><span>{category_name}</span></div>{/categories}
						</figcaption>
					</figure>

					<div class="match-height">
						<header class="block__title">
							<h4 class="h4 mt-0 mb-1"><a href="{page_url}">{title}</a></h4>
						</header>

						<div class="block__content">

							{exp:chopper
								chars="135"
								append=".."
							}
								{actualiteit_korte_inhoud}
							{/exp:chopper}

						</div>
					</div>
					<p class="continue"><a href="{page_url}">Lees verder</a></p>
					
				</div><!-- /block -->
			</li>
			{if count == total_results}</ul>{/if}
			{if no_results}<p class="text-muted">Geen nieuwsberichten geplaatst.</p>{/if}
		{/exp:channel:entries}
		
		<div class="buttons-set">
			<a href="{structure:page_url_for:5}" class="btn btn-primary">
				<span>Meer nieuws</span>
			</a>
		</div>
		
	</div>
	
</div><!-- /block -->
