<section class="section section--call-to-action mb-4">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">

				<div class="section__inner">

					<div class="block block--text">

						<header class="block__title">
							<h4 class="h1"><span>{exp:low_variables:parse:single var="sectie_wjmw_titel"}</span></h4>
						</header>

						<div class="block__content">

							{exp:low_variables:parse:single var="sectie_wjmw_tekst"}

							<ul>
								<li class="telephone">
									<a href="{exp:low_variables:single var="telefoonnummer_link"}" class="telephone">
									<strong>Bel {exp:low_variables:single var="telefoonnummer_label"}</strong>
									</a>
								</li>
							</ul>

							<div class="buttons-set">
								<a href="{structure:page_url_for:17}" class="btn btn-primary">
									<span>{structure:page_title_for:17}</span>
								</a>
								<a href="{structure:page_url_for:16}" class="btn btn-primary">
									<span>{structure:page_title_for:16}</span>
								</a>
							</div>

						</div>

					</div><!-- /block -->

				</div><!-- /container -->
			</div>

			</div>
		</div>
</section><!-- /section -->
