<section class="section section--block-grid mt-3">

	<div class="block block--themes">
		
		<div class="block__content">
			
			{exp:channel:entries
				channel="vacatures"
				dynamic="no"
				limit="30"
				disable="member_data|trackbacks"
				paginate="bottom"
			}
				{if count == 1}<ol>{/if}
				<li>
					<div class="block block--grid-item match-height">
						
						<header class="block__title">
							<h2 class="h3"><span><a href="{page_url}">{title}</a></span></h2>
						</header>
						
						<div class="block__content">
							
							{vacature_intro}
							
							<p class="continue"><a href="{page_url}">Lees verder</a></p>
							
						</div>
						
					</div><!-- /block -->
				</li>
				{if count == total_results}</ol>{/if}
				{if no_results}<p class="text-muted text-center">Geen vacatures geplaatst.</p>{/if}
				{_partial_pagination}
			{/exp:channel:entries}
			
		</div>
	</div><!-- /block -->
								
</section><!-- /section -->		
