<section class="section section--news">
	<div class="container">
		
		<div class="block block--article-list">
			
			<header class="block__title">
				<h3 class="h2"><span>In het nieuws</span></h3>
			</header>
			
			<div class="block__content">
				
				{exp:channel:entries
					channel="actualiteiten"
					dynamic="no"
					limit="3"
					disable="member_data|trackbacks"
					paginate="bottom"
				}
					{if count == 1}<ul>{/if}
					<li>
						<div class="block block--article">
							
							<figure class="block__figure">
								<a href="{page_url}">
									{exp:ce_img:single
										src="{actualiteit_thumbnail}"
										width="700"
										height="400"
										crop="yes|center,center"
										allow_scale_larger="yes"
										title="{actualiteit_thumbnail}"
										alt="{actualiteit_thumbnail}"
										class="img-responsive"
									}
								</a>
								<figcaption class="caption">
									{categories}<div class="label label--{category_id}"><span>{category_name}</span></div>{/categories}
								</figcaption>
							</figure>
							
							<header class="block__title">
								<h4 class="h4"><a href="{page_url}">{title}</a></h4>
							</header>
							
							<div class="block__content">
								
								{actualiteit_korte_inhoud}
								
								<p class="continue"><a href="{page_url}">Lees verder</a></p>
								
							</div>
							
						</div><!-- /block -->
					</li>
					{if count == total_results}</ul>{/if}
					{if no_results}<p class="text-muted">Geen nieuwsberichten geplaatst.</p>{/if}
					{_partial_pagination}
				{/exp:channel:entries}
				
				<div class="buttons-set">
					<a href="{structure:page_url_for:5}" class="btn btn-primary">
						<span>Meer nieuws</span>
					</a>
				</div>
				
			</div>
			
		</div><!-- /block -->
		
		
	</div><!-- /container -->
</section><!-- /section -->
