<section class="section section--project-list">
	<div class="container">
			
		<div class="block block--list mb-3">
			<div class="block__content">
				
				{exp:channel:entries
					channel="projecten"
					dynamic="no"
					limit="36"
					disable="member_data|trackbacks"
					pagination="bottom"
				}
					{if count == 1}<ul>{/if}
					<li>
						<div class="block block--project">
							
							<figure class="block__figure">
								<a href="{page_url}">
									{exp:ce_img:single
										src="{project_thumbnail}"
										width="600"
										height="720"
										crop="yes|center,center"
										allow_scale_larger="yes"
										title="{project_thumbnail:title}"
										alt="{project_thumbnail:alt_text}"
										class="img-responsive"
									}
								</a>
								<figcaption class="caption">
									<a href="{page_url}">
										<h4><span>{title}</span></h4>
										<strong>{project_subtitel}</strong>
									</a>
								</figcaption>
							</figure>
														
						</div><!-- /block -->
					</li>
					{if count == total_results}</ul>{/if}
					{if no_results}<p class="text-muted">Geen nieuwsberichten geplaatst.</p>{/if}
					<div class="mt-3 mb-3">
						{_partial_pagination}
					</div>
				{/exp:channel:entries}
								
			</div>
		</div><!-- /block -->
				
	</div><!-- /container -->
</section><!-- /section -->	
