<section class="section section--team-carrousel mb-3">
    <div class="container-fluid">

        <div class="block block--carousel">

            <div class="block__content">

                <div class="swiper-container">
                    <div class="swiper-wrapper">

                        {exp:low_variables:pair
                            var="team_carrousel"
                        }

                        <div class="swiper-slide">
                            <figure class="m-0">
                                {exp:ce_img:single
                                    src="{url}"
                                    width="664"
                                    height="442"
                                    crop="yes|center,center"
                                    allow_scale_larger="yes"
                                    title="{title}"
                                    alt="{alt_text}"
                                    class="img-responsive"
                                    parse="inward"
                                }
                            </figure>
                        </div><!-- /swiper-slide-->

                        {/exp:low_variables:pair}

                    </div><!-- /swiper-wrapper -->

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                </div><!-- /swiper-container -->

            </div>
        </div><!-- /block -->

    </div><!-- /container -->
</section><!-- /section -->
