<section class="section section--experts">
		
	<div class="block block--experts">						
		
		<div class="block__content">							
	
			{exp:channel:entries
				channel="experts"
				dynamic="no"
				orderby="title"
				sort="asc"
				limit="120"
				disable="categories|category_fields|pagination|trackbacks|member_data"
			}
				{if count == 1}<ul>{/if}
				<li>
					<div class="block block--expert">							
						<figure class="block__figure">
							<a href="#expertModal{entry_id}" data-toggle="modal" data-target="#expertModal{entry_id}">
								{exp:ce_img:single
									src="{expert_afbeelding}"
									width="640"
									height="640"
									crop="yes|center,center"
									allow_scale_larger="yes"
									title="{expert_afbeelding:title}"
									alt="{expert_afbeelding:alt_text}"
									class="img-responsive"
								}
							</a>
							<figcaption class="caption">
								<a href="#expertModal{entry_id}" data-toggle="modal" data-target="#expertModal{entry_id}">
									<h4>{title}</h4>
									<strong>{expert_functie}</strong>
								</a>
							</figcaption>
						</figure>
					</div><!-- /block -->
					
					{embed="experts/.modal"
						entry_id="{entry_id}"
					}
				</li>
				{if no_results}<p class="text-muted">Geen experts geplaatst.</p>{/if}
				{if count == total_results}</ul>{/if}
			{/exp:channel:entries}
			
		</div>
	</div><!-- /block -->
		
</section><!-- /section -->
