<section class="section section--block-grid">
	{exp:structure:entries
		parent_id="{structure:page:entry_id}"
		disable="categories|category_fields|member_data|pagination|trackbacks"
	}
		{if count == 1}<ol>{/if}
			
		<li>
			<div class="block block--grid-item match-height">
				
				<header class="block__title">
					<h2 class="h3"><span><a href="{page_url}">{title}</a></span></h2>
				</header>
				
				<div class="block__content">
					
					<p>{oplossing_korte_inhoud}</p>
					
					<p class="continue"><a href="{page_url}">Lees verder</a></p>
					
				</div>
				
			</div><!-- /block -->
		</li>
		{if count == total_results}</ol>{/if}
	{/exp:structure:entries}
	
</section><!-- /section -->
