<section class="section section--block-grid">
	<div class="container">
		
		{exp:structure:entries
			parent_id="{structure:page:entry_id}"
			disable="categories|category_fields|member_data|pagination|trackbacks"
		}
			{if count == 1}<ol>{/if}

			{exp:switchee 
				variable="{count}"
				parse="inward"
			}
			
				{case value="3"}			
					{exp:stash:get_list name="grid_image_list" offset="0" limit="1"}{_partial_grid_list_image}{/exp:stash:get_list}	
				{/case}
					
				{case value="4"}			
					{exp:stash:get_list name="grid_image_list" offset="1" limit="1"}{_partial_grid_list_image}{/exp:stash:get_list}
				{/case}	
				
				{case value="5"}			
					{exp:stash:get_list name="grid_image_list" offset="2" limit="1"}{_partial_grid_list_image}{/exp:stash:get_list}
				{/case}	
				
				{case value="10"}			
					{exp:stash:get_list name="grid_image_list" offset="3" limit="1"}{_partial_grid_list_image}{/exp:stash:get_list}
				{/case}	
				
				{case value="12"}			
					{exp:stash:get_list name="grid_image_list" offset="3" limit="1"}{_partial_grid_list_image}{/exp:stash:get_list}
				{/case}	
				
			{/exp:switchee}
			
			<li>
				<div class="block block--grid-item match-height">
					
					<header class="block__title">
						<h2 class="h3"><span><a href="{page_url}">{title}</a></span></h2>
					</header>
					
					<div class="block__content">
						
						<p>{thema_korte_inhoud}</p>
						
						<p class="continue"><a href="{page_url}">Lees verder</a></p>
						
					</div>
					
				</div><!-- /block -->
			</li>
			{if count == total_results}</ol>{/if}
		{/exp:structure:entries}
		
	</div><!-- /container -->
</section><!-- /section -->
