<ul class="social-links">
	<li class="facebook">
		<a href="{exp:low_variables:single var="sm_facebook_url"}" target="_blank">
			<i class="fa fa-facebook"></i>
			<span class="sr-only">Facebook</span>
		</a>
	</li>
	<li class="instagram">
		<a href="{exp:low_variables:single var="sm_instagram_url"}" target="_blank">
			<i class="fa fa-instagram"></i>
			<span class="sr-only">Instagram</span>
		</a>
	</li>
	<li class="linkedin">
		<a href="{exp:low_variables:single var="sm_linkedin_url"}" target="_blank">
			<i class="fa fa-linkedin"></i>
			<span class="sr-only">Linkedin</span>
		</a>
	</li>
	<li class="google-plus">
		<a href="{exp:low_variables:single var="sm_google_plus_url"}" target="_blank">
			<i class="fa fa-google"></i>
			<span class="sr-only">Google</span>
		</a>
	</li>
	<li class="whatsapp">
		<a href="{exp:low_variables:single var="sm_whatsapp_url"}" target="_blank">
			<i class="fa fa-whatsapp"></i>
			<span class="sr-only">Whatsapp</span>
		</a>
	</li>
</ul>