{paginate}
	{pagination_links}
	<div class="toolbar mb-3" role="navigation">
		<ul class="pagination">
	
		  {previous_page}
		    <li><a href="{pagination_url}" class="page-previous">Vorige</a></li>
		  {/previous_page}
		
		  {page}
		    <li{if current_page} class="active"{/if}><a href="{pagination_url}" class="page-{pagination_page_number}">{pagination_page_number}</a></li>
		  {/page}
		
		  {next_page}
		    <li><a href="{pagination_url}" class="page-next">Volgende</a></li>
		  {/next_page}
		  
		</ul>
	</div>
	{/pagination_links}
{/paginate}
