{if total_results > 0}
<li class="complementary" role="complementary">
	<div class="block block--figure match-height">
		<figure class="block__figure">
			{exp:ce_img:single
				src="{image_url}"
				width="400"
				height="400"
				crop="yes|center,center"
				allow_scale_larger="yes"
				title="{image_title}"
				alt="{image_alt}"
				class="img-responsive"
			}
		</figure>
	</div><!-- /block -->
</li>					
{/if}
