{layout="_layouts/.default"
	body_class="view--cms-page view--cms-page-klantenreactie"
}

	{exp:channel:entries
		channel="tekst"
		disable="pagination|member_data|trackbacks|categories|category_fields"
		limit="1"
	}
		
	{if tekst_masthead_tonen == '1'}
		
	{layout:set name="extra_css"}
	<style type="text/css">
		@media (max-width: 767px) {
			/* {tekst_masthead_afbeelding_klein} */
			.section--masthead .section--masthead__outer {
				background-image: url({exp:ce_img:single src='{tekst_masthead_afbeelding_klein}' width='480' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
			}
		}
		@media (min-width: 768px) {
			/* {tekst_masthead_afbeelding} */
			.section--masthead .section--masthead__outer {
				background-image: url({exp:ce_img:single src='{tekst_masthead_afbeelding}' width='1920' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
			}
		}
	</style>
	{/layout:set}
	
	<section class="section section--masthead section--masthead-compact mb-3">

		<div class="section--masthead__outer">
			
			{_partial_breadcrumb}
			
			<div class="section--masthead__inner">
				<div class="container">
					
					<hgroup class="page-title">
						<h1><span>{tekst_masthead_paginatitel}</span></h1>
						{if tekst_masthead_subtitel != ""}<p class="lead"><span>{tekst_masthead_subtitel}</span></p>{/if}
					</hgroup>
					
				</div><!-- /container -->	
				
			</div><!-- /inner -->
			
		</div><!-- /outer -->		
			
	</section><!-- /section -->
	
	{/if}
				
	<section class="section section--cms-page">
		<div class="container">

			{if tekst_masthead_tonen != '1'}
				{_partial_breadcrumb}
			{/if}
	
			<div class="block block--text">
			
				<hgroup class="block__title">
					<h1><span>{tekst_paginatitel}</span></h1>
				</hgroup>
				
				{if tekst_afbeelding != ""}
				<figure class="block__figure">
					{exp:ce_img:single
						src="{tekst_afbeelding}"
						width="1170"
						height="600"
						crop="yes|center,center"
						allow_scale_larger="yes"
						title="{tekst_afbeelding:title}"
						alt="{tekst_afbeelding:alt_text}"
						class="img-responsive"
					}					
				</figure>
				{/if}
				
				<div class="block__content">
					
					{tekst_inhoud}
					
				</div>
			</div>

		</div><!-- /container -->			
	</section><!-- / section -->
		
	<section class="section section--form" id="contactform">
		<div class="container">
				
			<div class="block block--form">
				
				<header class="block__title">
					<h2 class="h3"><span>Meld een klacht of compliment</span></h2>
				</header>
				
				<div class="block__content">
							
					{if freebie_last == 'verzonden'}
								
						<div class="alert alert-success">
							<strong>Bedankt voor uw aanvraag</strong> 
							Het formulier is succesvol verzonden. 
						</div>
					
					{if:else}
					
						{exp:freeform_next:form
							form="klantreacties"
							class="form validate"
							required="name|email|phone|business_unit|appreciation|recommendation|expectance|followup"
							return="{current_url}/verzonden#contactform"
						}

							{if form:has_errors}
							<div class="alert alert-danger">
								<div>Er heeft zich een technische fout voorgedaan. Het formulier is niet verzonden.</div>
								<ul>
									{form:errors}
									<li>{error}</li>
									{/form:errors}
								</ul>
							</div>
							{/if}
										
							{exp:subscriber:form 
								form="klantreacties"
							}
						
							<input type="hidden" name="url" value="{current_url}" />
														
							<div class="form-group">
								<label for="form-input-name" class="form-label">Voor- en achternaam: <span class="text-danger">*</span></label>
								<input type="text" name="name" id="form-input-name" class="form-control required" />
							</div>
							
							<div class="form-group">
								<label for="form-input-email" class="form-label">E-mailadres: <span class="text-danger">*</span></label>
								<input type="text" name="email" id="form-input-email" class="form-control required email" />
							</div>
							
							<div class="form-group">
								<label for="form-input-phone" class="form-label">Telefoonnummer: <span class="text-danger">*</span></label>
								<input type="text" name="phone" id="form-input-phone" class="form-control required" />
							</div>
							
							<div class="form-group">
								<label for="form-input-business-unit" class="form-label">Over welk bedrijfsonderdeel wil je iets aan ons kwijt? <span class="text-danger">*</span></label>
								<select name="business_unit" id="form-input-business-unit" class="form-control required">
									<option value="">Maak je keuze</option>
									<option value="Expert Center">Expert Center</option>
									<option value="Advies & consultancy">Advies & consultancy</option>
									<option value="Supportdesk">Supportdesk</option>
									<option value="Online media">Online media</option>
									<option value="Productiviteit & ontwikkeling">Productiviteit & ontwikkeling</option>
								</select>
							</div>
							
							<div class="form-group">
								<label for="form-input-receipt" class="form-label">Betreft werkzaamheden op factuur? Zo ja, vul factuurnummer in:</label>
								<input type="text" name="receipt" id="form-input-receipt" class="form-control" />
							</div>
							
							<div class="form-group">
								<label for="form-input-appreciation" class="form-label">Welk cijfer geef je onze dienstverlening? <span class="text-danger">*</span></label>
								<div class="radio-container">							
									<label class="radio-inline"><input type="radio" name="appreciation" id="appreciation1" value="1" class="required"> 1</label>								
									<label class="radio-inline"><input type="radio" name="appreciation" id="appreciation2" value="2"> 2</label>								
									<label class="radio-inline"><input type="radio" name="appreciation" id="appreciation3" value="3"> 3</label>								
									<label class="radio-inline"><input type="radio" name="appreciation" id="appreciation4" value="4"> 4</label>								
									<label class="radio-inline"><input type="radio" name="appreciation" id="appreciation5" value="5"> 5</label>								
									<label class="radio-inline"><input type="radio" name="appreciation" id="appreciation6" value="6"> 6</label>								
									<label class="radio-inline"><input type="radio" name="appreciation" id="appreciation7" value="7"> 7</label>								
									<label class="radio-inline"><input type="radio" name="appreciation" id="appreciation8" value="8"> 8</label>								
									<label class="radio-inline"><input type="radio" name="appreciation" id="appreciation9" value="9"> 9</label>								
									<label class="radio-inline"><input type="radio" name="appreciation" id="appreciation10" value="10"> 10</label>
									<div class="radio-container-messages appreciation-validation-messages"></div>
								</div>
							</div>
							
							<div class="form-group">
								<label for="form-input-recommendation" class="form-label">Zou je ons bedrijf op basis van jouw ervaring aan iemand aanbevelen? <span class="text-danger">*</span></label>
								<select name="recommendation" id="form-input-recommendation" class="form-control required">
									<option value="">Maak je keuze</option>
									<option value="Zeker">Zeker</option>
									<option value="Wellicht">Wellicht</option>
									<option value="Zeker niet">Zeker niet</option>
								</select>
							</div>
							
							<div class="form-group">
								<label for="form-input-expectance" class="form-label">In hoeverre hebben wij aan je verwachting voldaan? <span class="text-danger">*</span></label>
								<select name="expectance" id="form-input-expectance" class="form-control required">
									<option value="">Maak je keuze</option>
									<option value="Meer dan voldaan">Meer dan voldaan </option>
									<option value="Voldaan">Voldaan</option>
									<option value="Niet voldaan">Niet voldaan</option>
									<option value="Helemaal niet voldaan">Helemaal niet voldaan</option>
								</select>
							</div>
							
							<div class="form-group">
								<label for="form-input-message" class="form-label">Wat wil je aan ons kwijt?</label>
								<textarea name="user_message" id="form-input-message" class="form-control" rows="3"></textarea>
							</div>
							
							<div class="form-group">
								<label for="form-input-followup" class="form-label">Wens je een reactie van ons n.a.v. deze ervaring? <span class="text-danger">*</span></label>
								<select name="followup" id="form-input-followup" class="form-control required">
									<option value="">Maak je keuze</option>
									<option value="Ja">Ja</option>
									<option value="Nee">Nee</option>
								</select>
							</div>
										
							<div class="checkbox-inline">
								<label>
									<input type="checkbox" name="newsletter" id="form-input-newsletter" value="y" checked="checked" />
									Schrijf mij meteen in voor de Verdel-nieuwsbrief
								</label>
							</div>
							
							<div class="buttons-set">
								<button type="submit" class="btn btn-primary">
									<span>Verzenden</span>
								</button>
							</div>
							
						{/exp:freeform_next:form}
					
					{/if}
					
				</div>
				
			</div><!-- /block -->
			
		</div><!-- /container -->
	</section><!-- /section -->
	
	{/exp:channel:entries}
