{layout="_layouts/.default"
	body_class="view--contact"
}

	{exp:channel:entries
		channel="contact"
		disable="pagination|member_data|trackbacks|categories|category_fields"
		limit="1"
	}

		{layout:set name="extra_css"}
		<style type="text/css">
			@media (max-width: 767px) {
				/* {contact_masthead_afbeelding_kl} */
				.section--masthead .section--masthead__outer {
					background-image: url({exp:ce_img:single src='{contact_masthead_afbeelding_kl}' width='480' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
				}
			}
			@media (min-width: 768px) {
				/* {contact_masthead_afbeelding} */
				.section--masthead .section--masthead__outer {
					background-image: url({exp:ce_img:single src='{contact_masthead_afbeelding}' width='1920' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
				}
			}
		</style>
		{/layout:set}

		<section class="section section--masthead section--masthead-compact mb-3">

			<div class="section--masthead__outer">

				<div class="section--masthead__inner">
					<div class="container">

						<hgroup class="page-title">
							<h1><span>{contact_masthead_paginatitel}</span></h1>
						</hgroup>

					</div><!-- /container -->

				</div><!-- /inner -->

			</div><!-- /outer -->

		</section><!-- /section -->

		<section class="section section--contact">
			<div class="container">

				<div class="row">

					<div class="col-sm-6">

						<div class="block block--text">
							<div class="block__content">

								{contact_adresgegevens}

								<div class="table-responsive">
									<table class="table">
										<tbody>
											{contact_tabel_contactgegevens}
											<tr>
												<th>{contact_tabel_contactgegevens:label}</th>
												<td>{contact_tabel_contactgegevens:waarde}</td>
											</tr>
											{/contact_tabel_contactgegevens}
										</tbody>
									</table>
								</div><!-- /table-responsive -->

								<p class="continue"><a href="{structure:page_url_for:17}">Bekijk openingstijden</a></p>
								<p class="continue"><a href="{structure:page_url_for:193}">Meld een compliment of klacht</a></p>

								{_partial_social_media}

							</div>
						</div><!-- /block -->

					</div><!-- /col -->

					<div class="col-sm-6">

						<div class="block block--form" id="contactform">

							<header class="block__title">
								<h3 class="h3"><span>{contact_formulier_titel}</span></h3>
							</header>

							<div class="block__content">

								{contact_formulier_inhoud}

								{if freebie_last == 'verzonden'}

									<div class="alert alert-success">
										<strong>Bedankt voor jouw aanvraag</strong>
										Het formulier is succesvol verzonden.
									</div>

								{if:else}

									{exp:freeform_next:form
										form="contact"
										class="form validate"
										return="{current_url}/verzonden#contactform"
									}

										{if form:has_errors}
										<div class="alert alert-danger">
											<div>Er heeft zich een technische fout voorgedaan. Het formulier is niet verzonden.</div>
											<ul>
												{form:errors}
												<li>{error}</li>
												{/form:errors}
											</ul>
										</div>
										{/if}

										{exp:subscriber:form
											form="contact"
										}

										<input type="hidden" name="url" value="{current_url}" />

										<div class="form-group">
											<label for="form-input-name" class="form-label">Voor- en achternaam:</label>
											<input type="text" name="name" id="form-input-name" class="form-control required" />
										</div>

										<div class="form-group">
											<label for="form-input-email" class="form-label">E-mailadres:</label>
											<input type="text" name="email" id="form-input-email" class="form-control required email" />
										</div>

										<div class="form-group">
											<label for="form-input-phone" class="form-label">Telefoonnummer:</label>
											<input type="text" name="phone" id="form-input-phone" class="form-control" />
										</div>

										<div class="form-group">
											<label for="form-input-message" class="form-label">Vraag of opmerking:</label>
											<textarea name="user_message" id="form-input-message" class="form-control required" rows="5"></textarea>
										</div>

										<div class="checkbox-inline">
											<label>
												<input type="checkbox" name="newsletter" id="form-input-newsletter" value="y" checked="checked" />
												Schrijf mij meteen in voor de Verdel-nieuwsbrief
											</label>
										</div>

										<div class="buttons-set">
											<button type="submit" class="btn btn-primary">
												<span>Verzenden</span>
											</button>
										</div>

									{/exp:freeform_next:form}

								{/if}

							</div>

						</div><!-- /block -->

					</div><!-- /col -->

				</div><!-- /row -->

			</div><!-- /container -->
		</section><!-- /section -->

		<div class="section section--map">

			<div id="verdel-map" class="replace-map"></div><!-- /ctes-map -->

			<div class="overlay">
				<div class="container">

					<div class="block block--text">

						<header class="block__title">
							<h3><span>{contact_google_maps_titel}</span></h3>
						</header>

						<div class="block__content">

							{contact_google_maps_inhoud}

							<div class="buttons-set">
								<a href="https://www.google.com/maps/dir/Current+Location/Verdel+ICT+%26+Media" target="_blank" class="btn btn-xs btn-light">Plan jouw route</a>
								<a href="{structure:page_url_for:17}" class="btn btn-xs btn-light">Openingstijden</a>
							</div>

						</div>
					</div><!-- /block -->

				</div><!-- /container -->
			</div><!-- /overlay -->

		</div><!-- /section -->

		{layout:set name="extra_js"}
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD14-Yu5_v01fVEzKtzVAH9EzrNVeXv5hM&callback=initMap"></script>
		<script type="text/javascript">

		    function initialize() {

		        // If viewport is wider than 480px, isDraggable = true, else isDraggable = false
		        var isDraggable     = $(document).width() > 480 ? true : false;
		        var mapZoom     	= $(document).width() > 480 ? 16 : 16;

		        var mapOptions = {
		            zoom: mapZoom,
		            disableDefaultUI: false,
		            draggable: isDraggable,
		            scrollwheel: false,
		            styles: verdel_styles
		        };

		        var map    = new google.maps.Map(document.getElementById('verdel-map'), mapOptions);
		        var bounds = new google.maps.LatLngBounds();
		        var infoWindow;
		        var iconBase = '/assets/dist/img/';

						var latLng1 = new google.maps.LatLng(52.2046857, 4.6424948); // Schoolbaan 1		        
		        bounds.extend(latLng1);

				map.fitBounds(bounds);
				map.panToBounds(bounds);
				map.setZoom(mapZoom);

		        var marker1 = new google.maps.Marker({
		            position: latLng1,
		            map: map,
		            title: "Verdel ICT &amp; Media",
		            icon: {
		                url: iconBase + 'google-maps-pin@2x.png',
		                scaledSize: new google.maps.Size(100, 100)
		            }
		        });

		        google.maps.event.addListenerOnce(map, 'bounds_changed', function(event) {
					if (this.getZoom() > 10) {
						this.setZoom(16);
					}
				});

		        google.maps.event.addListener(map, 'click', function(event){
		            this.setOptions({ scrollwheel: true });
		        });

				google.maps.event.addDomListener(window, "resize", function() {
					var center = map.getCenter();
					google.maps.event.trigger(map, "resize");
					map.setCenter(center);
					map.fitBounds(bounds);
					map.panToBounds(bounds);
				});


		    }

		    google.maps.event.addDomListener(window, 'load', initialize);

		</script>
		{/layout:set}

	{/exp:channel:entries}
