/*
 * Freeform for ExpressionEngine
 *
 * @package       Solspace:Freeform
 * @author        Solspace, Inc.
 * @copyright     Copyright (c) 2008-2016, Solspace, Inc.
 * @link          https://docs.solspace.com/expressionengine/freeform/v2/
 * @license       https://docs.solspace.com/license-agreement/
 */

.brand-logo {
    margin-left: 20px;
}

label.required:after {
    display: inline-block !important;
    content: "*" !important;
    color: #d00 !important;
    margin-left: 5px !important;
    position: relative !important;
    top: 0 !important;
    opacity: 1 !important;
}

.errors {
    color: red;
}

ul.errors > li {
    color: red;
}

.submit-align-left {
    text-align: left;
}

.submit-align-right {
    text-align: right;
}

.submit-align-center {
    text-align: center;
}

.submit-align-left button:not(:first-of-type),
.submit-align-right button:not(:first-of-type),
.submit-align-center button:not(:first-of-type) {
    margin-left: 5px;
}

.submit-align-spread button:first-child {
    float: left;
}

.submit-align-spread button:last-child {
    float: right;
}
