{layout="_layouts/.default"
	body_class="view--project-list"
}

	{exp:channel:entries
		channel="tekst"
		disable="pagination|member_data|trackbacks|categories|category_fields"
		require_entry="yes"
		limit="1"
		orderby="entry_date"
		sort="asc"
	}
	
	{if no_results}{redirect="/pagina-niet-gevonden"}{/if}

	<section class="section section--cms-page py-3">
		<div class="container">

			<div class="row">
				<div class="col-lg-10 col-lg-offset-1">

					<div class="block block--text">

						<hgroup class="block__title">
							<h1><span>{tekst_paginatitel}</span></h1>
						</hgroup>

						{if tekst_afbeelding != ""}
						<figure class="block__figure">
							{exp:ce_img:single
								src="{tekst_afbeelding}"
								width="1170"
								height="600"
								crop="yes|center,center"
								allow_scale_larger="yes"
								title="{tekst_afbeelding:title}"
								alt="{tekst_afbeelding:alt_text}"
								class="img-responsive"
							}
						</figure>
						{/if}

						<div class="block__content">

							{tekst_inhoud}

						</div>
					</div>

				</div>
			</div>

		</div><!-- /container -->			
	</section><!-- / section -->

	{embed="_embeds/.sectie_project_list"}
	
	{/exp:channel:entries}
