{layout="_layouts/.default"
	body_class="view--project-item"
}

	{exp:channel:entries
		channel="projecten"
		disable="pagination|member_data|trackbacks|categories|category_fields"
		require_entry="yes"
		status="open|draft"
		limit="1"
	}
	
		{if no_results}{redirect="/pagina-niet-gevonden"}{/if}
		
		{if project_masthead_tonen == '1'}
		
			{layout:set name="extra_css"}
			<style type="text/css">
				@media (max-width: 767px) {
					/* {project_masthead_afbeelding_kl} */
					.section--masthead .section--masthead__outer {
						background-image: url({exp:ce_img:single src='{project_masthead_afbeelding_kl}' width='480' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
					}
				}
				@media (min-width: 768px) {
					/* {project_masthead_afbeelding} */
					.section--masthead .section--masthead__outer {
						background-image: url({exp:ce_img:single src='{project_masthead_afbeelding}' width='1920' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
					}
				}
			</style>
			{/layout:set}

			<section class="section section--masthead section--masthead-compact">

				<div class="section--masthead__outer">

					<div class="section--masthead__inner">
						<div class="container">

							<hgroup class="page-title">
								<h1><span>{title}</span></h1>
								{if project_subtitel != ""}<p class="lead"><span>{project_subtitel}</span></p>{/if}
							</hgroup>

						</div><!-- /container -->

					</div><!-- /inner -->

				</div><!-- /outer -->

			</section><!-- /section -->
		
		{/if}

		<div class="container mt-2 mb-2">
			<div class="row">

				<div class="{if project_related_links:total_rows > 0}col-xs-12{if:else}col-md-10 col-md-offset-1{/if}">

					{_partial_breadcrumb}

				</div>

				<div class="{if project_related_links:total_rows > 0}col-lg-8{if:else}col-md-10 col-md-offset-1{/if}">

					<section class="section section--cms-page">

						<div class="block block--text">

							{if project_masthead_tonen != '1'}
							<hgroup class="block__title">
								<h1><span>{title}</span></h1>
								{if project_subtitel != ''}<h2><span>{project_subtitel}</span></h2>{/if}
							</hgroup>
							{/if}

							<div class="block__content">
								{project_inhoud}
							</div>

						</div><!-- /block -->

					</section><!-- / section -->

					{project_blokken}

					{if project_blokken:afbeelding != ''}

					<section class="section section--cms-page-block section--cms-page-block-image mb-2">

						<div class="block block--text">
							{project_blokken:afbeelding}
							<figure class="block__figure">
								{exp:ce_img:single
									src="{project_blokken:afbeelding:url}"
									width="1170"
									crop="yes|center,center"
									allow_scale_larger="yes"
									title="{project_blokken:afbeelding:title}"
									alt="{project_blokken:afbeelding:alt_text}"
									class="img-responsive"
								}
							</figure>
							{/project_blokken:afbeelding}
						</div><!-- /block -->

					</section><!-- / section -->

					{if:else}

					<section class="section section--cms-page-block section--cms-page-block-text mb-2">

						<div class="block block--text">
							<div class="block__content">
								{project_blokken:inhoud}
							</div>
						</div><!-- /block -->

					</section><!-- / section -->

					{/if}

					{/project_blokken}

					{project_content_blocks}

					{if project_content_blocks:first}
					<div class="content-blocks">
					{/if}

						{project_content_blocks:content_block_tekst}

						{content}
						<div class="content-block content-block--text">
							<div class="block block--text">

								{if content:titel != ''}
								<header class="block__title mb-1">
									<h2 class="h3 mt-0 mb-0">{content:titel}</h2>
								</header>
								{/if}

								<div class="block__content">

									{content:tekst}

								</div>
							</div><!-- /block -->
						</div>
						{/content}

						{/project_content_blocks:content_block_tekst}

						{project_content_blocks:content_block_afbeelding_tekst}

						{content}
						<div class="content-block content-block--img-text">
							<div class="block">

								<div class="row">
									<div class="col-lg-4 {if content:positie_afbeelding == 'rechts'}col-lg-push-8{/if}">

										<div class="block block--image">
											<figure class="block__figure mb-0">
												{exp:ce_img:single
													src="{content:afbeelding}"
													width="720"
													crop="yes|center,center"
													allow_scale_larger="yes"
													title="{content:afbeelding:title}"
													alt="{content:afbeelding:alt_text}"
													class="img-responsive"
												}
											</figure>
										</div>

									</div>
									<div class="col-lg-8 {if content:positie_afbeelding == 'rechts'}col-lg-pull-4{/if}">

										<div class="block block--text">

											{if content:titel != ''}
											<header class="block__title mb-1">
												<h2 class="h3 mt-0 mb-0">{content:titel}</h2>
											</header>
											{/if}

											<div class="block__content">

												{content:tekst}

											</div>
										</div><!-- /block -->

									</div>
								</div>

							</div><!-- /block -->
						</div><!-- /content-block -->
						{/content}

						{/project_content_blocks:content_block_afbeelding_tekst}

						{project_content_blocks:content_block_quote}

						<div class="content-block content-block--quote">
							<div class="block block--quote">
								<div class="block__content">

									<blockquote class="blockquote">
										{content}
									</blockquote>

								</div>
							</div><!-- /block -->
						</div><!-- /content-block -->

						{/project_content_blocks:content_block_quote}

						{project_content_blocks:content_block_afbeelding}

						{content}

						<div class="content-block content-block--image">
							<div class="block block--image">
								<figure class="block__figure mb-0">
									{exp:ce_img:single
										src="{content:afbeelding}"
										width="920"
										height="518"
										crop="yes|center,center"
										allow_scale_larger="yes"
										title="{content:afbeelding:title}"
										alt="{content:afbeelding:alt_text}"
										class="img-responsive"
									}
								</figure>

								{if content:onderschrift != ''}

								<div class="block__content pt-1">
									<span class="text-muted small">{content:onderschrift}</span>
								</div>

								{/if}
							</div><!-- /block -->
						</div><!-- /content-block -->

						{/content}

						{/project_content_blocks:content_block_afbeelding}

						{project_content_blocks:content_block_embed}

						<div class="content-block content-block--embed">
							<div class="block block--embed">
								<div class="block__content">

									<div class="embed-responsive embed-responsive-16by9">
										<iframe class="embed-responsive-item" src="{content}"></iframe>
									</div>

								</div>
							</div><!-- /block -->
						</div>

						{/project_content_blocks:content_block_embed}

						{if project_content_blocks:last}
					</div>
					{/if}

					{/project_content_blocks}

				</div><!-- /col -->

				{if project_related_links:total_rows > 0}

				<aside class="sidebar col-lg-4" role="complementary">
					<div class="block block--related">

						<hgroup class="block__title">
							<strong><span>Gerelateerd:</span></strong>
						</hgroup>

						<div class="block__content">

							<ul>
								{project_related_links}
								<li>
									<a href="{project_related_links:link_entry status="open" limit="1"}{project_related_links:link_entry:page_url}{/project_related_links:link_entry}">
										{project_related_links:link_name}
									</a>
								</li>
								{/project_related_links}
							</ul>

						</div>
					</div>
				</aside>

				{/if}

			</div><!-- /row -->
		</div><!-- /container -->

		{embed="_embeds/.sectie_call_to_action"}
	
	{/exp:channel:entries}
