{layout="_layouts/.default"
	body_class="view--theme"
}

	{exp:channel:entries
		channel="thema"
		disable="pagination|member_data|trackbacks|categories|category_fields"
		require_entry="yes"
		limit="1"
	}
	
	{if no_results}{redirect="/pagina-niet-gevonden"}{/if}
		
	{layout:set name="extra_css"}
	<style type="text/css">
		@media (max-width: 767px) {
			/* {thema_masthead_afbeelding_klein} */
			.section--masthead .section--masthead__outer {
				background-image: url({exp:ce_img:single src='{thema_masthead_afbeelding_klein}' width='480' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
			}
		}
		@media (min-width: 768px) {
			/* {thema_masthead_afbeelding} */
			.section--masthead .section--masthead__outer {
				background-image: url({exp:ce_img:single src='{thema_masthead_afbeelding}' width='1920' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
			}
		}
	</style>
	{/layout:set}
	
	<section class="section section--masthead section--masthead-compact mb-2">

		<div class="section--masthead__outer">
			
			<div class="section--masthead__inner">
				<div class="container">
					
					<hgroup class="page-title">
						<h1><span>{thema_masthead_paginatitel}</span></h1>
						{if thema_masthead_subtitel != ""}<p class="lead"><span>{thema_masthead_subtitel}</span></p>{/if}
					</hgroup>
					
				</div><!-- /container -->	
				
			</div><!-- /inner -->
			
		</div><!-- /outer -->		
			
	</section><!-- /section -->
	
	<div class="layout-2col">
		<div class="container">

			{_partial_breadcrumb}

			<div class="row">
				<aside class="sidebar visible-lg col-lg-3" role="complementary">
					{embed="_embeds/.block_sidenav}
				</aside>

				<div class="main col-lg-9" role="main">

					<section class="section section--cms-page mb-3">

						<div class="row">
							<div class="col-md-10 col-lg-11">

								<div class="block block--text">
									<div class="block__content">

										{thema_volledige_inhoud}

									</div>
								</div>

							</div>
						</div>

					</section><!-- / section -->

					{embed="_embeds/.sectie_oplossingen"}

				</div>
			</div>
			
		</div><!-- /container -->
	</div><!-- /layout-2col -->

	{if thema_gerelateerde_referenties:total_results > 0}
	<section class="section section--projects mb-3">
		<div class="container">

			<div class="block block--carousel">

				<header class="block__title mb-2">
					<h2 class="h2"><span>Projecten waar we trots op zijn</span></h2>
				</header>

				<div class="block__content">
					
					<div class="swiper-container swiper-container--projects">
					    <div class="swiper-wrapper">
						    
						    {thema_gerelateerde_referenties}
					        <div class="swiper-slide">
						        
								<div class="block block--project">							
									<figure class="block__figure">
										<a href="{structure:page_url_for:{thema_gerelateerde_referenties:entry_id}}">
											{exp:ce_img:single
												src="{thema_gerelateerde_referenties:project_thumbnail}"
												width="600"
												height="720"
												crop="yes|center,center"
												allow_scale_larger="yes"
												title="{thema_gerelateerde_referenties:project_thumbnail:title}"
												alt="{thema_gerelateerde_referenties:project_thumbnail:alt_text}"
												class="img-responsive"
											}
										</a>
										<figcaption class="caption">
											<a href="{structure:page_url_for:{thema_gerelateerde_referenties:entry_id}}">
												<h4>{thema_gerelateerde_referenties:title}</h4>
												<strong>{thema_gerelateerde_referenties:project_subtitel}</strong>
											</a>
										</figcaption>
									</figure>
								</div><!-- /block -->
						        
					        </div><!-- /swiper-slide-->
						    {/thema_gerelateerde_referenties}
						    
					    </div><!-- /swiper-wrapper -->
				    
					    <div class="swiper-button-prev"></div>
					    <div class="swiper-button-next"></div>
					    
					</div><!-- /swiper-container -->
					
					<div class="buttons-set">
						<a href="{structure:page_url_for:22}" class="btn btn-primary">
							<span>Meer projecten</span>
						</a>
					</div>
					
				</div>
			</div><!-- /block -->
					
		</div><!-- /container -->
	</section><!-- /section -->			
	{/if}
				
	{if thema_veelgestelde_vragen:total_rows > 0}
	<section class="section section--faq mt-3">
		<div class="container">

			<div class="block block--faq">

				<header class="block__title mb-2">
					<h2 class="h2"><span>Veelgestelde vragen</span></h2>
				</header>							
				
				<div class="block__content">
					
					<dl>
						{thema_veelgestelde_vragen}
						<dt>{thema_veelgestelde_vragen:vraag}</dt>
						<dd>
							{thema_veelgestelde_vragen:antwoord}
						</dd>
						{/thema_veelgestelde_vragen}
					</dl>
					
				</div>
				
			</div><!-- /block -->
			
		</div><!-- /container -->
	</section><!-- /section -->
	{/if}

	{if thema_gerelateerde_experts:total_results > 0}
	<section class="section section--experts mt-3">
		<div class="container">
			
			<div class="block block--experts">

				<header class="block__title mb-2">
					<h2 class="h2"><span>Maak kennis met onze experts</span></h2>
				</header>							
				
				<div class="block__content">							
			
					<ul>
						{thema_gerelateerde_experts
							limit="3"
							orderby="random"
						}
						<li>
							<div class="block block--expert">							
								<figure class="block__figure">
									<a href="#expertModal{thema_gerelateerde_experts:entry_id}" data-toggle="modal" data-target="#expertModal{thema_gerelateerde_experts:entry_id}">
										{exp:ce_img:single
											src="{thema_gerelateerde_experts:expert_afbeelding}"
											width="800"
											height="600"
											crop="yes|center,center"
											allow_scale_larger="yes"
											title="{thema_gerelateerde_experts:expert_afbeelding:title}"
											alt="{thema_gerelateerde_experts:expert_afbeelding:alt_text}"
											class="img-responsive"
										}
									</a>
									<figcaption class="caption">
										<a href="#expertModal{thema_gerelateerde_experts:entry_id}" data-toggle="modal" data-target="#expertModal{thema_gerelateerde_experts:entry_id}">
											<h4>{thema_gerelateerde_experts:title}</h4>
											<strong>{thema_gerelateerde_experts:expert_functie}</strong>
										</a>
									</figcaption>
								</figure>
							</div><!-- /block -->
							
							{embed="experts/.modal"
								entry_id="{thema_gerelateerde_experts:entry_id}"
							}
						</li>
						{/thema_gerelateerde_experts}
					</ul>
								
					<div class="buttons-set">
						<a href="{structure:page_url_for:20}" class="btn btn-primary">
							<span>Ons complete team</span>
						</a>
					</div>
					
				</div>
			</div><!-- /block -->
			
		</div><!-- /container -->
	</section><!-- /section -->
	{/if}
		
	<section class="section section--news mt-3 mb-3">
		<div class="container">
			
			<div class="block block--article-list">

				<header class="block__title mb-2">
					<h3 class="h2"><span>In het nieuws</span></h3>
				</header>
				
				<div class="block__content">
					
					{exp:switchee variable="{structure:top:entry_id}"}
					
						{case value="2"}
							
							{embed="_embeds/.block_article_list"
								category_id="20"
								limit="3"
							}
							
						{/case}
					
						{case value="3"}
							
							{embed="_embeds/.block_article_list"
								category_id="19"
								limit="3"
							}
							
						{/case}
						
					{/exp:switchee}
		
					<div class="buttons-set">
						<a href="{structure:page_url_for:5}" class="btn btn-primary">
							<span>Meer nieuws</span>
						</a>
					</div>
					
				</div>
				
			</div><!-- /block -->
			
		</div><!-- /container -->
	</section><!-- /section -->

	{embed="_embeds/.sectie_call_to_action"}
	
	{/exp:channel:entries}
