<ul>
	<li><a href="{page_8}">E-commerce</a></li>
	<li><a href="{page_11}">Complete websites</a></li>
	<li><a href="{page_12}">Applicaties op maat</a></li>
	<li><a href="{page_179}">Contentcreatie</a></li>
	<li><a href="{page_50}">Online communicatie</a></li>
	<li><a href="{page_52}">DTP en vormgeving</a></li>
	<li><a href="{page_182}">Print</a></li>
	<li><a href="{page_54}">Verdel Oase</a></li>
</ul>