{layout="_layouts/.default"
	body_class="view--cms-page view-404"
}

	{exp:channel:entries
		channel="tekst"
		dynamic="no"
		entry_id="132"
		disable="pagination|member_data|trackbacks|categories|category_fields"
		limit="1"
	}
		
	{if tekst_masthead_tonen == '1'}
		
	{layout:set name="extra_css"}
	<style type="text/css">
		@media (max-width: 767px) {
			/* {tekst_masthead_afbeelding_klein} */
			.section--masthead .section--masthead__outer {
				background-image: url({exp:ce_img:single src='{tekst_masthead_afbeelding_klein}' width='480' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
			}
		}
		@media (min-width: 768px) {
			/* {tekst_masthead_afbeelding} */
			.section--masthead .section--masthead__outer {
				background-image: url({exp:ce_img:single src='{tekst_masthead_afbeelding}' width='1920' crop='yes|center,center' allow_scale_larger='yes' url_only='yes'});
			}
		}
	</style>
	{/layout:set}
	
	<section class="section section--masthead section--masthead-compact mb-3">

		<div class="section--masthead__outer">
			
			{_partial_breadcrumb}
			
			<div class="section--masthead__inner">
				<div class="container">
					
					<hgroup class="page-title">
						<h1><span>{tekst_masthead_paginatitel}</span></h1>
						{if tekst_masthead_subtitel != ""}<p class="lead"><span>{tekst_masthead_subtitel}</span></p>{/if}
					</hgroup>
					
				</div><!-- /container -->	
				
			</div><!-- /inner -->
			
		</div><!-- /outer -->		
			
	</section><!-- /section -->
	
	{/if}
				
	<section class="section section--cms-page py-3">
		<div class="container">

			{if tekst_masthead_tonen != '1'}
				{_partial_breadcrumb}
			{/if}
	
			<div class="block block--text">
			
				<hgroup class="block__title">
					<h1><span>{tekst_paginatitel}</span></h1>
				</hgroup>
				
				{if tekst_afbeelding != ""}
				<figure class="block__figure">
					{exp:ce_img:single
						src="{tekst_afbeelding}"
						width="1170"
						height="600"
						crop="yes|center,center"
						allow_scale_larger="yes"
						title="{tekst_afbeelding:title}"
						alt="{tekst_afbeelding:alt_text}"
						class="img-responsive"
					}					
				</figure>
				{/if}
				
				<div class="block__content">
					
					{tekst_inhoud}
					
				</div>
			</div>

		</div><!-- /container -->			
	</section><!-- / section -->

	{if tekst_sectie:total_rows > 0}
		{tekst_sectie}
		<section class="section section--internship section--contrast section--breakout section--breakout-right">
			<div class="container">
				
				<div class="row">
					<div class="col-md-6">
						
						<div class="block block--text">
							
							<header class="block__title">
								<h2><span>{tekst_sectie:titel}</span></h2>
							</header>
							
							<div class="block__content">
								
								{tekst_sectie:inhoud}
								
							</div>
							
						</div><!-- /block -->
						
					</div><!-- /col -->
					
					<div class="col-md-6">
										
						<figure class="figure">
							{exp:ce_img:single
								src="{tekst_sectie:afbeelding}"
								width="1220"
								height="888"
								crop="yes|center,center"
								allow_scale_larger="yes"
								title="{tekst_sectie:afbeelding:title}"
								alt="{tekst_sectie:afbeelding:alt_text}"
								class="img-responsive"
							}
						</figure>
														
					</div><!-- /col -->
				</div><!-- /row -->
				
			</div><!-- /container -->
		</section><!-- /section -->
		{/tekst_sectie}
	{/if}
	
	
	{/exp:channel:entries}
